# Dev environment
pip
autopep8
dos2unix



# App
flask
Flask-limiter
gunicorn
unidecode
stripe
requests
werkzeug
pyngrok
pillow
pandas
openpyxl

# Google
google
google-cloud-storage
google-cloud-firestore
google-cloud-secret-manager
google-auth-oauthlib
google-api-python-client
google-auth-httplib2
firebase-admin

