# Dev environment
pip
autopep8
google
google-cloud-storage
google-cloud-firestore
google-cloud-secret-manager
google_auth_oauthlib



# App
flask
Flask-limiter
gunicorn
unidecode
stripe


requests
firebase-admin

werkzeug
pyngrok

pillow
pandas
openpyxl
dos2unix

