

form {
    font-size: 2dvh;
}
input {
    margin: 0 1dvh;
}
body {
    width: 100dvw;
    height: fit-content;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 10%;
    height: 80dvh;
    max-height: 80dvh;

    width: 80%;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.1);
    -ms-overflow-style: scrollbar;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
}
.productes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;




}
.producte {
    display: flex;
    flex-direction: column;
    margin-top: 3dvh;
    background-color: rgba(136, 136, 136, 0.2);
    padding: 1%;
    align-items: flex-start;

}
.delete {
    background-color: red;
    color: white;
}
.hide_product {
    background-color: orange;
    color: black;
}
.unhide_product {
    background-color: rgba(0, 128, 0, 0.42);
    color: black;
}
.producte-titol {
    font-size: 3dvh;
}
.producte-id {
    font-size: 2dvh;
    margin-bottom: 2dvh;

}
#descripcio{
    padding-bottom: 3dvh;
    font-size: 2dvh;
    margin: 1% 1% 2% 1%;
    max-width: 98%;
    min-width: 98%;
    height: fit-content;
}
input, option ,select, textarea {
    font-size: 2dvh;
    width: max-content;
    margin: 1dvh 1dvh 2dvh 1dvh;
}
#unica {
    display: inline-block;
}
.fotos {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.foto_producte {
    width: 30dvh;
    height: 30dvh;
    background-position: center;
    background-size: cover;
}









.page-block{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin-bottom: 3dvh;
}

.page-name{
    font-size: 3dvh;
    text-align: center;
}

.loc-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.loc-key{
    font-size: 2dvh;
    text-decoration: underline;
    font-weight: bold;
}
.loc-key em{
    text-decoration: none;
    font-weight: normal;
}

.lan-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lan-name{
    font-size: 2dvh;
    font-weight: bold;
}
.lan-value{
    margin: 1dvh;
    height: fit-content;
    min-height: 0;
    padding: 0;
}


