
body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.fons_collecio{
    position: relative;
    height: 100dvh;
    align-content: center;
    justify-items: center;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.descripcio {
    text-align: center;
    font-size: 2dvh;
    position: relative;
}
.titol-collecio {
    position: relative;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5dvh;
    font-weight: bold;
    color: rgba(240, 248, 255, 0.9);
    height: 20dvh;
    user-select: none;
    margin: 5dvh;

}
.content {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

.title:hover {
    cursor: pointer;
}


@media screen and (orientation: portrait) {
    .subtitle{
        font-size: 2dvw;
    }
}