
body {
    padding: 0;
    margin: 0;
    width: 100%;
}
.content {
    height: 90dvh;

}

.fons_collecio{
    position: relative;
    height: 100%;
    align-content: center;
    justify-items: center;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.descripcio {
    text-align: center;
    font-size: 2.3dvh;
    position: relative;
    color: #FFFFFF;
}
.titol-collecio {
    display: flex;
    position: relative;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 9.3dvh;
    font-weight: normal;
    color: rgba(240, 248, 255, 0.9);
    height: 15dvh;
    user-select: none;
    margin: 0 5dvh 0 5dvh;
    cursor: pointer;
}
.titol-collecio:hover {
    transition: color 0.3s ease;
    color: rgba(0, 0, 0, 0.9);
}

.content {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}



@media screen and (orientation: portrait) {
    .subtitle{
        font-size: 2dvw;
    }
}