


.fons_collecio{
    position: relative;
    height: 100dvh;
    align-content: center;
    justify-items: center;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.descripcio {
    text-align: center;
    font-size: 2dvh;
    position: relative;
}
.title {
    position: relative;
    width: fit-content;

}
.content {
    position: relative;
    width: 100%;
}

.title:hover {
    cursor: pointer;
}


@media screen and (orientation: portrait) {
    .subtitle{
        font-size: 2dvw;
    }
}