#content-fetamida{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 88dvh;
    max-width: 100dvw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgba(100, 149, 237, 0.2);
    margin-top: 12dvh;
}
.scroller{
    height: 100%;
    cursor: pointer;
    width: 25%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    transition: left 1s;
}
#scroll-left{
    left:0dvw;
}
#scroll-right{
    left:75dvw;
}
.fetamida-section{
    margin-top: 3vh;
    height: 85dvh;
    display: flex;
    flex-direction: column;
    width: 75dvw;
    min-width: 75dvw;
    justify-content: center;
    align-items: center;
    transition: min-width linear 0.9s;
    ul{
        width: 80%;
        li{
            width: 100%;
        }
    }
}

#fetamida-centre {
    background-color: orange;
    width: 25dvw;
    min-width: 25dvw;
}

#fetamida-centre.current-section, #fetamida-centre.left-section{
    width: 80dvw;
    min-width: 80dvw;

}
.left-section{
}
.right-section{
}

.section-text{
    width: 80%;
    font-size: 2dvh;
    white-space: pre-line;
}


#section-menu{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 12dvh;
    left: 0;
    width: 100dvw;
    background-color: cyan;
    transition: left linear 0.5s;
    justify-content: space-evenly;
    align-items: center;
    height: 3dvh;
    z-index: 10;
}

.to-section{
    display: flex;
    width: 25%;
    font-size: 2dvh;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
}
.to-section.current-section{
    width: 100%;
}


#fetamida-slideshow{
    width: 100%;
    max-width: 100%;
    height: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding:1dvw;

}



.box{
    width: 19.8dvw;
    height: 19.8dvw;
    margin-bottom: 0.2dvw;
    background-color: black;
}