
.back{
    background-color: rgba(255, 255, 255, 0);
}


.content {
    display: block;
    width: 100%;
    position: absolute;
    align-content: start;

}
.capcal{
    position: fixed;
    display: flex;
    flex-wrap: wrap  ;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: end;
    align-content: end;
    z-index: 1;
    height: 15dvh;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 3dvh;

}

.subtitle, .titol-galeria{
    margin: 0;
    color: black;
    display: flex;
    height: fit-content;

}
.titol-galeria{
    font-size: 5dvh;
    cursor: default;
}
.subtitle{
    font-size: 2dvh;
}

.galeria {
    position: relative;
    display: flex;
    top: 0;
    height: max-content;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 10dvh;
    justify-content: center;
    overflow-y: hidden;
}
.spacer{
    position: relative;
    top: 0;
    width: 100%;
    height: 20dvh;
}
.producte{
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 20%;
    max-width: 40%;
    width: 40dvh;
    height: 60dvh;
    position: relative;
    border-radius: 15px;
    margin: 1dvh;
    user-select: none;
    align-content: start;
    padding-bottom: 3dvh;

}
@media screen and (orientation: landscape) {
    .producte:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;

        .imatge {
            height: 60%;
            transition: 0.3s ease;
        }

        .descripcio {
            display: flex;
            transition: display ease 0.3s;
        }
    }
}
.descripcio{
    display: none;
    font-size: 2dvh;
    padding-right: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    overflow-y: hidden;

}
.imatge{
    position: relative;
    height: 80%;
    width: 100%;
    max-height: 80%;
}

.imatge img{
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    user-select: inherit;
}
.detalls{
    max-height: 100%;
    width: 100%;
    padding: 1dvh;
    user-select: inherit;
}
.nom{
    font-size: 3dvh;
    font-weight: bold;
    user-select: inherit;
}
.subtiol{
    font-size: 2dvh;
    user-select: inherit;
}

.preu{
    text-align: right;
    padding-right: 5%;
    font-size: 3dvh;
    user-select: inherit;

}





@media screen and (orientation: portrait) {
    .galeria {
        justify-content: center;
    }
    .producte{
        min-width:  80dvw;
        max-width:  80dvw;
        width: 80dvw;
        user-select: none;
    }
    .capcal{

        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .titol-galeria{

        padding-top: 1dvh;
        font-size: 5dvh;
        text-align: center ;
    }
    .subtitle{
        padding-top: 1dvh;
        font-size: 2dvh;
    }


}
