
.back{
    background-color: rgba(255, 255, 255, 0);
}


.content-galeria {
    display: block;
    width: 100%;
    position: absolute;
    align-content: start;

}
.capcal{
    position: fixed;
    display: flex;
    flex-wrap: wrap  ;
    top: 0;
    left: 0;
    width: 94%;
    justify-content: left;
    align-items: end;
    align-content: end;
    z-index: 1;
    height: 15dvh;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 3dvh;
    padding: 3dvh;

}

.filtres {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    margin-right: 3dvh;
    z-index: 2;
}

.desplegable-filtres {
    background-color: rgba(0, 234, 255, 0.8);
    height: 10dvh;
    width: 10dvh;
    position: absolute;
    right: 0;
    display: none;
    z-index: 1;
}

.boto-filtres:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
.boto-filtres:hover ~ .desplegable-filtres{
    display: flex;
}
.desplegable-filtres:hover{
    display: flex;
}








.subtitle, .titol-galeria{
    margin: 0;
    color: black;
    display: flex;
    height: fit-content;

}
.titol-galeria{
    font-weight: bold;
    font-size: 5dvh;
    cursor: default;
}
.subtitle{
    font-size: 2dvh;
}

.galeria {
    position: relative;
    display: flex;
    top: 0;
    height: max-content;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 10dvh;
    justify-content: flex-start;
    overflow-y: hidden;
}
.spacer{
    position: relative;
    top: 0;
    width: 100%;
    height: 20dvh;
}
.producte{
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 20%;
    max-width: 40%;
    width: 23%;
    height: fit-content;
    position: relative;
    padding: 1% 0% 3dvh 0%;
    margin: 0 1% 0 1%;
    user-select: none;
    align-content: start;


}

.descripcio{
    height: 20dvh;
    display: none;
    font-size: 2dvh;
    padding-right: 0%;
    padding-bottom: 5%;
    white-space: pre-wrap;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;



}
.imatge{
    position: relative;
    height: 80%;
    width: 100%;
    max-height: fit-content;
}

.imatge img{
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 23dvw;
    border-radius: 0px;
    user-select: inherit;
}
.detalls-galeria{
    max-height: 100%;
    width: 100%;
    padding-top: 1dvh;
    user-select: inherit;
}
.nom{
    font-size: 2dvh;

    user-select: inherit;
    max-width: 60%;
}
.subtiol{
    font-size: 1.5dvh;
    user-select: inherit;
}

.preu{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5%;
    font-size: 3dvh;
    user-select: inherit;
}
.desde {
    font-size: 2dvh;
    padding-right: 1dvh;
}
.colors{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: 3dvh;
    align-items: center;
    justify-content: space-between;
    max-width: 40%;
    top: 25dvw;
    right: 0;
    padding-right: 0;
}
.cercle {
    display: block;
    height: 1.5dvh;
    width: 1.5dvh;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 0dvh;
    cursor: pointer;
}




@media screen and (orientation: landscape) {
    /*.producte:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;

        .imatge {
            height: 60%;
            transition: 0.3s ease;
        }
        .colors{
            top: 60%;
            transition: 0.3s ease;
        }

        .descripcio {
            display: block;
            transition: display ease 0.3s;
        }

    }*/
    .cercle:hover {

}
}

@media screen and (orientation: portrait) {
    .galeria {
        justify-content: center;
    }
    .producte{
        min-width:  80dvw;
        max-width:  80dvw;
        width: 80dvw;
        user-select: none;
        height: 100dvw;
    }
    .capcal{

        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .titol-galeria{

        padding-top: 1dvh;
        font-size: 5dvh;
        text-align: center ;
    }
    .subtitle{
        padding-top: 1dvh;
        font-size: 2dvh;
    }
    .imatge img{
        width: 100%;
        height: 80dvw;
    }
    .colors {
        top: 80%
    }


}
