

/* Estils generals per als enllaços */
.content-index {
    position: relative;
    display: block;
    width: 100dvw;
    height: 100dvh;
    align-content: center;
    justify-content: center;

}
#index-subtitle{
    position: relative;
    display: flex;
    width: 90%;
    height: fit-content;
    font-size: 3dvh;
    padding-top:5dvh;
    padding-bottom:5dvh;
}



body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.capcal , .spacer {
    display: none;
}
.content-galeria{
    position: relative;
}


.slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}



.title{
    background-image: url('/static/media/logo-complet-blanc.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10dvh;
    font-weight: bold;
    color: rgba(240, 248, 255, 0.9);
    height: 20dvh;
    user-select: none;
    padding: 5dvh 0dvh 5dvh 0dvh;
    position: fixed;
    width: 60%;
    top:35dvh;
    left: 20%;
    z-index: 5;
}

.title:hover{
    cursor: default;
}

@media screen and (orientation: portrait) {
    .title{
        font-size: 5dvw;
    }
}

