
/* Add styles here */

@font-face {
  font-family: myFont;
  src: url('/static/fonts/AlteHaasGroteskRegular.ttf');
}

* {
    font-family: myFont;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


body {
    padding: 0 0;
    margin: 0 0;
    width: 100dvh;
    display: flex;
    flex-direction: column;

}



.back {
    display: flex;
    position: fixed;
    top: 0dvh;
    left: 0dvh;
    z-index: 1;
    height: fit-content;
    width: fit-content;
    color: black;
    padding:  1dvh 1dvw;
    font-size: 2.5dvh;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.5);

    text-align: center;
    align-content: center;
    border: transparent;
    user-select: none;
}
.back-arrow {
    height: 4dvh;
    width: 4dvh;
    rotate: 180deg;

}

.back:hover {
    color: white;
    cursor: pointer;

}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}


.navigation-left {
    display: flex;
    width: 60dvh;
    left: 0;
    top: 0;
    position: fixed;
    height: fit-content;
    transition: 0.3s ease;
    flex-wrap: wrap;
    padding-left: 1dvh;
    justify-content: flex-start;
}

.navigation-right {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    height: 6dvh;
    width: fit-content;
    padding-right: 3dvw;
    z-index: 200;

}



.dropbtn, .menu-simple {
    color: #ffffff;
    font-size: 1.55dvh;
    font-weight: bolder;
    border: none;
    user-select: none;
    margin:  0 1dvh;

}

.dropbtn, .menu-simple {
    background-color: rgba(0, 0, 0, 0);
    height: 6dvh;
    transition: 0.3s ease;
    padding: 0 2dvh;
    cursor: pointer;

}
.menu-simple {
    display: none;
    flex-direction: row;
    align-items: center;
}


#menu {
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 20%;
    height: 94dvh;
    left: 0;
    bottom: 0;
    z-index: 10;
    margin-top: 6dvh;
}

#menu-button:hover ~ #menu {
        display: flex;
    }
#menu-button-simple:hover ~ #menu {
        display: flex;
    }
#menu:hover {
    display: flex;
}

#contacte-menu, #projecte-menu {
    display: none;
}


.title{
    background-image: url('/static/media/logo-complet-blanc.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10dvh;
    font-weight: bold;
    color: rgba(240, 248, 255, 0.9);
    height: 7dvh;
    user-select: none;
    position: relative;
    width: 20dvw;
    top:0;
    left: 0;
    z-index: 5;
    transition: height 0.3s ease-out;
    cursor: pointer;
}

.language{
    align-content: center;
    padding: 1dvh;
    cursor: pointer;
    min-width: 4dvh;
    text-align: center;
    font-size: 1.5dvh;
    user-select: none;
    color: rgba(255, 255, 255, 0.8);

}
.language:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
#current{
    font-weight: bolder;
}

.cart {
    display: flex;
    position: relative;
    right: 0;
    bottom: 0;
    width: min-content;
    height: 6dvh;
    align-items: center;
    margin-right: 0;
    cursor: pointer;
    z-index: 10;
}
.shopping-cart {
    position: relative;
    display: block;
    align-content: center;
    text-align: center;
    vertical-align: center;
    height: 4dvh;
    width: 4dvh;


}
.shopping-cart:hover {
    transition: 0.3s ease;
    transform: rotate(360deg);
}
.icon-menu-simple {
    position: relative;
    display: block;
    align-content: center;
    text-align: center;
    vertical-align: center;
    height: 4dvh;
    width: 4dvh;


}
.icon-menu-simple:hover {
    transition: 0.3s ease;
    transform: rotate(360deg);
}

.titol-submenu {
    font-size: 3dvh;
    padding-left: 1dvh;
}
.item-submenu {
    font-size: 2dvh;
    padding-left: 2dvh;
    cursor: pointer;
}
.item-submenu:hover {
    text-decoration: underline;

}


@media screen and (orientation: portrait) {
    .navigation {
        justify-content: center;
        background-color: rgba(255, 255, 255, 0);
    }
    .menu-simple {
        display: flex;
    }
    .dropbtn {
        display: none;
    }
    #contacte-menu, #projecte-menu {
        display: inline-block;
    }
    #menu {
        width: 80%;
    }


    .navigation-left {
        display: flex;
        width: 100dvw;
        background-color: rgba(0, 0, 0, 0.2);
        justify-content: flex-start;
    }
    .navigation-right {
        display: none;
        position: fixed;
        top: 0;
        right: 0;

    }

}
