
body {
    padding: 0 0;
    margin: 0 0;
}



.back {
    position: fixed;
    top: 0dvh;
    left: 0dvh;
    z-index: 1;
    height: fit-content;
    color: black;
    padding:  1dvh 1dvw;
    font-size: 2.5dvh;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: max-content;
    text-align: center;
    align-content: center;
    border: transparent;
}

.back:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
}

.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100dvw;
    height: 6dvh;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}


.navigation-left {
    display: flex;
    width: max(50dvh);
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
    position: fixed;
    height: 6dvh;
    align-items: center;
    transition: 0.3s ease;
}
.navigation-right {
    display: flex;
    height: 100%;
    width: fit-content;
    margin-right: 3dvw;
}



.dropbtn, .dropdown-btn {
     color: black;
    font-size: 2.5dvh;
    font-weight: bolder;
    border: none;
}

.dropbtn {
    background-color: rgba(255, 255, 255, 0);
    height: 6dvh;

    transition: 0.3s ease;

}

.dropdown-btn{
    background-color: rgba(255, 255, 255, 0.8);
    min-width: max-content;
    width: 100%;
    justify-content: left;
    text-align: left;
    position: relative;
    top: 0;
    height: 6dvh;
    font-size: 2.5dvh;

}


.dropdown{
display: block;
    width: min-content;
    position: sticky;
    margin: 0;
    padding: 0;
    height: min-content;

}


.dropdown-content {
    display: none;
    position: absolute;
    bottom: 0;
    transform: translateY(-18dvh);
    transition: display 0.3s ease;
    height: 0;
    min-width: 0;
    max-width: min-content;
    background-color: orange;
    margin-bottom: 6dvh;

}


.dropdown:hover .dropdown-content {
    display: block;transition: display 0.3s ease;
}


.dropdown:hover {
    .dropbtn  {background-color: rgba(0,0,0,0.5);
    }
}
.dropbtn:hover, .dropdown-btn:hover {
    cursor: pointer;
}



.dropdown-btn:hover {background-color: rgba(0,0,0,0.2);
    color: white;
}


.dropdown:hover {
    .dropbtn, .navigation a {color: white;
    }
}


.language{
    align-content: center;
    padding: 1dvh;
    cursor: pointer;
}
.language:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
#current{
    font-weight: bolder;
}


@media screen and (orientation: portrait) {
    .navigation {
        justify-content: center;
    }
    .navigation-left {
        width: 100dvw;
    }
}
