
body {
    width: 100%;
    height: max-content;
}
.content {
    display: flex;
    width: 100%;
    position: relative;
    height: 100dvh;

}

.fotos{
    display: flex;
    width: 80dvw;
    min-width: 40dvw;
    padding-top: 6dvh;
    flex-wrap: wrap;
    justify-content: space-between;



}

.foto_producte {
    position: relative;
    width: 49.5%;
    height: 90dvh;
    background-position: center;
    background-size: cover;
    margin-bottom: 1dvh;
}
.titol_producte {
    position: relative;
    font-size: 10dvh;
    margin-bottom: 1dvh;
    height: max-content;
}
.tipus_producte {
    font-size: 5dvh;
    color: #808080;
}


.detalls{
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    width: 40dvw;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 3dvw;
    justify-content: start;
    padding-top: 5vh;
    padding-bottom: 6vh;
    padding-right: 5vh;

}

.descripcio_producte {
    font-size:  2.5dvh;
    position: relative;
    height: fit-content;
    width: 80%;
    margin-bottom: 5dvh;
}


.detalls_generals{
    margin-top: auto ;
    font-size: 2dvh;
    line-height: 200%;
    position: relative;
    width: 80%;



}
.small-icon {
    position: relative;
    display: inline-block;
    align-content: center;
    text-align: center;
    vertical-align: center;
    margin-right: 1dvh;
    height: 2dvh;
    top: 0.2dvh;

}

.titol-materials, .titol-variacions {
    font-size: 2dvh;
    padding-bottom: 1dvh;
    padding-top: 2dvh;
}
.materials {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    position: relative;
    width: 40%;
    height: max-content;
}

.material-boto {
    font-size: 2dvh;
    width: fit-content;
    padding: 0.5dvh 1dvh 0.5dvh 1dvh;
    margin-right: 1dvh;
    margin-top: 1dvh;
    border: 0.2dvh solid rgba(0, 0, 0, 1);
    border-radius: 1.2dvh;
    transition: 0.3s ease
}
.material-boto:hover{
    background-color: rgb(255, 255, 255) !important;
}
#selected-material {
    border: 0.5dvh solid rgba(0, 0, 0, 1);
}



.variacions {
    display: block;
    width: fit-content;
}


.variacio-text {

    border-radius: 1.2dvh;
    padding: 0.5dvh 1dvh 0.5dvh 1dvh;
    border: 0.2dvh solid rgb(128, 128, 128);

}
.variacio{
    display: flex;
    position: relative;
    height: max-content;
    font-size: 2dvh;
    width: 100%;
    padding: 0.5dvh 1dvh 0.5dvh 0;
    margin-right: 1dvh;
    align-items: center;
    transition: 0.3s ease
}
.variacio:hover{cursor: pointer;
    .variacio-text {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.variacio-cercle {
    position: relative;
    display: inline-block;
    height: 1dvh;
    width: 1dvh;
    background-color: white;
    border-radius: 50%;
    margin: 0 0.5dvh;
    border: 0.2dvh solid black;
}


#selected-var-text {
    border: 0.5dvh solid rgba(0, 0, 0, 1) !important;
}
#selected-var-cercle {
    background-color: #039be5!important;
}


.variacio-preu {
    position: relative;
    right: 0;
    margin-left: 3dvh;
}





@media screen and (orientation: landscape) and (orientation: portrait) {
    .navigation-left {
        width: 40dvw;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 0;
        margin: 0;

    }
    .navigation {
        background-color: rgba(255, 255, 255, 0);
    }
}


@media screen and (orientation: portrait) {

    .content {
        display: block;
        align-content: start;
        height: fit-content;
        margin-bottom: 6dvh;
        padding-bottom: 6dvh;
    }
    .fotos{
        width: 90%;
        margin-left:5% ;
        margin-right:5% ;
    }
    .foto_producte {
        width: 100%;
        height: 50dvh;
    }

    .detalls {
        width: 80%;
        min-height: 40dvh;
        height: max-content;
        padding-bottom: 6dvh;
        padding-left: 10%;
        padding-right: 5dvw;
        overflow-x: unset;
        overflow-y: unset;
    }

    .descripcio_producte {
        font-size: 3dvh;
        width: 100%;
        height: max-content;
        min-height: max-content;
    }

    .detalls_generals {
        height: max-content;
        font-size: 2dvh;
        position: relative;
        top: 15dvh;
        width: 100%;;
        margin-bottom: 6dvh;
    }
    .small-icon {
        display: inline-flex;
        height: 2dvh;
    }
    .titol_producte {
        font-size: 8dvh;
    }
    .back {
        display: none;
    }
}

