
body {
    width: 100%;
    height: max-content;
}
.content {
    display: flex;
    width: 100%;
    position: relative;
    height: 100dvh;

}
.foto_producte {
    position: relative;
    width: 40%;
    background-position: center;
    background-size: cover;
}
.titol_producte {
    position: relative;
    top: 5dvh;
    font-size: 10dvh;
    margin-bottom: 3dvh;
    height: max-content;
}
.detalls{
    scroll-behavior: smooth;
    height: 100%;
    width: 60%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 3dvw;

}
.descripcio_producte {
    font-size:  2.5dvh;
    position: relative;
    height: fit-content;
    top: 5dvh;
    width: 80%;
}
.detalls_generals{
    height: max-content;
    font-size: 2dvh;
    line-height: 200%;
    position: absolute;
    bottom: 10dvh;
    width: 60%;
    padding-bottom: 6dvh;

}
.small-icon {
    position: relative;
    display: inline-block;
    align-content: center;
    text-align: center;
    vertical-align: center;
    margin-right: 1dvh;
    height: 2dvh;
    top: 0.2dvh;

}


.opcions {
    position: relative;
    background-color: #ffa100;
    width: 100%;
}
.material{
    width: 100%;
}





@media screen and (orientation: portrait) {
    .content {
        display: block;
        align-content: start;
        height: fit-content;
        margin-bottom: 6dvh;
        padding-bottom: 6dvh;
    }

    .foto_producte {
        width: 100dvw;
        height: 50dvh;
    }

    .detalls {
        width: 100%;
        min-height: 40dvh;
        height: max-content;
        padding-bottom: 6dvh;
        padding-left: 1dvw;
        padding-right: 5dvw;
        overflow-x: unset;
        overflow-y: unset;
    }

    .descripcio_producte {
        font-size: 3dvh;
        width: 80%;
        height: max-content;
        min-height: max-content;
    }

    .detalls_generals {

        height: max-content;
        font-size: 2dvh;
        position: relative;
        top: 15dvh;
        width: fit-content;
        padding-right: 5dvw ;
        margin-bottom: 6dvh;
    }
    .titol_producte {
        font-size: 8dvh;
    }
    .small-icon {
        display: inline-flex;
        height: 2dvh;


    }
}

