
body {
    width: 100%;
    height: max-content;
}
.content-producte {
    display: flex;
    width: 100%;
    position: relative;
    height: fit-content;
}

.fotos{
    display: flex;
    width: 50dvw;
    height: 100dvh;
    max-height: 100dvh;
    min-width: 40dvw;
    overflow: hidden;
    overflow-scrolling: touch;
    overflow-y: scroll;
    padding-top: 0dvh;
    flex-wrap: wrap;
    justify-content: space-between;



}

.foto_producte {
    position: relative;
    width: 100%;
    height: 95dvh;
    background-position: center;
    background-size: cover;
    margin-bottom: 1dvh;
}
.titol_producte {
    position: relative;
    font-size: 10dvh;
    margin-bottom: 1dvh;
    height: max-content;
}
.tipus_producte {
    font-size: 5dvh;
    color: #808080;
    display: flex;
    align-items: center

}
.punt-subtitol-producte {
    margin: 0 1dvh;
    color: #000000;
}
.subtitol-producte, .punt-subtitol-producte {
    display: inline-flex;
    width: fit-content;
    font-size: 3dvh;
    height: 100%;
    align-items: end;
}

.detalls{
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    width: 40dvw;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 3dvw;
    justify-content: start;
    padding-top: 5dvh;
    padding-bottom: 6dvh;
    padding-right: 5dvh;

}

.descripcio_producte {
    font-size:  2.5dvh;
    position: relative;
    height: fit-content;
    width: 100%;
    margin-bottom: 2dvh;
    margin-top: 2dvh;
}

.opcoes{
    display: flex;
    flex-direction: column;
}
.detalls_generals{
    margin-top: auto ;
    font-size: 2dvh;
    line-height: 200%;
    position: relative;
    width: 80%;



}
.small-icon {
    position: relative;
    display: inline-block;
    align-content: center;
    text-align: center;
    vertical-align: center;
    margin-right: 1dvh;
    height: 2dvh;
    top: 0.2dvh;
}
.small-icon:hover {
    transition: 0.3s ease;
    transform: rotate(360deg);
}

.titol-materials, .titol-variacions {
    font-size: 2dvh;
    padding-bottom: 1dvh;
    padding-top: 2dvh;
}
.materials {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    position: relative;
    width: 40%;
    height: max-content;
    margin-bottom: 2dvh;
}

.material-boto {
    font-size: 2dvh;
    width: 4dvh;
    height: 4dvh;
    padding: 0.5dvh 1dvh 0.5dvh 1dvh;
    margin-right: 1dvh;
    margin-top: 1dvh;
    border: 0.2dvh solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    transition: 0.3s ease
}
.material-boto:hover{
    /*background-color: rgba(255, 0, 234, 0) !important;*/
    opacity: 20%;

}
#selected-material {
    border: 0.4dvh solid rgba(0, 0, 0, 1);
}



.variacions {
    display: block;
    width: fit-content;
}


.variacio-text {

    border-radius: 1.2dvh;
    padding: 0.5dvh 1dvh 0.5dvh 1dvh;
    border: 0.2dvh solid rgb(128, 128, 128);

}




#selected-var-text {
    border: 0.5dvh solid rgba(0, 0, 0, 1) !important;
}
#selected-var-cercle {
    background-color: #039be5!important;
}


.variacio-preu {
    position: relative;
    right: 0;
    margin-left: 3dvh;
}

.talles {
    display: block;
    width: 100%;

}
.talla-unica, .talla {
    font-size: 2dvh;
    height: 4dvh;
    width: 8dvh;
}
#info-talles{
    padding-left: 1dvh;
}

#selected-talla {
    border: 0.5dvh solid rgba(0, 0, 0, 1);
}
.opcions {
        font-size: 2.5dvh;
    }
    .color-selector{
        font-size: 2.5dvh;
    }
    .color-opcion {
        font-size: 2.5dvh;
    }
.preu-final {
    display: inline-block;
    font-size: 3dvh;
}
.afegir_carret{
    font-size: 2dvh;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    text-decoration: underline;
    text-underline-offset: 0.5dvh;
    cursor: pointer;
}

.popup-info {
    display: none;
    position: fixed;
    z-index: 50;
    border: black 0.2dvh solid;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 100);
    padding: 5%;



}
.translucid-screen{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;



    z-index: 45;
}


.clickable{
    cursor: pointer;
}
.under-hover:hover{
    text-decoration: underline;
    text-underline-offset: 0.5dvh;
}
#missing-info{
    display: none;
    font-size: 2dvh;
    color: #ff0000;
}
.popup-cross {
    position: absolute;
    right: 0;
    top: 0;
}






@media screen and (orientation: landscape) and (orientation: portrait) {
    .navigation-left {
        width: 40dvw;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 0;
        margin: 0;

    }
    .navigation {
        background-color: rgba(255, 255, 255, 0);
    }
}


@media screen and (orientation: portrait) {

    .content-producte {
        display: block;
        align-content: start;
        height: fit-content;
        margin-bottom: 6dvh;
        padding-bottom: 6dvh;
    }
    .fotos{
        width: 100%;
        height: 100dvw;
        margin-left:0% ;
        margin-right:0% ;
        flex-wrap: nowrap;
        flex-direction: row;
        overflow-y: hidden;
        max-width: 100%;
        overflow-x: scroll;
        -ms-overflow-style: scrollbar;  /* IE and Edge */
        scrollbar-width: thin;  /* Firefox */
    }
    .foto_producte {
        width: 100dvw;
        height: 100dvw;
        min-width: 100dvw;
    }

    .detalls {
        width: 80%;
        min-height: 40dvh;
        height: max-content;
        padding-bottom: 6dvh;
        padding-left: 10%;
        padding-right: 5dvw;
        overflow-x: unset;
        overflow-y: unset;
    }

    .descripcio_producte {
        font-size: 3dvh;
        width: 100%;
        height: max-content;
        min-height: max-content;
        text-align: justify;
        text-justify: auto;
        white-space: pre-line;
    }

    .detalls_generals {
        height: max-content;
        font-size: 2dvh;
        position: relative;
        top: 15dvh;
        width: 100%;;
        margin-bottom: 6dvh;
    }
    .small-icon {
        display: inline-flex;
        height: 2dvh;
    }
    .titol_producte {
        font-size: 8dvh;
    }
    .back {
        display: none;
    }
}


.content-galeria {
    position: relative;
}
.capcal {
    position: relative;
}
.spacer {
    display: none;
}
.price-tag{
    display: none;
}
.hide {
    display: none;
}