
body {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.content-producte {
    display: flex;
    width: 100%;
    position: relative;
    height: 80dvh;
    justify-items:center;
	align-items: center;
	justify-content: center;
	margin-top:7dvh;
}

.main-foto{
	position:relative;
    display:flex;
	width: 60dvw;
	height: inherit;
    background-position: center;
    background-size: cover;
}

.more-images{
	position: absolute;
	right: 0;
	bottom: 0;
	width: fit-content;
	padding: 0.5dvh;
}

#slideshow-producte {
	width: 60dvw;
	height: 80dvh;
	justify-items:center;
	align-items: center;
	justify-content: center;
    cursor: pointer;
    position: relative;
    flex-direction: column;
}

#fotos-producte{
    position: relative;
    display: flex;
    width: inherit;
    height: inherit;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.foto_producte {
    position: absolute;
    width: inherit;
    height: inherit;
    background-position: center;
    background-size: cover;
    left: 0;
    z-index: 3;
    transition:none;
    display:none;
}

.slideshow-button{
    position: absolute;
    font-size: x-large;
    z-index: 20;
    border-radius:50%;
    background-color: rgba(255,255,255,0.3);
    width: 8dvh;
    height: 8dvh;
    display:flex;
    text-align: center;
    justify-content:center;
    align-items:center;
    justify-items:center;
}

.slideshow-left{
    left: 4dvh;

}
.slideshow-right{
    right: 4dvh;
}
.previous, .current, .next{
	transition: left ease-in-out 0.4s;
	z-index:5;
	display:flex;
}
.previous{
	left:-80dvh;
}
.current{
	left:0;
	z-index:6;
}
.next{
	left:80dvh;
}

.bubbles{
    display: flex;
	height:2dvh;
	position: absolute;
	z-index: 10;
    bottom:0;
}
.bubble{
    display: flex;
	border-radius: 50%;
	height:2dvh;
	width:2dvh;
	background-color: black;
}


#main-details{
	position:relative;
	bottom:0;
	left:0;

	width: 92%;
	z-index:30;
	display:flex;
	justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    min-height: 13dvh;
}
#main-right, #main-left{
    position:relative;
    height: 13dvh;
    display:flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;

}

#main-left{
    align-items: start;
}

#main-right{
    align-items: end;
}

#titol_producte {
    position: relative;
    font-size: 5dvh;

    height: max-content;

}

#more-details{
	font-size: 2dvh;
    text-decoration: underline;
    text-underline-offset: 0.5dvh;
}

#buy{
    font-size: 2.2dvh;
    width: 20dvh;
    height: 5dvh;
    background-color: #000000;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
}


#all-details{
    position:relative;
	height:fit-content;
	background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-right: 5dvw;
    margin-left: 5dvw;
    max-width: 80dvh;

}

#product-description {
    font-size:  2.5dvh;
    position: relative;
    height: fit-content;
    margin-bottom: 2dvh;
    margin-top: 2dvh;
    text-align: justify;
}

#info{
}

.desplegable{
    height: fit-content;
}
.titol-desplegable {
    display: flex;
    justify-content: space-between;
    background-color: #e1e1e1;
    padding: 1%;
    align-items: center;
    height: fit-content;
    border-bottom: black solid 1px;
}
.titol-desplegable > h3 {
    margin-top: 0.2dvh;
    margin-bottom: 0.2dvh;
    height: fit-content;

}
.info-desplegable {
    display: none;
}
.arrow{
}

.popup-info {
    flex-direction: column;
    display: none;
    position: fixed;
    z-index: 50;
    border: black 0.2dvh solid;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 100);
    padding: 2%;
}


.translucid-screen{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 45;
}
.popup-cross {
    position: absolute;
    right: 0;
    top: 0;
}
#form{
    height: fit-content;
    display: none;
    flex-direction: row;
    width: 100%;
    background-color: rgb(255, 143, 0);
    position: relative;

}

#buy-options{
    margin-top:1dvh;
    padding-top: 2dvh;
    position:relative;
	background-color: purple;
	display:flex;
	width:100%;
    flex-direction: row;
    padding-bottom: 2dvh;
}

.option-field{
	padding-bottom: 1dvh;
	width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#missing-info{
    display: none;
}






@media screen and (orientation: portrait) {

    .main-foto {
        height: 80dvw;
        width: 80dvw;
    }
    .content-producte {
        height: fit-content;
    }

    #slideshow-producte {
        height: 80dvw;
        width: 80dvw;
    }

    #fotos-producte {
        height: 80dvw;
    }

    .previous, .current, .next {
    }

    .previous {
        left: -80dvw;
    }

    .next {
        left: 80dvw;
    }

    #main-details {
        flex-direction: column;
        padding-top: 2dvh;
        justify-content: flex-start;
        align-items: center;

    }

    #more-details {
        display: none;
    }

    #all-details {
        display: flex !important;
        padding-bottom: 2dvh;
    }
    #main-right, #main-left {
        width: auto;
    }
    .buy-options{
    	justify-content: center;
	align-items: center;
	justify-items: center;
	align-content: center;
	flex-direction: column;
    }
    .option-field{
    	width: 80dvw;
    }

}

