.content {
    display: flex;
    width: 100dvw;
    position: relative;
}
.foto_producte {
    position: relative;
    width: 40dvw;
    background-position: center;
    background-size: cover;
}
.titol_producte {
    position: relative;
    top: 1dvh;
    left: 3dvw;
    font-size: 8dvh;
}
.detalls{
    scroll-behavior: smooth;
    height: 100%;
    width: 60%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;


}
.descripcio_producte {
    font-size:  3dvh;
    position: relative;
    left: 3dvw;
    width: 60%;
}
.detalls_generals{
    width: 60%;
    font-size: 2dvh;
    position: relative;
    line-height: 200%;
    top: 5vh;
    left: 3vw;
}
.small-icon {
    position: relative;
    height: 2dvh;
    top: 0.2dvh;
}


@media screen and (orientation: portrait) {
    .content {
        display: block;
        align-content: start;
        height: 100dvh;
    }
    .foto_producte {
        width: 100dvw;
        height: 50dvh;
    }

    .detalls {
        width: 100dvw;
    }
}

@media screen and (orientation: portrait) {
    .descripcio_producte {
        font-size: 4dvw;
    }
    .detalls_generals {
        font-size: 3dvw;
    }
    .titol_producte {
        font-size: 8dvw;
    }
    .small-icon {
        height: 2dvw;
    }
}

