

body {

}


#admin-common{
	display:flex;
	flex-direction: column;
	align-items: center;
	position:relative;
	margin-top: 6dvh;
	max-height: calc(15vh - 6dvh);
	height: calc(15vh - 6dvh);
	width:100vw;

}
#admin-header{
    font-size: 2rem;
}
#admin-menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    font-size: 2dvh;
}
#admin-menu button {
    font-size: inherit;
}

#admin-page{
    display:flex;
	min-height:85vh;
	height:fit-content;
    width:100%;
    max-width: 100%;
}
.admin-content{
	width:fit-content;
	min-width: 96%;
	max-width:96%;
	padding: 2%;
	display:flex;
	flex-direction: column;
	-ms-overflow-style: scrollbar;  /* IE and Edge */
	scrollbar-width: thin;  /* Firefox */
	height: fit-content;

    align-items: center;
}







.product-container{
	width: 94%;
	max-width: 96%;
	padding: 2%;
	background-color: rgba(0, 255, 255, 0.1);
    position: relative;
    border: black solid 1px;
    margin-bottom: 1%;
}
.product-header{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 1%;

}
.product-header:hover{
    cursor: pointer;
}

.product-button{
    position: absolute;
    left: 1%;
}
.product-show, .product-hide{
    bottom:5%;
    font-size: large;
}
.product-hide{
    background-color: coral;
}
.product-show{
    background-color: lightgreen;
}
.product-delete{
    top: 5%;
    background-color: orangered;
    color: white;
}


.product-title{
    font-size: x-large;
    font-weight: bold;
}

.product-snapshot{
    position: absolute;
    right: 1%;
    height: 10vh;
    width: 10vh;
    background-size: cover;
    background-position: center;

}
.product-data{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-top: 2%;
}
.product-data.hide{
    display: none;
}

.product-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 2%;
    padding: 1%;
    font-weight: bold;
    font-size: large;
}
.product-element input{
    width: 30%;
    background-color: lightgoldenrodyellow;
    font-size: larger;
}
.product-element textarea{
    width: 80%;
    background-color: lightgoldenrodyellow;
    font-size: larger;
}
.product-element select{
    width: fit-content;
    font-size: larger;
}
.product-element.subtitle{
    display: none;
}




.product-images{
	display:flex;
	flex-wrap:wrap;
}

.product-image, .product-image-upload, .product-image-select{
	width:25vh;
	height:25vh;
	min-width:25vh;
	min-height:25vh;
    background-size: cover;
    background-position: center;
	justify-content: center;
	margin-right: 5%;
	margin-bottom:5%;
    position: relative;
}
.product-image-input{
	display:none;
}
.product-image-upload, .product-image-select{
	font-size: 2rem;
}


.product-image-left, .product-image-right{
    position: absolute;
    bottom:0;
    background-color: rgba(255, 255, 255, 0.8);
}
.product-image-left{
    left:0;
}
.product-image-right{
    right:0;
}

.product-image-delete{
    position: absolute;
    top:0;
    right:0;
    background-color: rgba(255, 0, 0, 0.8);
}
