

body {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}


#admin-common{
	display:flex;
	flex-direction: column;
	align-items: center;
	position:relative;
	margin-top: 6dvh;
	max-height: calc(15vh - 6dvh);
	height: calc(15vh - 6dvh);
	width:100vw;

}
#admin-menu{
	display:flex;
	justify-content: space-evenly;
	width:100%;
}
.admin-content{
	width:fit-content;
	min-width: 96%;
	max-width:96%;
	margin: 2%;
	display:flex;
	flex-direction: column;
	overflow: scroll;
	-ms-overflow-style: scrollbar;  /* IE and Edge */
	scrollbar-width: thin;  /* Firefox */
	height: fit-content;
	max-height: 96%;
    align-items: center;
}

#admin-page{
    display:flex;
	min-height:85vh;
	height:85vh;
	max-height: 85vh;
}


.producte {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom:1%;
    background-color: rgba(136, 136, 136, 0.2);
    padding:2%;
    align-items: flex-start;

}
.delete {
    background-color: red;
    color: white;
}
.hide_product {
    background-color: orange;
    color: black;
}
.unhide_product {
    background-color: rgba(0, 128, 0, 0.42);
    color: black;
}
.producte-titol {
    font-size: 3dvh;
}
.producte-id {
    font-size: 2dvh;
    margin-bottom: 2dvh;

}

.data{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

#descripcio{
    padding-bottom: 3dvh;
    font-size: 2dvh;
    margin: 1% 1% 2% 1%;
    max-width: 98%;
    min-width: 98%;
    height: fit-content;
}
input, option ,select, textarea {
    font-size: 2dvh;
    width: max-content;
    margin: 1dvh 1dvh 2dvh 1dvh;
}
#unica {
    display: inline-block;
}
.fotos {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}

.foto_producte {
	position:relative;
	display: flex;
	flex-direction:row;
    width: 30dvh;
    height: 30dvh;
    background-position: center;
    background-size: cover;
    justify-content:space-between;
}
.foto_producte label{
	width:fit-content;
}
.foto_producte button{
	width:10%;
	height:fit-content;
}
.del-img{
	accent-color:red;
}

.name-img{
	display:flex;
	position:absolute;
	bottom:0;
	width:100%;
	justify-content:center;
}




.page-block{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 94, 94, 0.1);
    margin-bottom: 3dvh;
    width: 99%;
    border: 1px solid black;
}

.page-name{
    font-size: 3dvh;
    text-align: center;
    font-weight: bold;
}

.loc-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-x:scroll;
    padding:2%;
}

.loc-key{
    font-size: 2dvh;
    text-decoration: underline;
    font-weight: bold;
    min-width:fit-content;
}
.loc-key em{
    text-decoration: none;
    font-weight: normal;
}

.lan-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lan-name{
	padding-left:3dvw;
    font-size: 2dvh;
    font-weight: bold;
}
.lan-value{
    margin: 1dvh;
    height: fit-content;
    min-height: 0;
    padding: 0;
}





.product-container{
	width: 94%;
	max-width: 96%;
	padding: 2%;
	background-color: rgba(0, 255, 255, 0.1);
    position: relative;
    border: black solid 1px;
    margin-bottom: 1%;
}
.product-header{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
.product-header:hover{
    cursor: pointer;
}
.product-title{
    font-size: 3dvh;
    font-weight: bold;
}

.product-snapshot{
    position: absolute;
    right: 0;
    height: 10vh;
    width: 10vh;
    background-size: cover;
    background-position: center;

}
.product-data{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-top: 1%;
}
.product-data.hide{
    display: none;
}

.product-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(136,136,136, 0.2);
    margin-bottom: 2%;
}
.product-element input{
    width: 30%;
}
.product-element textarea{
    width: 80%;
}
.product-images{
	display:flex;
	flex-wrap:wrap;
}

.product-image, .product-image-add{
	width:25vh;
	height:25vh;
    background-size: cover;
    background-position: center;
	justify-content: center;
	margin-right: 5%;
	margin-bottom:5%;
    position: relative;
}
.product-image-input{
	display:none;
}

.product-image-left, .product-image-right{
    position: absolute;
    bottom:0;
    background-color: rgba(255, 255, 255, 0.8);
}
.product-image-left{
    left:0;
}
.product-image-right{
    right:0;
}

.product-image-delete{
    position: absolute;
    top:0;
    right:0;
    background-color: rgba(255, 0, 0, 0.8);
}