

.page-block{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 94, 94, 0.1);
    margin-bottom: 3vh;
    width: 99%;
    border: 1px solid black;
}

.page-name{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    min-height: 1rem;
}

.page-data{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.page-data.hidden{
    display: none;
}

.loc-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow-x:scroll;
    padding:2%;
}

.loc-key{
    text-decoration: underline;
    font-weight: bold;
    min-width:fit-content;
}
.loc-key em{
    text-decoration: none;
    font-weight: normal;
}

.lan-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lan-name{
	padding-left:3dvw;
    font-weight: bold;
}
.lan-value{
    margin: 1dvh;
    height: fit-content;
    min-height: 0;
    padding: 0;
}

