

.bucket-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: whitesmoke;
    margin-bottom: 3%;
}
.bucket-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}
.bucket-title{
    font-weight: bold;
    font-size: var(--font-size-large);

}
.bucket-data{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
}
.bucket-image{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vw;
    margin:calc(2vw - 2px);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid #000000;
    align-items: center;
    justify-content: center;
    cursor: pointer;
        color: white;
}


.container-closer{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.img-details{
    height: 90%;
    width: 90%;
    max-width: 90%;
    max-height: 90%;
    background-color: white;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    cursor: default;

}
.img-details-img{
    max-width: 50%;
    min-width: 50%;
    max-height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-color: lightgray;
}
.img-details-info{
    display: flex;
    flex-direction: column;
    width: 46%;
    max-width: 46%;
    padding:1%;
    height: 96%;
    max-height: 96%;
    overflow: scroll;
    justify-content: start;
    align-items: center;


}
.img-details-table{
    max-width: 100%;
    min-width:50%;
    user-select: text;
    tr{
        max-width: 100%;
    }
    th.key{
        font-weight: normal;
        min-width: 30%;
        text-align: start;
    }
    th:not(.key){
        font-weight: normal;
        max-width: 70%;
        width: fit-content;
        overflow-wrap: break-word;
        text-align: start;
        word-break: break-all;
        user-select: text;
        cursor: text;
        overflow-x: scroll;
    }
}


.img-details-delete{
    color: black;
    background-color: rgba(244, 93, 93, 0.55);
    font-size: var(--font-size-extra-small);
    padding:0.5rem;
    cursor: pointer;
}


.image-selector-content{
	display:flex;
	flex-direction: column;
}

.image-selector-gallery{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.image-selector-image{
    height: 10vw;
    width: 10vw;
    margin: 2vw;
    background-position:center;
    background-size: contain;
}
.image-selector-image.selected{
	border: 2px blue solid;
}


.image-selector-confirm{
    position: absolute;
    top:0;
}

.image-bucket{
    padding-left: var(--padding);
    width: var(--padded-width);
}
.image-bucket-title{
    margin-top: var(--padding);
    font-weight: bold;
    font-size: var(--font-size-large);
}
.image{
    padding-left: var(--padding);
    width: var(--padded-width);
    max-width: var(--padded-width);
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 0.1rem;
    .image-name {
        min-width: 50%;
    }
    .image-usage{
        min-width: 45%;
    }
    .image-delete{
        min-width: 5%;
        background-color: lightcoral;
    }
    .image-delete:hover{
        background-color: red;
    }
    .image-img{
        background-size: contain;
        min-height: 300px;
        width: 50%;
        min-width: 300px;
    }
}
.image:hover{
    border-bottom: 1px solid black;
    background-color: lightcyan;
}






@media only screen and (max-width: 1025px) {
    .img-details{
		flex-direction: column;
	}
	.img-details-img{
		width:100%;
		max-width: 100%;

	}
	.img-details-info{
		width:100%;
		max-width: 100%;
	}

}



















.hidden{
    display: none;
}
.template{
    display: none;
}
