

.warning{
    color: red;
    font-weight: bold;
}
.misc-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: start;
}

.misc-block{
    width: fit-content;
    margin: 1%;

}

.misc-block-title{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.misc-block-data{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.1);
    padding: 1%;
}
.misc-key-value{
    display: flex;
    width: 100%;
    min-width: fit-content;
    justify-content: space-between;
}
.misc-key-name{
    width: fit-content;
}


.dialog-delete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
    .delete-warning{
        text-align: center;
    }
    button{
        position: absolute;
        bottom: 5%;
        cursor: pointer;
    }
    .delete{
        background-color: red;
        right: 5%;
    }
    .delete:hover{
        background-color: darkred;
    }
    .cancel{
        left:5%;
    }

}

