

#collecions{
    display: flex;
    height: fit-content;
    min-height: 100dvh;
    flex-direction: column;
    width: 100%;


}

.collecio{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    justify-content: start;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.imatge-collecio{
    display: flex;
    width: 100%;
    background-position: center;
    background-size: cover;

    min-height: 100vh;
}
.titol-collecio{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2.5rem;
    cursor: pointer;
    color: rgba(240, 248, 255, 0.9);
    text-align: center;
    transition: color 0.3s ease;
    padding: 2%;
}

.titol-collecio:hover {
    color: rgba(0, 0, 0, 0.9);
}


.content-galeria{
    margin-top: 0.2vw;
    margin-bottom: 4vh;
}
.galeria{
    margin-top: 0;
}
.footer{
    background-color: transparent;
}


@media screen and (orientation: portrait) {

}
