



.collecio{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.imatge-collecio{
	position:relative;
    display: flex;
    width: 100%;
    background-position: center;
    background-size: cover;

    min-height: 100vh;
}
.titol-collecio{
    font-size: var(--font-size-large);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-right: 0;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s ease;
    padding-top: 2%;
    padding-bottom: 2%;
}

.titol-collecio:hover {
    color: rgba(0, 0, 0, 0.9);
}

.imatges-collecio{
	width:100%;
	margin-top: 4vh;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.doble-imatge{
	height: 49.5vw;
	width: 49.5vw;
	background-color:purple;
}


.descripcio-collecio{
	margin-top: 4vh;
	white-space: pre-line;
	width: var(--padded-width);
}


.ultima-imatge{
	margin-top: 4vh;
	width:100%;
	height: 60vw;
}


.content-galeria{
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.galeria{
    margin-top: 0;
}
.galeria-landscape{
	width:100%;
	display:flex;
}
.galeria-portrait{
	width:100%;
	display:none;
}

.footer{
    background-color: transparent;
}


@media screen and (orientation: portrait), (pointer:none), (pointer:coarse) {
	.galeria-landscape{
		display:none;
	}
	.galeria-portrait{
		display:flex;
	}
	.collecio{
		min-height: 50vh;
	}
	.imatge-collecio{
		min-height: 50vh;
	}
}
