



.collecio{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.imatge-collecio{
	position:relative;
    display: flex;
    width: 100%;
    background-position: center;
    background-size: cover;

    min-height: 100vh;
}
.titol-collecio{
    font-size: var(--font-size-extra-extra-large);
    color:black;
    position: relative;
    width: var(--padded-width);
    text-align: start;
    vertical-align: top;
    margin-top: 8px;
    padding-bottom: 128px;
    
}



.subtitol-collecio{
	font-size: var(--font-size-extra-extra-large);
	margin-right: 0.25em;
}

.imatges-collecio{
	width:100%;
	margin-top: 8px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.doble-imatge{
	height: calc(50vw - 4px);
	width: calc(50vw - 4px);
	background-color:lightgray;
}

.poema{
	margin-left:8px;
	margin-right:8px;
	background-position: left;
}

.descripcio-collecio{
	margin-top: 32px;
	white-space: pre-line;
	width: var(--padded-width);
	font-size: var(--font-size-large);
}


.ultima-imatge{
	margin-top: 150px;
	width:100%;
	height: calc(100vw * 13 / 12);
}

.galeria-subtitle{
	margin-top:64px;
	font-size: var(--font-size-small);
}
.content-galeria{
    margin-top: 8px;
    margin-bottom: 16px;
}

.galeria{
    margin-top: 0;
}
.galeria-landscape{
	width:100%;
	display:flex;
}
.galeria-portrait{
	width:100%;
	display:none;
}

#footer{
    margin-top:64px;
}


@media only screen and (max-width: 1025px) {
	.galeria-landscape{
		display:none;
	}
	.galeria-portrait{
		display:flex;
	}
	.collecio{
		min-height: 50vh;
	}
	.titol-collecio{
		font-size: var(--font-size-large);
		margin-top: 16px;
		text-align:center;
		vertical-align: middle;
	}
	.subtitol-collecio{
		font-size: var(--font-size-medium);
	}
	.imatges-collecio{
		margin-top: 16px;
	}
	.imatge-collecio{
		min-height: 50vh;
	}
	.doble-imatge{
		height: 49.5vw;
		width: 49.5vw;
	}
	.poema{
		margin-top: 1vw;
		width: 100%;
	}
	.descripcio-collecio{
		font-size: var(--font-size-medium);
	}
	.ultima-imatge{
		margin-top:100px;
		height: calc(100vw * 5 / 4);
	}
	.content-galeria{
		margin-top: 8px;
	}

}
