


#content-contacte{
	display:flex;
	flex-direction: column;
	height:fit-content;
	min-height: 100vh;
	padding-top: 7vh;

    width: 100%;
}


#columnes-contacte{
	display:flex;
	flex-direction: row;

	width:100%;
	max-width:100%;
}

#contacte-left, #contacte-right{
	height: 100%;
	margin: 1vw;
	width: 50%;
	
}

#contacte-right{

}


#title-contact{
	margin-bottom:2vh;
}

.sender-details{
	display:flex;
	flex-direction:column;
	width:100%;
    max-width:100%;
    flex-wrap: wrap-reverse;
    justify-content: stretch;

}
.long-inputs{
	display:flex;
	flex-direction:column;
	width:100%;

}

.email-form{
	width:100%;
	display:flex;
	flex-direction: column;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}

.contacte-emails{
	margin-top:var(--padding);
	width:100%;
}

.email-label{
	display:flex;
	flex-direction:column;
    min-width: 30%;
	width:auto;
	margin:var(--padding);
}


.email-input{
	width: 100%;
    display:flex;

}
.message{
	height:30vh;
	resize: vertical;
}
.send-email{
	margin:2%;
	width:60%;
	padding:1%;
}
.bottom-border-input{
	border: none;
	border-bottom:1px solid black;
}
.square-border-input{
	border: 1px solid black;
}
.phone-input{
	display:flex;
	flex-direction:row;
    width:100%;
    max-width:100%;
    flex-wrap: wrap;
    justify-content: stretch;
}
.phone-prefix-label{
	width:20%;
    min-width: max(20%, fit-content);
}
.phone-number-label{
    width:62%;
}

.phone-prefix{
	width:100%;
	display:flex;
	flex-direction:row;
}
.phone-prefix-input{
	width:100%;

}




@media screen and (orientation: portrait) {

	#columnes-contacte{
		flex-direction:column;
		background-color: green;
	}
	#contacte-left, #contacte-right{
		width:auto;
        margin:2vh;
	}
}





