#content-fetamida{
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100dvh;
    width: 100dvw;
    max-width: 100dvw;
    scroll-behavior: smooth;
    margin-top: 15dvh;
    overflow: hidden;
}
#sections-fetamida{
    position: relative;
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    width: 100dvw;
    max-width: 100dvw;
    scroll-behavior: smooth;
    overflow: hidden;
    height: fit-content;
    transition: max-height 1s ease;

}

.scroller{
    display:none !important;
    height: 71dvh;
    cursor: pointer;
    width: 10%;
    position: absolute;
    transition: width 1s;
    top: 22dvh;
    z-index: 5;
}
#scroll-left{
    left:0;
    background: linear-gradient(to right, rgba(140, 140, 140, 0.3), rgba(0, 0, 0, 0));
}
#scroll-right{
    right:0;
    background: linear-gradient(to left, rgba(140, 140, 140, 0.3), rgba(0, 0, 0, 0));
}


#section-menu{
    display: flex;
    flex-direction: row;
    position: relative;
    width: calc(100dvw - 8vh);
    justify-content: space-between;
    align-items: start;
    height: fit-content;
    margin-left: 4vh;
    margin-right: 4vh;
    z-index: 5;
    overflow-y: visible;
    margin-bottom: 3vh;

}

.to-section{
    position: absolute;
    display: flex;
    max-width: 30%;
    width: fit-content;
    transition-property: left;
    transition-duration: 1s;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    min-height: 3vh;
}

#to-second{
    justify-content: center;
}
#to-third{
    justify-content: flex-end;
}

.fetamida-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:4vh;
    width: calc(100dvw - 8dvh);
    max-width: calc(100dvw - 8vh);
    min-width: calc(100dvw - 8vh);
    /*
    height:  calc(100% - 8vh);
    max-height:  calc(100% - 8vh);
    min-height: calc(100% - 8vh);
    */
    height: fit-content;
    max-height: fit-content;
    overflow: hidden;
    align-items: center;

}
#fetamida-centre{
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%
}

#fetamida-left{
    height: fit-content;
    max-height: fit-content;
    overflow: hidden;
}
.section-text{
    text-align: justify ;
    white-space: pre-wrap;
    height: fit-content;
    max-height: fit-content;
    overflow: hidden;
    li{

    }
    width: 50%;
}


.content-galeria{
	overflow-y: scroll;
	max-height:100%;
}

#fetamida-right{
	align-items: flex-end;
}

#email-form{
    position: relative;
    width: 60%;
    height: 100%;
    max-height: 100%;
    overflow-y:scroll;
 
}

#fetamida-intro{
	height:100dvh;
	width: 100dvw;
	display: flex;
}
.intro-half{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	height: 100%;
	width:100%;
}

@media screen and (orientation: portrait) {
	#section-menu{
		width:calc(100% - 4vh);
        margin-left: 2vh;
        margin-right: 2vh;
	}

	
	#fetamida-right{
		align-items:center;
	}
	#email-form{
		width:100%;
	}
	#message{
		min-height:50%;
	}
    .section-text{
        width: 100%;
    }

}




