#fetamida-intro{
	height:100dvh;
	width: 100dvw;
	display: flex;
	flex-direction: row;
}
.intro-half{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	height: 100%;
	width:100%;
	background-position: center;
	background-size: cover;
	font-size: 2rem;
	color: white;
    cursor: pointer;
    transition: 1s;
    filter: brightness(80%);

}

.intro-half:hover{
    filter: brightness(120%);
    font-size: 2.3rem;
}

.intro-title{
    transition: 1s;
}
.intro-title:hover{

}


@media screen and (orientation: portrait) {
	#fetamida-intro{
		flex-direction:column;
	}
}



