#content-fetamida{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 85dvh;
    max-height: 85dvh;
    width: 100dvw;
    max-width: 100dvw;
    scroll-behavior: smooth;
    margin-top: 15dvh;
    overflow: hidden;
}
#sections-fetamida{
    position: relative;
    display: flex;
    flex-direction: row;
    max-height: 85dvh;
    width: 100dvw;
    max-width: 100dvw;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

.scroller{
    display:none !important;
    height: 71dvh;
    cursor: pointer;
    width: 10%;
    position: absolute;
    transition: width 1s;
    top: 22dvh;
    z-index: 5;
}
#scroll-left{
    left:0;
    background: linear-gradient(to right, rgba(140, 140, 140, 0.3), rgba(0, 0, 0, 0));
}
#scroll-right{
    right:0;
    background: linear-gradient(to left, rgba(140, 140, 140, 0.3), rgba(0, 0, 0, 0));
}


#section-menu{
    display: flex;
    flex-direction: row;
    position: relative;
    width: calc(100dvw - 8dvh);
    max-width: calc(100dvw - 8dvh);
    justify-content: space-between;
    align-items: start;
    height: fit-content;
    margin-left: 4dvh;
    margin-right: 4dvh;
    z-index: 5;
    height: 3dvh;
    overflow-y: visible;

}

.to-section{
    position: absolute;
    display: flex;
    max-width: 30%;
    width: fit-content;
    transition-property: left;
    transition-duration: 1s;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    min-height: 3dvh;
}

#to-second{
    justify-content: center;
}
#to-third{
    justify-content: flex-end;
}

.fetamida-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    padding:4dvh;
    width: calc(100dvw - 8dvh);
    max-width: calc(100dvw - 8dvh);
    min-width: calc(100dvw - 8dvh);
    height:  calc(100% - 8dvh);
    max-height:  calc(100% - 8dvh);
    min-height: calc(100% - 8dvh);
    align-items: center;

}
#fetamida-centre{
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%
}




.content-galeria{
	overflow-y: scroll;
	max-height:100%;
}

#fetamida-right{
	align-items: flex-end;
}

#email-form{
    position: relative;
    width: 60%;
    height: 100%;
    max-height: 100%;
    overflow-y:scroll;
 
}



@media screen and (orientation: portrait) {
	#section-menu{
		width:calc(100% - 4dvh);
        margin-left: 2dvh;
        margin-right: 2dvh;
	}

	
	#fetamida-right{
		align-items:center;
	}
	#email-form{
		width:100%;
	}
	#message{
		min-height:50%;
	}
    .section-text{
        width: 100%;
    }

}




