#content-fetamida{
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height:93vh;
    min-height: 93vh;
    width: 100dvw;
    max-width: 100dvw;
    scroll-behavior: smooth;
    margin-top: 7vh;
    overflow: hidden;
    transition: 1s;
}

#content-fetamida.active {
    margin-top: 13vh;
}
#sections-fetamida{
    position: relative;
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    width: 100dvw;
    max-width: 100dvw;
    scroll-behavior: smooth;
    overflow: hidden;
    height: fit-content;
    transition: max-height 1s ease;
}

.scroller{
    display:none !important;
    height: 71dvh;
    cursor: pointer;
    width: 10%;
    position: absolute;
    transition: width 1s;
    top: 22dvh;
    z-index: 5;
}
#scroll-left{
    left:0;
    background: linear-gradient(to right, rgba(140, 140, 140, 0.3), rgba(0, 0, 0, 0));
}
#scroll-right{
    right:0;
    background: linear-gradient(to left, rgba(140, 140, 140, 0.3), rgba(0, 0, 0, 0));
}


#section-menu{
    display: flex;
    flex-direction: row;
    position: relative;
    width: calc(100dvw - 2vw);
    justify-content: space-between;
    align-items: start;
    height: 1rem;
    margin-top: calc(var(--padding) * 1.5);
    margin-bottom: calc(var(--padding) * 1.5);
    margin-left: var(--padding);
    margin-right: var(--padding);
    overflow-y: visible;
    margin-bottom: 1vh;
    z-index: 40;
}
#section-menu.active{

}

.to-section{
    position: absolute;
    display: flex;
    max-width: 30%;
    width: fit-content;
    transition: inherit;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    min-height: 3vh;
}

#to-second{
    justify-content: right;
    right: 0;
}


.fetamida-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding);
    width: var(--padded-width);
    max-width: var(--padded-width);
    min-width: var(--padded-width);
    /*
    height:  calc(100% - 8vh);
    max-height:  calc(100% - 8vh);
    min-height: calc(100% - 8vh);
    */
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow: scroll;
    align-items: center;

}
.fetamida-section.hidden{
	display: none;
}
#fetamida-centre{
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%
}

#fetamida-left{
    height: fit-content;
    max-height: fit-content;
    overflow: hidden;
}
.section-text{
    text-align: center ;
    white-space: pre-wrap;
    height: fit-content;
    max-height: fit-content;
    overflow: hidden;
    li{
    }
    width: 50%;
}


.content-galeria{
    margin-top: 0;
	overflow-y: scroll;
	max-height:100%;
}
.galeria{
    margin-top: 0;
}

#fetamida-right{
	align-items: flex-end;
}
.open-contact{
    position: fixed;
    right: var(--padding);
    bottom: var(--padding);
    cursor: pointer;
    z-index: 49;

}

.fetamida-contact{
    display: none;
    overflow-y: scroll;
    height: 80vh;
    width: 80vw;
    position: absolute;
    top: 14vh;
    left: var(--padding);
    box-shadow: 0.2px 0px 8px rgb(115, 115, 115);
    flex-direction: column;
    background-color: white;

}


.popup-info{
    width: 50vw;
    height: 60vh;
}
.translucid-screen{
    background-color: transparent;
}


@media screen and (orientation: portrait), (pointer:none), (pointer:coarse) {
    #content-fetamida{
        margin-top: 10vh !important;
	max-height: 90vh;
	min-height: 90vh;

    }
    #sections-fetamida{
        position: relative;
        height: fit-content;
        margin-top: 12vh;
        flex-direction: column;
        height: fit-content;
        max-height: 85vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
    .fetamida-section{
        padding: 2vh;
        margin-top: 0;
        overflow-y: visible;
        height: fit-content;
        width: calc(100dvw - 4vh);
        max-width: calc(100dvw - 4vh);
        min-width: calc(100dvw - 4vh);
        scroll-snap-align: start;
    }
	#section-menu{
        /*box-shadow: 0.2px 0px 8px rgb(115, 115, 115);*/
        position: fixed;
        background-color: white;
        top: 7vh;
	margin:0;
	padding: var(--padding-horizontal);
	padding-top: calc(var(--padding) * 1.5);

        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
	padding-bottom: 0;
        height: fit-content;
	}
    .to-section{
        position: relative;
        left: unset !important;
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 0.5rem;
	margin-top: 0.5rem;
        justify-content: start !important;
	padding-left: var(--padding);
	padding-right: var(--padding);
    }
    .galeria{
        margin-top: 0;
    }
	.fetamida-contact{
		width:var(--padded-width);
		top:7%;
		height: 86%;
		
	}
    .section-text{
        width: 100%;
    }
}




