



#fetamida-content{
	position:relative;
	display:flex;
	flex-direction: column;
	width:100%;
	margin-top:10vh;
	align-items:center;
	height:max-content;
}

.fetamida-menu{
	display:flex;
	flex-direction: row;
	width:100%;
	align-items:start;
	height:max-content;
}


.fetamida-dropdown{
	display:flex;
	flex-direction: column;
	width: var(--padded-width);
    padding: var(--padding-horizontal);
	margin-bottom: 2rem;
	height:max-content;
}
.fetamida-dropdown-head{
	display:flex;
	flex-direction:row;
	width:100%;
	justify-content:space-between;
}

.fetamida-subtitle{
	font-size: var(--font-size-medium);
}

.fetamida-info{
	display:none;
    white-space: pre-line;
    font-size: var(--font-size-small);
}

.email-form{
    font-size: var(--font-size-small);
	display:none;
	margin: 0;
	margin-top:1rem;
    padding: 0;
}
.email-form.shown{
    display:flex
}

.fetamida-info.shown{
    display:block;
}

.main-arrow.shown{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.fetamida-galeria-titol{
	margin-bottom:1rem;
}

.content-galeria{
	margin-top:0;
}

#footer{
	margin-top:0;
}


@media only screen and (max-width: 1025px) {
    #fetamida-content {
    }

    .fetamida-menu {
        flex-direction: column;
    }


    .fetamida-dropdown {
    }

    .fetamida-subtitle {
        font-size: var(--font-size-small);
    }

    .fetamida-info {
    }
}



