

#fetamida-crea{
    height: fit-content;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    width: 100%;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;

}
.fetamida-crea-page{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
}
#crea-gracies{
    background-color: rgba(0, 255, 255, 0.2);

}
.crea-main-image{
    background-color: rgba(64, 255, 0, 0.5);
    width: 80%;
    height: 90%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crea-title{
    font-size: 2rem;

}
.crea-main-text{
    width: 40%;
    text-align: justify;
}


#crea-proces{
    background-color: rgba(255, 192, 203, 0.5);
}
.crea-proces-title{
    width: 100%;
    font-size: 2rem;
}
.crea-steps{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.crea-step{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 234, 0.8);
    height: 30vw;
    width: 30vw;
    justify-content: center;
    align-items: center;
    padding:1vw;
}

.step-number{
    font-size: 2rem;
}
.crea-step-text{
    text-align: justify;
}


#crea-encarrec {
    display: flex;
    flex-direction: row;
    background-color: rgba(127, 255, 212, 0.2);

}


.encarrec-title{
    font-size: 2rem;

}
.encarrec-info{
    width: 60%;
    text-align: justify;

    background-color: rgba(0, 111, 255, 0.2);
}
.encarrec-image{
    width: 40%;
    min-width: 40%;
    height: 100%;
    background-color: rgba(255, 165, 0, 0.2);
}




@media screen and (orientation: portrait) {
    .fetamida-crea{
        max-height: 60vh;
    }
    .fetamida-crea-page{
        overflow-y: scroll;
        min-height: fit-content;
         height: 60vh;
        scroll-snap-align: start;
    }
    .crea-main-image{
        width: 100%;
    }
    .crea-main-text{
        width: 80%;
    }

	.crea-steps{
		flex-direction: row;
		scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
		overflow-x:scroll;
        scroll-snap-align: center;

	}
	.crea-step{
		width: 100%;
		min-width:100%;
		height:60vh;
		scroll-snap-align: center;
	}
    .crea-step-text{
        width: 80%;
    }
    #crea-encarrec{
        margin-bottom: 10vh;
        flex-direction: column;
        height: fit-content;
    }
    .encarrec-info{
        width: 100%;
    }
    .encarrec-title{
        width: 100%;
    }
    .encarrec-image{
        width: 100%;
        height: 40vh;
    }

}
