
a{
    color: #000000;
    text-decoration: none;
}
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: calc(var(--padding) * 2);
    align-items: center;
}

.footer-columns{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}
.footer-col{
    width: 24.8%;
    max-width: 24.8%;
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--padding) * 2);
}

.footer-title{
    padding-left: var(--padding);
    margin-bottom: 0.5rem;
}

.footer-element{
    padding-left: var(--padding);
    padding-bottom: 0.25rem;
}

.footer-button{
    cursor: pointer;
    text-underline-offset: 0.25rem;
}

.footer-element:hover{
    text-decoration: underline;
}

#credits{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75rem;
    width: var(--padded-width);
    padding: var(--padding);

}
#credits-left{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#copyright{
    margin-bottom: 1vh;
}

#credits-right{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
#footer-currency{
    display: none;
}


@media screen and (orientation: portrait), (pointer:none), (pointer:coarse) {
    #footer {
        width: 100%;
        max-width: 100%;
    }
    .footer-columns{
        width: 100%;
        flex-direction: column;
        align-content: start;
    }
    .footer-col{
        width: 50%;
        max-width: 50%;
        padding-bottom: 0vh;
    }
    #credits{
        width: var(--padded-width);
    }
}
