
a{
    color: #000000;
    text-decoration: none;
}
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
    align-items: center;
}

.footer-columns{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}
.footer-col{
    width: 24.8%;
    max-width: 24.8%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.footer-title{
    padding-left: 1vw;
    margin-bottom: 2vh;
}

.footer-element{
    padding-left: 1vw;
    padding-bottom: 0.25rem;
}

.footer-button{
    cursor: pointer;
    text-underline-offset: 0.5dvh;
}

.footer-element:hover{
    text-decoration: underline;
}

#credits{
    width: 97.8%;
    margin-top: 1vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75rem;
    padding-left: 1vw;
    padding-right: 1vw;
}
#credits-left{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#copyright{
    margin-bottom: 1vh;
}

#credits-right{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
#footer-currency{
    display: none;
}


@media screen and (orientation: portrait) {
    #footer {
        width: 100%;
        max-width: 100%;
    }
    .footer-columns{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .footer-col{
        width: 48%;
        max-width: 50%;
        padding-bottom: 3vh;
    }
    #credits{
        width:95%;
    }
}
