
a{
    color: #000000;
    text-decoration: none;
}
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 5dvh;
    align-items: center;
}

.footer-columns{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}
.footer-col{
    width: 24.8%;
    max-width: 24.8%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2dvh;
}

.footer-title{
    padding-left: 1dvw;
    font-size: 2dvh;
    margin-bottom: 2dvh;
}

.footer-element{
    padding-left: 1dvw;
    font-size: 2dvh;
    padding-bottom: 0.5dvh;
}

.footer-button{
    cursor: pointer;
    text-underline-offset: 0.5dvh;
}

.footer-element:hover{
    text-decoration: underline;
}

#credits{
    width: 97.8%;
    margin-top: 1dvh;
    margin-bottom: 3dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5dvh;
    padding-left: 1dvw;
    padding-right: 1dvw;
}
#credits-left{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#copyright{
    margin-bottom: 1dvh;
}

#credits-right{
    display: flex;
    flex-direction: column;
    height: fit-content;
}


@media screen and (orientation: portrait) {
    #footer {
        flex-direction: column;
        align-items: center;
    }
    .footer-columns{
        width: 80dvw;
        flex-direction: column;
    }
    .footer-col{
        width: 100%;
    }
}
