
.back{
    background-color: rgba(255, 255, 255, 0);
}


.content-galeria {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items:center;
    margin-top: 7dvh;
    margin-bottom: 8dvh;
    z-index: 10;
}

.inline-filtres{
    padding-top: 2%;
	max-width:calc(100% - 2dvw);
	display:flex;
	flex-direction: column;
	align-items: center;
}

.filtre-buttons{
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow:hidden;
	flex-direction:row;
	align-items: center;
    	height: fit-content;
	overflow-x:scroll;
}

.filtre{
	margin-right: 4dvh;
	margin-left: 4dvh;
	cursor:pointer;
}

.filtre.active{
	font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0.1rem;
}

.galeria {
    position: relative;
    margin-top: 2dvh;
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    margin-bottom: 2dvh;
    justify-content: space-between;
    overflow-y: hidden;
    width: 100%;
    scroll-snap-type: both mandatory;
}

.producte{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 24.8dvw;
    max-width: 24.8dvw;
    width: 24.8dvw;
    height: calc(24.8dvw + 2.5rem);
    position: relative;
    user-select: none;
    align-content: center;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    overflow: hidden;
}
.producte.empty{
    visibility: hidden;
}

.descripcio{
    height: 20dvh;
    display: none;
    padding-right: 0%;
    padding-bottom: 5%;
    white-space: pre-wrap;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.imatge{
    display: none;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 24.8dvw;
    height: 24.8dvw;
    border-radius: 0px;
    user-select: inherit;
    transition-property: height, background-size;
    transition-duration: 1s, 1s;
    transition-timing-function: ease, ease;
}
.primera{
    display: block;
}

.producte.active .segona{
        display: block;
}
.producte.active .primera{
        display: none;
    }



.detalls-galeria{
	position:relative;
    width: 22.8dvw;
    padding-top:0.5rem;
    padding-bottom:1rem;
    padding-right: 1dvw;
    padding-left: 1dvw;
    user-select: inherit;
    background: linear-gradient(to top, rgba(255,255,255,0.6), rgba(255,255,255,0));
    display:flex;
    flex-direction: column;
    justify-content:center;
    
}
.detalls-principals{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nom, .preu-inline{

    user-select: inherit;
    width: auto;
}


.view-more {
    position: relative;

    width: 20dvw;
    min-width:fit-content;
    height: 5dvh;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0.2dvh;
}

.galeria-scroll{
    height: 85%;
    position: absolute;
    width: 10%;
    top: -5%;
    z-index: 30;
    display: none;
}
.scroll-left{
    left:0;
    background: linear-gradient(to right, rgba(140, 140, 140, 0), rgba(0, 0, 0, 0));

}
.scroll-right{
    right:0;
    background: linear-gradient(to left, rgba(140, 140, 140, 0), rgba(0, 0, 0, 0));

}
.galeria-scroll.inline{
	display:flex;
}
.galeria.inline{
	flex-direction:row;
	flex-wrap:nowrap;
	overflow-x: scroll;
	justify-content: start;
}
.galeria.inline .producte:not(.last){
        margin-right: calc(0.8dvw / 3);
}

.galeria-navigation{
	display:flex;
	flex-direction:row;
	width:100%;
	align-items: center;
	justify-content: center;
}
.galeria-navigation.disabled{
	display:none;
}

.galeria-arrow{
	height: 0.8rem;
	width: 0.8rem;
	min-width: 0.8rem;
	border-top:black 0.1rem solid;
	border-right: black 0.1rem solid;
	border-bottom:transparent 0.1rem solid;
	border-left: transparent 0.1rem solid;
	cursor:pointer;
}
.galeria-arrow.left{
	margin-right:1rem;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}
.galeria-arrow.right{
	margin-left: 1rem;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.galeria-arrow.disabled{
	visibility:hidden;
}


@media screen and (orientation: portrait) {
    .galeria-scroll{
        display: none;
    }
    .galeria {
        justify-content: space-between;
    }
    .producte{
        min-width:  49.5dvw;
        max-width:  49.5dvw;
        width: 49.5dvw;
	    height:calc(49.5dvw + 3rem);
        user-select: none;
    }
    .galeria.inline .producte:not(.last){
        margin-right: calc(2dvw / 3);
    }

    .detalls-galeria{
        padding-right: 2vh;
        padding-left: 2vh;
        width: calc(100% - 4vh);
    }

    .imatge{
        height: 49.5dvw;
        width: inherit;
    }


}
