
.back{
    background-color: rgba(255, 255, 255, 0);
}


.content-galeria {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items:center;
    margin-top: 7dvh;
    margin-bottom: 8dvh;
}

#inline-filtres{
	width:calc(100% - 8dvh);
	display:flex;
	flex-direction: column;
	align-items: center;
}

.filtre-buttons{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	overflow:hidden;
	flex-direction:row;
	align-items: center;
}

.filtre{
	margin-right: 4dvh;
	margin-left: 4dvh;
	cursor:pointer;
}

.galeria {
    position: relative;
    margin-top: 2dvh;
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    margin-bottom: 2dvh;
    justify-content: space-between;
    overflow-y: hidden;
    width: 100%;
}

.producte{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 20%;
    max-width: 40%;
    width: 24.8dvw;
    height: calc(24.9dvw + 3rem);
    position: relative;
    user-select: none;
    align-content: center;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    overflow: hidden;
}
.producte.empty{
    visibility: hidden;
}

.descripcio{
    height: 20dvh;
    display: none;
    padding-right: 0%;
    padding-bottom: 5%;
    white-space: pre-wrap;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.imatge{
    display: none;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 24.8dvw;
    height: 24.8dvw;
    border-radius: 0px;
    user-select: inherit;
    transition-property: height, background-size;
    transition-duration: 1s, 1s;
    transition-timing-function: ease, ease;
}
.primera{
    display: block;
}

.producte.active .segona{
        display: block;
}
.producte.active .primera{
        display: none;
    }



.detalls-galeria{
	position:relative;
    width: 22.8dvw;
    padding-top:0.5rem;
    padding-bottom:1rem;
    padding-right: 1dvw;
    padding-left: 1dvw;
    user-select: inherit;
    background: linear-gradient(to top, rgba(255,255,255,0.6), rgba(255,255,255,0));
    display:flex;
    flex-direction: column;
    justify-content:center;
    
}
.detalls-principals{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nom, .preu-inline{

    user-select: inherit;
    width: auto;
}


.view-more {
    position: relative;

    width: 20dvw;
    min-width:fit-content;
    height: 5dvh;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0.2dvh;
}

.galeria-scroll{
    height: 85%;
    position: absolute;
    width: 10%;
    top: -5%;
    z-index: 30;
    display: none;
}
.scroll-left{
    left:0;
    background: linear-gradient(to right, rgba(140, 140, 140, 0.3), rgba(0, 0, 0, 0));

}
.scroll-right{
    right:0;
    background: linear-gradient(to left, rgba(140, 140, 140, 0.3), rgba(0, 0, 0, 0));

}

@media screen and (orientation: portrait) {
    .galeria-scroll{
        display: none;
    }
    .galeria {
        justify-content: space-between;
    }
    .producte{
        min-width:  49.5dvw;
        max-width:  49.5dvw;
        width: 49.5dvw;
	    height:calc(49.5dvw + 3rem);
        user-select: none;
    }

    .detalls-galeria{
	    width: 80%;
    }

    .imatge{
        height: 49.5dvw;
        width: inherit;
    }


}
