
.back{
    background-color: rgba(255, 255, 255, 0);
}


.content-galeria {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items:center;
    margin-top: 10vh;
    margin-bottom: 8vh;
    z-index: 10;
}



.filtre-buttons{

    margin-bottom: calc(var(--padding) * 1.5);
	display: flex;
	justify-content: center;
	width: fit-content;
    min-width: var(--padded-width);
    max-width: var(--padded-width);
	flex-direction:row;
	align-items: center;
    height: fit-content;
	overflow-x:scroll;
    position: relative;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.filtre{
    width:fit-content;
    min-width: fit-content;
	margin-right: var(--padding);
	margin-left: var(--padding);
	cursor:pointer;
	pointer-events: auto;
}
.filtre.first{
    margin-left:0;
}
.filtre.last{
    margin-right:0;
}


.filtre.active{
	border-bottom: 1px black solid;
}

.filtre-buttons-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,white, transparent 10%,  transparent 90%, white 100%);
    pointer-events: none;
}
.filtre-buttons-gradient.end-right{
	background: linear-gradient(to right,white,  transparent 10%);
}
.filtre-buttons-gradient.end-left{
	background: linear-gradient(to right,  transparent 90%, white 100%);
}
.galeria {
    position: relative;
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

.producte{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 24.8dvw;
    max-width: 24.8dvw;
    width: 24.8dvw;
    height: calc(24.8dvw + 2.5rem);
    position: relative;
    user-select: none;
    align-content: center;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    overflow: hidden;
    transition: 1s;
}
.producte.empty{
    visibility: hidden;
}

.descripcio{
    height: 20vh;
    display: none;
    padding-right: 0%;
    padding-bottom: 5%;
    white-space: pre-wrap;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.imatge{
    display: none;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 24.8dvw;
    height: 24.8dvw;
    border-radius: 0px;
    user-select: inherit;
    transition-property: height, background-size;
    transition-duration: 1s, 1s;
    transition-timing-function: ease, ease;
}
.primera{
    display: flex;
    z-index:5;
}
.segona{
	display: flex;
	position: absolute;
	top: 0;
	z-index:4;
}

.producte.active .segona{
}
.producte.active .primera{
        visibility:hidden;
    }



.detalls-galeria{
	position:relative;
    width: 22.8dvw;
    padding-top:0.5rem;
    padding-bottom:1rem;
    padding-right: var(--padding);
    padding-left: var(--padding);
    user-select: inherit;
    background: linear-gradient(to top, rgba(255,255,255,0.6), rgba(255,255,255,0));
    display:flex;
    flex-direction: column;
    justify-content:center;
    
}
.detalls-principals{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nom, .preu-inline{

    user-select: inherit;
    width: fit-content;
}


.view-more {
    position: relative;

    width: 20dvw;
    min-width:fit-content;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0.2vh;
}

.galeria-scroll{
    height: 24.8dvw;
    position: absolute;
    width: 10%;
    min-width: 2rem;
    top: 0;
    z-index: 30;
    display: none;
    justify-content: center;
    align-items: center;
    padding-left: var(--padding);
    padding-right: var(--padding);
}
.galeria-scroll-button{
    display: none;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    cursor: pointer;
}

.scroll-left{
    justify-content: start;
    left:0;
}
.scroll-right{
    justify-content: end;
    right:0;
}
.galeria-scroll:hover .galeria-scroll-button{
    display: flex;
}


.galeria-scroll.inline{
	display:flex;
}

.galeria-scroll-button.disabled{
	/*display:none !important;*/
	opacity:0.25;

}
.galeria.inline{
	flex-direction:row;
	flex-wrap:nowrap;
	overflow-x: scroll;
	justify-content: start;
	
}

.galeria.inline .producte:not(.last){
        margin-right: calc(0.8dvw / 3);
}

.galeria-navigation{
	display:flex;
	flex-direction:row;
	width:100%;
	align-items: center;
	justify-content: center;
    margin-top: 1vh;
}
.galeria-navigation.disabled{
	display:none;
}

.galeria-counter{
    margin: 1rem;
}

.galeria-arrow{
	height: 0.8rem;
	width: 0.8rem;
	min-width: 0.8rem;
	border-top:black 0.1rem solid;
	border-right: black 0.1rem solid;
	border-bottom:transparent 0.1rem solid;
	border-left: transparent 0.1rem solid;
	cursor:pointer;

}
.galeria-arrow.left{
	transform: translate(25%,0) rotate(-135deg);
	-webkit-transform: translate(25%,0) rotate(-135deg) ;
}
.galeria-arrow.right{
	transform: translate(-25%, 0) rotate(45deg);
	-webkit-transform:translate(-25%, 0) rotate(45deg) ;
}
.galeria-arrow.disabled{
	visibility:hidden;
}


@media only screen and (min-width: 1026px) {
	.producte.active .nom {
		text-underline-offset: 0.25rem;
    		text-decoration-line: underline;
    		/*border-bottom: 1px black solid;*/
	}
}



@media only screen and (max-width: 1025px) {

    .filtre-buttons{

        margin-bottom: calc(var(--padding) * 3);
        justify-content: start;
    }
    .filtre{

    }
    .galeria-scroll{
        height: 49.5dvw;
    }
    .galeria-scroll-button{
        background-color: rgba(255, 255, 255, 0);
        display: flex;
    }
    .galeria {
        justify-content: space-between;
    }
    .galeria-navigation{
        font-size: var(--font-size-small);
    }
    .page-arrow{
        height: 1.5rem;
    }
    .galeria-counter{
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    .producte{
        min-width:  49.5dvw;
        max-width:  49.5dvw;
        width: 49.5dvw;
	    height:calc(49.5dvw + 3rem);
        user-select: none;
    }
    /*.producte:not(.inside){*/
    /*    margin-top: 5vh;*/
    /*}*/

    .producte.active .nom{
	text-underline-offset: 0.25rem;
   	text-decoration-line: underline;
    	/*border-bottom: 1px black solid;*/
	}
    .detalls-principals{
	    align-items:end;
        font-size: var(--font-size-small);
    }
    .preu-inline-slash{
	    font-size: var(--font-size-extra-small);
    }
    .galeria.inline .producte:not(.last){
        margin-right: 1dvw;
    }


    .detalls-galeria{
        width: var(--padded-width);
    }
    /*.detalls-principals{
        justify-content: start;
	width: fit-content;
    }*/

    .imatge{
        height: 49.5dvw;
        width: inherit;
    }


}
