

/* Estils generals per als enllaços */
.content-index {
    position: relative;
    display: block;
    width: 100dvw;
    height: 100vh;
    min-height:100vh;
    align-content: center;
    justify-content: center;
    z-index: 10;

}
#index-subtitle{
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 1.75rem;
    padding-top:2%;
    padding-bottom:2%;
    margin-right: auto;
    padding-left: 1vw;
    background-color: white;
}
#title-logo.black{
    mix-blend-mode: normal;
}



body{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100dvw;
    height: 100dvh;
}


#title-logo{
    background-image: url('/static/media/logo-complet.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: rgba(240, 248, 255, 0.9);
    height: 20vh;
    user-select: none;
    padding: 5dvh 0dvh 5dvh 0dvh;
    position: fixed;
    width: 60%;
    top:35vh;
    left: 20%;
    z-index: 40;
    /*mix-blend-mode: difference;*/
}
#title-logo.white:not(.black){
    filter: invert(100%);
}

#title-logo:hover{
    cursor: default;
}

.content-galeria{
    margin-top: 0;
}
.galeria{
    margin-top: 0;
}

@media screen and (orientation: portrait) {
    #title-logo{
        font-size: 5vw;
    }
    #index-subtitle{
      	font-size: 1rem;
        display: flex;
        justify-content: center;
        padding: var(--padding-horizontal);
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: var(--padded-width);
        margin-right: 0;
    }
}


