

/* Estils generals per als enllaços */
.content-index {
    position: relative;
    display: block;
    width: 100dvw;
    height: 100vh;
    min-height:100vh;
    align-content: center;
    justify-content: center;
    z-index: 10;

}
#index-subtitle{
    position: relative;
    display: flex;
    height: fit-content;
    font-size: var(--font-size-extra-extra-large);
    padding-top:2rem;
    padding-bottom:1.5rem;

    background-color: white;
    width: var(--padded-width);
}

#index-subtitle-more{
    padding-bottom:1rem;
    width: var(--padded-width);
    text-decoration-line: underline;
}


#title-logo.black{
    mix-blend-mode: normal;
}



body{
    display: flex;
    align-items: center;
    flex-direction: column;
}



.slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100dvw;
    height: 100dvh;
    background-color:white;
    
}


#title-logo{
    min-height: max(calc(var(--header-height) * (5.5 / 7)), calc(var(--min-header-height) * (5.5 / 7)));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(240, 248, 255, 0.9);
    position: fixed;
    /*mix-blend-mode: difference;*/
}
#title-logo.white:not(.black){
    filter: invert(100%);
}

#title-logo:hover{
    cursor: default;
}

.content-galeria{
    margin-top: 0;
}
.galeria{
    margin-top: 0;
}

@media only screen and (max-width: 1025px) {
    .content-index{
        max-height: 75vh;
        height: 75vh;
        min-height: 75vh;
    }

    #index-subtitle{
      	font-size: var(--font-size-extra-large);
        display: flex;
        width: var(--padded-width);
        /*padding-top: 1rem;*/
        margin-right: 0;
        padding-bottom: 1.5rem;
        padding-top: 1rem;

    }
    #index-subtitle-more{
        padding-bottom: 1rem;
        justify-content: center;
        font-size: var(--font-size-small);


    }
}


