#menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    width: 0;
    height: 100%;
    right: 101dvw;
    top: 0;
    z-index: 100;
    padding-top: 0;
    transition: left 400ms;

}

#menu.black{
	background-color: white;
}
#menu.white{
	background-color: rgba(255, 255, 255, 1);
	filter: unset !important;
}
#menu.open{
    left: 0;
}
#menu:not(.closed){
    box-shadow: 0.2px 0px 8px rgb(115, 115, 115);
}


.menu-closer{
	display: none;
	background-color: rgba(0,0,0,0);
	position: fixed;
	right:0;
	top:0;
	height: 100dvh;
	width:20dvw;
	z-index: 100;
}

.menu-content{
    display: none;
}
.menu-content.shown{
    display: flex;
}


.menu-subtitol {
    margin-left: var(--padding);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color:gray;
    width: fit-content;
    
}

.menu-element:first-of-type{
    margin-top: 10vh;
}




.menu-element{
	margin-left: var(--padding);
	padding-bottom: 0.5rem;
	width:fit-content;
}






#admin-menu{
    margin-top: auto;
}
