
/* Add styles here */

@font-face {
    font-family: myFont;
    font-weight: normal;
    src: url('/static/fonts/AlteHaasGroteskRegular.ttf');
}
@font-face {
    font-family: myFont;
    font-weight: bold;
    src: url('/static/fonts/AlteHaasGroteskBold.ttf');
}

* {
    font-family: myFont;
}



html {
    --desktop: false;
    --padding: 1vw;
    --font-size-extra-extra-large: 30px;
    --font-size-extra-large: 22px;
    --font-size-extra-small: 12px;
    --font-size-medium: 15px;
    --font-size-small: 13px;
    --font-size-large: 17px;
    font-size: var(--font-size-medium);
    overflow: scroll;
    --padding-horizontal: 0 var(--padding);
    --padding-vertical: var(--padding) 0;
    --padded-width: calc(100% - var(--padding) * 2);
    --underline-offset: 0.25rem;
    margin: 0px;
    padding: 0px;
    width: 100dvw;
    height: 100dvh;
    --header-height: 7vh;
    --min-header-height: 42px;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

*{
	font-size: 1em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior:smooth;

    -moz-user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
     user-select: none; /* Standard syntax */
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-backface-visibility: hidden;

    /*white-space: pre-line;*/
    accent-color: lightgray;

}


@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.hidden{
	display: none !important;
}
.invisible{
    visibility: hidden !important;
}
.bold{
    font-weight: bold;
}
.grayed{
    color: gray;
}
.strikethrough{
    text-decoration: line-through;
}
body {

    padding: 0px;
    margin: 0px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
     -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input, textarea, select {
    border-radius: 0;
    border-color: black;
    color: black;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

li{

    list-style-position: inside;
}

video {
	margin:auto;
	height:100%;
	width:100%;
}

.slow-image, .normal-image, .fast-image{
    /*background-image: url("/static/media/panson_favicon.png");
    background-size: 10%;
    background-color:white;*/
}



.selectable{
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

.clickable{
    cursor: pointer;
}
.under-hover:hover{
    text-underline-offset: var(--underline-offset);
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;

}

.underlined{
    text-underline-offset: var(--underline-offset);
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;

}

.black-button{
    background-color: #000000;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
    min-width:fit-content;
    border: none;
    min-height: 0;
    padding: 0.75em 1em 0.75em 1em;
}


.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    position: fixed;
    bottom: 0;
    z-index: 45;
    margin: var(--padding);
    padding: var(--padding);
    font-size: var(--font-size-medium);
    border-radius: var(--padding);
    box-shadow: 8px 0px 24px rgba(0, 0, 0, 0.15);
}
.banner-cross{
    right: 0;
    margin-left: var(--padding);
    cursor: pointer;
}


.main-arrow{
	height:2rem;
	width:fit-content;
	object-fit: contain;
	object-position: center;
}
.main-arrow.left{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.main-arrow.right{
}

.main-arrow.down{
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.main-arrow.up{
	transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.main-arrow.disabled{
	visibility: hidden;
}





.request-cookies{
    display: flex;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    height: 4rem;
    align-items: center;
    padding: var(--padding);
    width: var(--padded-width);
    justify-content: space-between;
    z-index: 99;
    font-size: var(--font-size-extra-small);
    box-shadow: 8px 0px 24px rgba(0, 0, 0, 0.15);
}
.accept-cookies {
    margin-left: 2rem;
    padding-left: 3em;
    padding-right: 3em;

    min-height: 0;
    height: fit-content;
}
.cookies-info{
    text-align: justify;
}

.cookies-info > a{
        text-decoration-line: underline;
        text-underline-offset: var(--underline-offset);
    }

.request-cookies .inputs{
        display:flex;
        flex-direction:row;
        align-items:center;
}



.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    min-height: var(--min-header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    transition: 0.5s;
}
.navigation.opaque{
    background-color: white;
}


.navigation-left {
    width: fit-content;
    max-width: 100%;
    display: flex;
    left: 0;
    top: 0;
    position: fixed;
    height: var(--header-height);
    min-height: var(--min-header-height);
    transition: 0.3s ease;
    flex-wrap: wrap;
    padding-right: 0;
    justify-content: flex-start;
    align-content: center;
}

.navigation-right {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    height: var(--header-height);
    min-height: var(--min-header-height);
    width: fit-content;
    padding: var(--padding-horizontal);
    z-index: 200;
    align-items: start;

}






#title{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(240, 248, 255, 0.9);
    height: calc(var(--header-height) - 1.5vh);
    min-height: calc(var(--min-header-height) * (5.5 / 7));
    user-select: none;
    position: fixed;
    width: 20vw;
    top:0.75vh;
    z-index: 60;
    transition: height 0.3s ease-out;
    cursor: pointer;
    transition: 1s;
    }


.language{
    align-content: center;
    padding-right:0.5rem;
    padding-left:0.5rem;
    cursor: pointer;

    text-align: center;
    user-select: none;
    color: rgb(0, 0, 0);
    transition: 1s;
    display:flex;
    height: 100%;
    min-height: calc(var(--min-header-height) / 2);
    align-items: center;
    justify-content: center;
    width: calc(100% - 1rem);
    /*text-transform: uppercase;*/

}

.language.not-current {
    justify-content: start;
	display: none;
}


.language.current{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:nowrap;
	width: fit-content;
}

.language-dropdown{
	display: flex;
	flex-direction:column;
	height:calc(var(--header-height) / 2);
    min-height:calc(var(--min-header-height) / 2);
	margin-top:max(calc(var(--header-height) / 4), calc(var(--min-header-height) / 4));

}
.language-dropdown.open > .main-arrow{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.language.admin {
}

.cart {
    display: flex;
    position: relative;
    right: 0;
    bottom: 0;
    width: min-content;
    height: var(--header-height);
    min-height: var(--min-header-height);
    align-items: center;
    margin-left: var(--padding);
    cursor: pointer;
    z-index: 21;

}
.shopping-cart {
    position: relative;
    display: block;
    align-content: center;
    text-align: center;
    vertical-align: center;
    height: calc(var(--header-height) / 2.5);
    min-height: calc(var(--min-header-height) / 2.5);
    width: calc(var(--header-height) / 2.5);
    min-width: calc(var(--min-header-height) / 2.5);
    transition: 1s;
}



.cercle-carret {
    height: 0.75rem;
    width: 0.75rem;
    position: absolute;
    right: 0;
    top: max(calc(var(--header-height) / 2), calc(var(--min-header-height) / 2));
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: var(--font-size-extra-small);
    transition: 1s;
}







.popup-info {
    flex-direction: column;
    position:relative;
    display: none;
    z-index: 50;
    /*border: black 0.2vh solid;*/
    background-color: rgba(255, 255, 255, 100);
    padding: calc(var(--padding) * 2);
    width: calc(55% - 10vh - var(--padding) * 2);
    /*max-width: calc(100% - 10vh - var(--padding) * 2);*/

    overflow-y: scroll;
    height: fit-content;
    max-height: calc(70% - var(--padding) * 2);
}


.translucid-screen{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.popup-cross {
	visibility:visible;
    position: fixed;
    /*top: 1rem;*/
    /*right: 1rem;*/
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: black;
}



.dropbtn, .menu-simple {
    color: #000000;
    border: none;
    user-select: none;
    z-index: 110;
    background-color: rgba(0, 0, 0, 0);
    height: var(--header-height);
    min-height: var(--min-header-height);
    transition: 0.3s ease;
    margin-right: var(--padding) ;
    cursor: pointer;
    padding-right: var(--padding);
    padding-left: var(--padding);
}

.dropbtn.last{
    margin-right: var(--padding);
}

.menu-simple {
    display: none;
    flex-direction: row;
    align-items: center;
}





.icon-menu-simple {
    position: relative;
    display: block;
    align-content: center;
    text-align: center;
    vertical-align: center;
    top:0.3vh;
    height: calc(var(--header-height) / 2.5);
    min-height: calc(var(--min-header-height) / 2.5);
    width: calc(var(--header-height) / 2.5);
    min-width: calc(var(--min-header-height) / 2.5);
    transition: 1s ease;

}




.white{
       filter: invert(100%);
}
.black{
    filter: unset;
}






@media only screen and (min-width: 1026px) {
    .black-landscape{
           filter: unset;
    }

	#menu-closer-portrait{
		display: none !important;
	}
    .portrait{
        display: none !important;
    }
}

@media only screen and (max-width: 1025px) {

    html{
        --desktop: true;
        --font-size-extra-extra-large: 36px;
        --font-size-extra-large: 26;
        --font-size-extra-small: 14px;
        --font-size-medium: 19px;
        --font-size-small: 16px;
        --font-size-large: 21px;
        --padding: 1vh;
    }

    .black-portrait{
           filter: unset;
    }
    .black-button{
	    padding: 0.5em 1em 0.5em 1em;
    }

    .landscape{
        display: none !important;
    }
    .navigation {
        justify-content: center;
    }

    .language.admin{
	    display: none !important;
    }


    #menu{
        background-color: white !important;
    }

    .dropbtn {
        display: none;
    }
    .menu-simple {
        display: flex;
        padding: 0;
        height: 6vh;
    }
    #menu-closer-landscape{
	    display: none !important;
    }
    #menu-closer-portrait{
        display: block ;
    }
    .titol-submenu {
        margin-right: var(--padding);
    }

    #title{
        display: flex;
        width: 30vw;
    }

    .navigation-left {
        display: flex;
        width: fit-content;
        max-width: 100%;
        justify-content: flex-start;
        padding-left: var(--padding);
    }
    .navigation-right {
        padding-right: var(--padding);
    }

    .shopping-cart {

    height: calc(var(--header-height) / 2);
    min-height: calc(var(--min-header-height) / 2);
    width: calc(var(--header-height) / 2);
    min-width: calc(var(--min-header-height) / 2);
    }


    .popup-info{
        width: calc(100% - 5vh - var(--padding) * 2);
        max-height: calc(95% - var(--padding) * 2);

    }
    .popup-cross{
        position: fixed;
        visibility: visible;
        /*top: 1rem;*/
        /*right: 1rem;*/
    }
    .request-cookies{
	    flex-direction: column;
	    height: fit-content;
    }
    .cookies-info{

        margin-bottom: 2em;
        margin-top: 1em;
    }
    .request-cookies .inputs{
        display:flex;
        flex-direction:column-reverse;
        width:100%;
        align-items:center;
        margin-bottom: 1em;
    }
    .accept-cookies {
	    margin-bottom: 1em;
	    margin-left:0;
	    width:100%;
        padding-top:1em;
        padding-bottom:1em;
    }
    .cookies-popup{
        font-size: var(--font-size-extra-small);
    }
    .cookies-popup > .tic-subtitle{
        font-size: var(--font-size-medium);
    }
    .banner{
        width: calc(100% - (var(--padding) * 4));
        bottom: unset;
        top: var(--header-height);
        font-size: var(--font-size-small);
    }
}
