
body {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

}


.content-producte {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    position: relative;
    height: 100dvh;
    align-items: flex-start;
	margin-top:0dvh;
    justify-content: space-between;
    background-position: right;
    background-size: cover;
    min-height: 100dvh;
    max-height: 100dvh;

}

#producte-images{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    scroll-snap-type: both mandatory;
}

.main-foto{
	position:relative;
    display:flex;
	width: 100%;
	height: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    scroll-snap-align:start;

}




#fotos{
    height:fit-content;
}

#main-details{
	position:absolute;
    left:56%;
	width: 40%;
    max-width: 40%;
	z-index:30;
	display:flex;
    flex-direction: column;
    align-items: center;
    height: 93dvh;
    min-height: 93dvh;
    padding-top:7dvh;
    padding-left:2dvw;
    padding-right:2dvw;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-y: scroll;
    max-height: 93dvh;
    scroll-behavior: smooth;



}

#titol_producte {
    position: relative;
    font-size: 2dvh;
    height: max-content;
    width: 100%;
    margin-bottom: 2dvh;
    margin-top: 3dvh;
    text-transform: uppercase;

}


#buy{
    display: none;
    font-size: 2dvh;
    width: 100%;
    min-width: fit-content;
    height: 5dvh;
    background-color: #000000;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
    margin-top: 2dvh;
    margin-bottom: 2dvh;
}


#all-details{
    position:relative;
	height:fit-content;
	background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width:60dvw;
    max-width: 60dvw;

}

#product-description {
    font-size:  2dvh;
    position: relative;
    height: fit-content;
    margin-bottom: 2dvh;
    margin-top: 0.5dvh;
    text-align: justify;
    width:100%;
}

.info{
	width:100%;
    padding-top: 5dvh;
}

.desplegable{
    height: fit-content;
    width:100%;
    padding-bottom: 3dvh;
}
.titol-desplegable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    font-size: 2dvh;
    margin-top: 0.2dvh;
    margin-bottom: 0.2dvh;
    font-weight: normal;
}

.info-desplegable {
    display: none;
    font-size: 2dvh;
    padding:1%;
}
.info-desplegable > p {
    margin-top: 0.5dvh;
}
.info-desplegable > ul {
    margin-top: 0.5dvh;
    padding-left: 2.5dvh;
}
.subtitol-desplegable {
    font-size: 2dvh;
    margin-bottom: 0;
}
.arrow{
}

.popup-info {
    flex-direction: column;
    display: none;
    position: fixed;
    z-index: 50;
    border: black 0.2dvh solid;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 100);
    padding: 2%;
    max-height: 80dvh;
    overflow-y: scroll;
}


.translucid-screen{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 45;
}
.popup-cross {
    position: absolute;
    right: 0;
    top: 0;
}
#form .popup-cross{
    	display:none;
    }
#form{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-bottom: 2dvh;

}
#info-talles{
    margin-top: 4dvh;
    font-size:2dvh;

}
#buy-options{
    width: 100%;
    padding-top: 2dvh;
    position:relative;
	display:flex;
    flex-direction: column;
    padding-bottom: 2dvh;
}
.option-field legend{
    font-size: 2dvh;
    padding:0;
    margin:0;
    margin-bottom: 0.5dvh;
}

.option-field{
    padding: 0;
    margin:0;
	padding-bottom: 4dvh;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:100%;
    border: none;
    align-items: flex-start;

}
.hidden-input{
    display: none;
}
.option-field label{
    cursor: pointer;
    font-size: 2dvh;
    margin-right: 2%;
    margin-bottom: 1dvh;
    margin-top:1dvh;
}


.option-field .text-label:has(> .hidden-input[checked=true]){
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.5dvh;
}


.options{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;


}
.multiple-input-span{
	display:flex;
	flex-wrap:wrap;
	max-width:100%;
	width:fit-content;
    align-items:flex-end;
    height: 3dvh;

}
.option{
    font-size: 2dvh;
    margin-right: 1.5dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;


}
.talla{
    margin-right: 2%;
    margin-bottom: 2dvh;
    margin-top:2dvh;
}

.multiple-input, #size-country {
        font-size:2dvh;
        margin:0;
        padding:0;
	border:none;
	border-bottom:1px solid black;
	outline-offset: 0;
	width:6dvh;
	max-width:50%;
	background-color:rgba(0,0,0,0);
	color:black;
    height:100%;
}
.multiple-input{
    margin-right: 1dvw;
}

.color-selector{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    border:none;
    margin-right: 4dvh;
    height: 3dvh;
    align-items: center;
    width: fit-content;
    min-width: fit-content;
}
.colour-label{
    height: 2dvh;
    width: 2dvh;
    min-width:2dvh;
    border-radius: 50%;
    margin-right: 0.5dvh;
    margin-left:0.5dvh;
    font-size:1dvh;
}

.pro-pedra-gran{
    height: 2.2dvh;
    width: 2.2dvh;
    min-width:2.2dvh;
    margin-right: 0.4dvh;
    margin-left: 0.4dvh;
}
.pro-pedra-petita{
    height: 1.8dvh;
    width: 1.8dvh;
    min-width: 1.8dvh;
    margin-right: 0.6dvh;
    margin-left: 0.6dvh;
}

.colour-label:has(> .hidden-input[checked=true]){
    border: black solid 0.2dvh;
    margin-right: 0.4dvh;
    margin-left:0.4dvh;

}
.pro-pedra-petita:has(> .hidden-input[checked=true]){
        margin-right: 0.3dvh;
	margin-left: 0.3dvh;
    }
.pro-pedra-gran:has(> .hidden-input[checked=true]){
        margin-right: 0.5dvh;
	margin-left: 0.5dvh;
    }

#final-price{
    display: none;
    margin:1dvh;
    font-size: 2dvh;
    width:100%;
}

#initial-price{
    font-size:2dvh;
    width: 100%;
}

.add-to-cart{
    width: 100%;
    min-height: 5dvh;
    margin-top: 1dvh;

}
.missatge-enviament{
    display: none;
    flex-direction: column;
    margin-top: 1.5dvh;
    font-size: 1.7dvh;
    width: 80%;

    font-style: italic;
    text-align: center ;
    justify-content: center
}
.no-border{
    border: none;
}


#top-left{
    align-items: flex-start;
    padding-right: 8vh;
}
#top-right{
    align-items: flex-end;
    padding-left: 8vh;
}
.producte-doble{
    margin-right: 0.2dvw;
}

.producte .imatge {
    width: 24.8dvw;
    height: 24.8dvw;
}

.producte{
    min-width: 24.8dvw;
}
.producte.empty{
    display: none;
}
.content-galeria{
    margin-top: 2dvh;

}
.galeria{
    margin-top: 0;
    flex-wrap: nowrap;
    max-width: 100dvw;
    overflow-x: scroll;
    scroll-behavior: revert;
    margin-bottom: 8dvh;
    scroll-snap-type: both mandatory;
}
.galeria-scroll{
    display: flex;
}

.subtitol-galeria{
    margin-top: 10dvh;
    font-size: 2dvh;
}
table {
  border-collapse: collapse;
}

td, th{
    padding: 0.5%;
    text-align: right;
    width: 10%;
    border: 1px solid #000000;
}
tr{

}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
tr:hover{
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}


.enlarged-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.enlarged-img{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 90%;
    cursor: zoom-in;
    overflow: hidden;
    background-size: cover;
    background-position: center, left, 0, top, 0;
    background-repeat: no-repeat;
}
.enlarged-img.zoomed{
        background-size: 150%;
        cursor: zoom-out;
    }
.close-enlarged-container{
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2000;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 5dvh;
	height: 5%;
	width:10%;
}









@media screen and (orientation: portrait) {
    .galeria-scroll{
        display: none;
    }
	
	.content-producte {
		flex-direction: column;
		max-height:fit-content;
		height: fit-content;
		width: 100%;
		max-width:100%;
		overflow-x: hidden
		
	}
	#main-details{
		position:relative;
		width: calc(100% - 8dvh);
		max-width: calc(100% - 8dvh);
		padding-left:4dvh;
		padding-right:4dvh;
		left:0;
		min-height: fit-content;
		height:fit-content;


	}
	#producte-images{
		width: 100%;
		max-width: 100%;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: scroll;
	}
	.main-foto{
		height:100dvw;
		max-height:100dvw;
		width:100dvw;
		min-width:100dvw;
	}
	#producte-images{

	}
	#main-details{
		background-color:white;
	}
    .options{
        width:fit-content;
    }
    .color-selector{
        width:fit-content;
        min-width: 100%;
        justify-content: space-evenly;
    }
    .colour-label[style*="background-color:white"] {
    background-color:lightgray !important;
    }
    .content-galeria{
        max-width: 100%;
        display: flex;
        overflow: hidden;
    }
    .galeria{
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: start;
    }

    .producte{
        min-width: 49.8dvw;
        max-width: 49.8dvw;
        scroll-snap-align: end;
        height: calc(48dvw + 5dvh);
    }
    .producte .imatge {
        width: 49.8dvw;
        height: 49.8dvw;
    }

    .enlarged-img{
        width: 90%;
        height: 60%;
    }
    .enlarged-img.zoomed{
        background-size: 200%;
    }

}

