
body {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

}


.content-producte {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: relative;
    height: 100vh;
    align-items: flex-start;
    margin-top:0;
    justify-content: space-between;
    background-position: right;
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;

}

#producte-images{
	position:relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 60%;
    height: 100%;
    scroll-snap-type: both mandatory;
    
}

.main-foto{
	position:relative;
    display:flex;
	width: 100%;
	height: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    scroll-snap-align:start;
    scroll-snap-stop: always;
    cursor: zoom-in;

}




#fotos{
    height:fit-content;
}

#main-details{
    font-size: 0.9rem;
	position:absolute;
    left:58%;
	width: 40%;
    max-width: 40%;
	z-index:30;
	display:flex;
    flex-direction: column;
    align-items: center;
    height: 93vh;
    min-height: 93vh;
    padding-top:7vh;
    padding-left:var(--padding);
    padding-right: var(--padding);
    background-color: white;
    overflow-y: scroll;
    max-height: 93vh;
    scroll-behavior: smooth;



}

#titol_producte {
    position: relative;
    height: max-content;
    width: 100%;
    margin-bottom: 0.25rem;
    margin-top: var(--padding);
    text-transform: uppercase;
    font-size: 1.2rem;

}


#buy{
    display: none;
    width: 100%;
    min-width: fit-content;
    height: 5vh;
    background-color: #000000;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


#all-details{
    position:relative;
	height:fit-content;
	background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width:60dvw;
    max-width: 60dvw;

}

#product-description {
    font-size: 0.9rem;
    position: relative;
    height: fit-content;

    text-align: justify;
    width:100%;
    white-space: pre-line;
}
.extra-info{
    text-align: justify;
    width:100%;
    white-space: pre-line;
}
.product-info{
	width:100%;
    padding-top: 4vh;
    font-size: 0.9rem;
}

.desplegable{
    height: fit-content;
    width:100%;
    padding-bottom: 3vh;
}
.titol-desplegable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    font-weight: normal;
}

.info-desplegable {
    display: none;
    width: 100%;
    margin-top: 0.7rem;


}
.info-desplegable > p {
    margin-top: 0.25rem;
    margin-bottom: 0;
}
.info-desplegable > ul {
    margin-top: 0.25rem;
    padding-left: 2.5vh;
    padding-bottom: 0;
}
.subtitol-desplegable {
    margin-bottom: 0;
}
.titol-desplegable .arrow{
}
.popup-info{
    font-size: 0.9rem;
}
#form .popup-cross{
    	display:none;
    }

#form{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-bottom: 4vh;
    padding-top: 4vh;

}
#info-talles{
    margin-top: 2vh;

}
#buy-options{
    width: 100%;
    position:relative;
	display:flex;
    flex-direction: column;

}
.option-field legend{
    padding:0;
    margin:0;

}

.option-field{
    padding: 0;
    margin:0;
	padding-bottom: 4vh;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:100%;
    border: none;
    align-items: flex-start;

}
.hidden-input{
    display: none;
}
.option-field label{
    cursor: pointer;
    margin-right: 0.1rem;
    margin-bottom: 0.5rem;
    margin-top:0.5rem
}


.option-field .text-label:has(> .hidden-input[checked=true]){
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}


.options{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    min-height:3vh;


}
.multiple-input-span{
	display:flex;
	
	max-width:fit-content;
	width:fit-content;
    align-items:flex-end;
    min-height: 3vh;

}
.option{
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;


}
.talla{
    margin-right: 2%;
    margin-bottom: 2vh;
    margin-top:2vh;
}

.multiple-input, #size-country {
        margin:0;
        padding:0;
	border:none;
	border-bottom:1px solid black;
	outline-offset: 0;
	width:6vh;
	max-width:fit-content;
	background-color:rgba(0,0,0,0);
	color:black;
    height:100%;
    min-height:3vh;
}
.multiple-input{
}

.color-selector{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    border:none;
    margin-right: var(--padding);
    margin-left: var(--padding);
    height: 3vh;
    align-items: center;
    width: fit-content;
    min-width: fit-content;
}
.color-selector:first-child{
    margin-left: 0;
}
.colour-label{
    height: 1rem;
    width: 1rem;
    min-width:2vh;
    border-radius: 50%;
    margin-right: 0.5vh;
    margin-left:0.5vh;
    font-size:0.5rem;
}
.colour-label[style*="background-color:white"] {
                background-color:lightgray !important;
        }
.pro-pedra-gran{
    height: 1rem;
    width: 1rem;
    min-width:1rem;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
}
.pro-pedra-petita{
    height: .9rem;
    width: .9rem;
    min-width: .9rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

.colour-label:has(> .hidden-input[checked=true]){
    border: black solid 0.2vh;
    margin-right: 0.4vh;
    margin-left:0.4vh;

}
.pro-pedra-petita:has(> .hidden-input[checked=true]){
        margin-right: 0.3vh;
	margin-left: 0.3vh;
    }
.pro-pedra-gran:has(> .hidden-input[checked=true]){
        margin-right: 0.5vh;
	margin-left: 0.5vh;
    }

#final-price{
    display: none;
    margin:1vh;
    width:100%;
}

#initial-price{
    width: 100%;

}

.add-to-cart{
    width: 100%;
    min-height: 5vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.add-to-cart.loading{
	color:transparent;
}
.add-to-cart.loading .cart-loading{
	display:flex;
	-webkit-animation:spin 4s linear infinite;                            -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
}
.cart-loading{
	display:none;
	/*background-image: url("/static/media/panson_favicon.png");
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	filter: invert(100%);*/
	color: white;
	height:1.5rem;
	width:1.5rem;
	font-size: 2rem;
	position: absolute;
	align-items: start;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	line-height: 1rem;
	
}

.missatge-enviament{
    display: none;
    flex-direction: column;
    margin-top: 1vh;
    font-size: 0.8rem;
    width: 90%;

    font-style: italic;
    text-align: center ;
    justify-content: center;
}
.no-border{
    border: none;
}


#top-left{
    align-items: flex-start;
    padding-right: 8vh;
}
#top-right{
    align-items: flex-end;
    padding-left: 8vh;
}

.content-galeria{
    margin-top: 2vh;

}
.galeria{
    margin-top: 0;
    margin-bottom: 0;
}


.subtitol-galeria{
    margin-top: calc(var(--padding) * 2);
    margin-bottom: var(--padding);
}


.producte-galeria{
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.galeries-landscape{
    display: flex;
}
.galeries-portrait{
    display: none;
}





.enlarged-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
    overflow-y: scroll;

}

.enlarged-slideshow{
	display: flex;
	flex-direction:column;
	position: relative;
	width: 50%;
	min-width:50%;
	height: 90%;
	min-height: 90%;
    overflow-y: scroll;
	scroll-snap-type: y mandatory;
	
}
.enlarged-img{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height:100%;
    height: 100%;
    cursor: zoom-in;
    overflow: hidden;
    background-size: cover;
    background-position: center, left, 0, top, 0;
    background-repeat: no-repeat;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.enlarged-img.zoomed{
        background-size: 150%;
        cursor: zoom-out;
    }
.close-enlarged-container{
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2000;
	position: absolute;
	font-size: 2.5vw;
    top:5%;
    right:0;
    height:5%;
    width:5%;
    font-weight: normal;
    -webkit-text-stroke: 0.05rem white;
    text-stroke: 0.05rem white;
}


.bubble-container{
	position:absolute;
	left:0;
	top:0;
	height:100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-left: var(--padding);
}
.bubbles{
    mix-blend-mode: overlay;
}
.bubbles, .enlarged-bubbles{
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	height: fit-content;
	width:fit-content;
	z-index:10;
}
.enlarged-bubbles{
	margin-left:0;
	width: 5dvw;
    position: absolute;
    left:0;
    bottom:0;
    height:100vh;
    z-index:2500;
}

.bubble-container.hidden, .enlarged-bubbles.hidden{
	display:none;
}

.bubble, .enlarged-bubble{
	height:0.5rem;
	width:0.5rem;
	border-radius:50%;
	background-color:transparent;
	margin-bottom:0.25rem;
	margin-top:0.25rem;
	transition: 1s;
    border: black 0.1rem solid;
    cursor: pointer;
}
.bubble{
    background-color: rgb(0, 0, 0);
    mix-blend-mode: color-dodge;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.enlarged-bubble{
}
.bubble.active{
	background-color: rgb(255, 255, 255);
}
.enlarged-bubble.active{
    background-color: black;
}

.arrows{
	display:none;
}



@media screen and (orientation: portrait), (pointer:none), (pointer:coarse) {
	.bubble-container{
		position:relative;
		margin-top: 0.5rem;
		margin-left:var(--padding);
		margin-right: var(--padding);
		flex-direction:row;
		width:var(--padded-width);
		justify-content: space-between;;
		height:fit-content;
		align-items:center;
	}
	.bubbles{
		flex-direction:row;
		width:fit-content;
		height: fit-content;
	}
	.bubble{
        border: black 0.1rem solid;
        background-color:white;
		margin-left:0.25rem;
        margin-right:0.25rem;
		margin-bottom:0;
		margin-top:0;
        mix-blend-mode: normal;
        -webkit-filter: none;
        filter: none;
	}
    .bubble.active{
        background-color:black;
    }
    	.arrows{
		display:flex;
		flex-direction: row;
		width: fit-content;
		height:2rem;
		align-items:center;
		width: 3rem;
		justify-content:space-between;
	}
	.arrows .arrow{
		height: 0.7rem;
		width: 0.7rem;
		min-width: 0.7rem;
		border-top:black 0.1rem solid;
		border-right: black 0.1rem solid;
		border-bottom:transparent 0.1rem solid;
                border-left: transparent 0.1rem solid;
		cursor:pointer;
	}
	.arrows .arrow.left{
		/*margin-right:1rem;*/
		transform: translate(25%,0) rotate(-135deg);
       		-webkit-transform: translate(25%,0) rotate(-135deg) ;
		/*transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);*/
	}
	.arrows .arrow.right{
		transform: translate(-25%, 0) rotate(45deg);
        	-webkit-transform:translate(-25%, 0) rotate(45deg) ;
                /*transform: rotate(45deg);
		-webkit-transform: rotate(45deg);*/
        }


        .galeries-landscape{
            display: none;
        }
        .galeries-portrait{
            display: flex;
        }
        .content-producte {
            flex-direction: column;
            max-height:fit-content;
            height: fit-content;
            width: 100%;
            max-width:100%;
            overflow-x: hidden

        }

        #main-details{
            width: var(--padded-width);
            max-width: var(--padded-width);
            padding-left:var(--padding);
            padding-right: var(--padding);
            left:0;
            height: fit-content;
            min-height: fit-content;
            height:fit-content;
            position: revert;
            max-height: fit-content;
            padding-top: 4vh;

        }

        #producte-images{
            width: 100%;
            max-width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: scroll;
        }

        .main-foto{
            height:100dvw;
            max-height:100dvw;
            width:100dvw;
            min-width:100dvw;
        }

        #main-details{
            background-color:white;
        }

    	#titol_producte{
        	font-size: 1.25rem;
        	margin-bottom: 0.25rem;
    	}

    	.product-info{
        	padding-top: 2vh;
    	}

    	#product-description{

    	}

    	#initial-price{
            font-size: 0.9rem;
    	}

    	.options{
        	width:100%;
    	}

    	.color-selector{

    	}

    	.colour-label[style*="background-color:white"] {
    		background-color:lightgray !important;
    	}

    	.subtitol-galeria{
    		margin-top: 8vh;
    	}

    	.content-galeria{
            margin-bottom: 0;
	    margin-top:0;
    	}
	.galeria{
		margin-bottom:0;
	}
	.producte{
		margin-top:0 !important;
	}
    
        .enlarged-slideshow{
            min-height:60%;
            height:60%;
            width: 90%;
            min-width:90%;


        }

    	.enlarged-img.zoomed{
        	background-size: 200%;
    	}
	
    	.close-enlarged-container{
        	font-size: 2.5vh;
        	top:15%;
        	right:5%;
        	height:5%;
        	width:5%;;
    	}

    .missatge-enviament{
        color: gray;
    }

    #footer{
        margin-top: 8vh;
    }
}

