
body {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

}


.content-producte {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: relative;
    height: 100vh;
    align-items: flex-start;
    margin-top:0;
    justify-content: space-between;
    background-position: right;
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;

}

#producte-images{
	position:relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    scroll-snap-type: both mandatory;
}

.main-foto{
	position:relative;
    display:flex;
	width: 100%;
	height: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    scroll-snap-align:start;
    cursor: zoom-in;

}




#fotos{
    height:fit-content;
}

#main-details{
	position:absolute;
    left:58%;
	width: 40%;
    max-width: 40%;
	z-index:30;
	display:flex;
    flex-direction: column;
    align-items: center;
    height: 93vh;
    min-height: 93vh;
    padding-top:7vh;
    padding-left:1vw;
    padding-right:1vw;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-y: scroll;
    max-height: 93vh;
    scroll-behavior: smooth;



}

#titol_producte {
    position: relative;
    height: max-content;
    width: 100%;
    margin-bottom: 2vh;
    margin-top: 3vh;
    text-transform: uppercase;

}


#buy{
    display: none;
    width: 100%;
    min-width: fit-content;
    height: 5vh;
    background-color: #000000;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


#all-details{
    position:relative;
	height:fit-content;
	background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width:60dvw;
    max-width: 60dvw;

}

#product-description {
    position: relative;
    height: fit-content;
    margin-bottom: 2vh;
    margin-top: 0.5vh;
    text-align: justify;
    width:100%;
    white-space: pre-line;
}
.extra-info{
    text-align: justify;
    width:100%;
    white-space: pre-line;
}
.info{
	width:100%;
    padding-top: 5vh;
}

.desplegable{
    height: fit-content;
    width:100%;
    padding-bottom: 3vh;
}
.titol-desplegable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin-top: 0.2vh;
    margin-bottom: 0.2vh;
    font-weight: normal;
}

.info-desplegable {
    display: none;
    padding:1%;
}
.info-desplegable > p {
    margin-top: 0.25rem;
}
.info-desplegable > ul {
    margin-top: 0.25rem;
    padding-left: 2.5vh;
}
.subtitol-desplegable {
    margin-bottom: 0;
}
.titol-desplegable .arrow{
}

.popup-info {
    flex-direction: column;
    display: none;
    z-index: 50;
    border: black 0.2vh solid;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 100);
    padding: 1vw;
    max-height: 80vh;
    overflow-y: scroll;
    height: fit-content;
}


.translucid-screen{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.popup-cross {
    position: absolute;
    right: 0;
    top: 0;
}
#form .popup-cross{
    	display:none;
    }
#form{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;

}
#info-talles{
    margin-top: 4vh;

}
#buy-options{
    width: 100%;
    position:relative;
	display:flex;
    flex-direction: column;
    padding-bottom: 2vh;
}
.option-field legend{
    padding:0;
    margin:0;
    margin-bottom: 0.5vh;
}

.option-field{
    padding: 0;
    margin:0;
	padding-bottom: 4vh;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:100%;
    border: none;
    align-items: flex-start;

}
.hidden-input{
    display: none;
}
.option-field label{
    cursor: pointer;
    margin-right: 0.1rem;
    margin-bottom: 0.5rem;
    margin-top:0.5rem
}


.option-field .text-label:has(> .hidden-input[checked=true]){
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}


.options{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;


}
.multiple-input-span{
	display:flex;
	flex-wrap:wrap;
	max-width:100%;
	width:fit-content;
    align-items:flex-end;
    height: 3vh;

}
.option{
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;


}
.talla{
    margin-right: 2%;
    margin-bottom: 2vh;
    margin-top:2vh;
}

.multiple-input, #size-country {
        margin:0;
        padding:0;
	border:none;
	border-bottom:1px solid black;
	outline-offset: 0;
	width:6vh;
	max-width:50%;
	background-color:rgba(0,0,0,0);
	color:black;
    height:100%;
}
.multiple-input{
    margin-right: 1dvw;
}

.color-selector{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    border:none;
    margin-right: 4vh;
    height: 3vh;
    align-items: center;
    width: fit-content;
    min-width: fit-content;
}
.colour-label{
    height: 2vh;
    width: 2vh;
    min-width:2vh;
    border-radius: 50%;
    margin-right: 0.5vh;
    margin-left:0.5vh;
    font-size:0.5rem;
}

.pro-pedra-gran{
    height: 2.2vh;
    width: 2.2vh;
    min-width:2.2vh;
    margin-right: 0.4vh;
    margin-left: 0.4vh;
}
.pro-pedra-petita{
    height: 1.8vh;
    width: 1.8vh;
    min-width: 1.8vh;
    margin-right: 0.6vh;
    margin-left: 0.6vh;
}

.colour-label:has(> .hidden-input[checked=true]){
    border: black solid 0.2vh;
    margin-right: 0.4vh;
    margin-left:0.4vh;

}
.pro-pedra-petita:has(> .hidden-input[checked=true]){
        margin-right: 0.3vh;
	margin-left: 0.3vh;
    }
.pro-pedra-gran:has(> .hidden-input[checked=true]){
        margin-right: 0.5vh;
	margin-left: 0.5vh;
    }

#final-price{
    display: none;
    margin:1vh;
    width:100%;
}

#initial-price{
    width: 100%;

}

.add-to-cart{
    width: 100%;
    min-height: 5vh;
    margin-top: 1vh;

}
.missatge-enviament{
    display: none;
    flex-direction: column;
    margin-top: 1.5vh;
    font-size: 0.8rem;
    width: 80%;

    font-style: italic;
    text-align: center ;
    justify-content: center
}
.no-border{
    border: none;
}


#top-left{
    align-items: flex-start;
    padding-right: 8vh;
}
#top-right{
    align-items: flex-end;
    padding-left: 8vh;
}

.content-galeria{
    margin-top: 2vh;

}
.galeria{
    margin-top: 0;
    margin-bottom: 0;
}


.subtitol-galeria{
    margin-top: 10vh;
    margin-bottom: 5vh;
}


.producte-galeria{
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.galeries-landscape{
    display: flex;
}
.galeries-portrait{
    display: none;
}


.table-container{
    width: calc(100%);
    max-width: calc(100%);
    overflow-x: scroll;
    min-height: fit-content;
}

table {
  border-collapse: collapse;
    position: relative;
    height:fit-content;
    min-height: fit-content;

}


td, th{
    margin: 1%;
    text-align: right;
    width: 10%;
    min-width: max-content;;
    min-height: fit-content;
    border: 1px solid #000000;
}
tr{

}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
tr:hover{
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

tr:first-child {

    position: sticky;
    top: 0;
    background-color: white;
    border: none;

    .th{
        position: sticky;

    }
}


.enlarged-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
    overflow-y: scroll;
}

.enlarged-slideshow{
	display: flex;
	flex-direction:column;
	position: relative;
	width: 90%;
	min-width:90%;
	height: 90%;
	min-height: 90%;
	background-color: orange;
	overflow-y:scroll;
	scroll-snap-type: y mandatory;
	
}
.enlarged-img{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height:100%;
    height: 100%;
    cursor: zoom-in;
    overflow: hidden;
    background-size: cover;
    background-position: center, left, 0, top, 0;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}
.enlarged-img.zoomed{
        background-size: 150%;
        cursor: zoom-out;
    }
.close-enlarged-container{
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2000;
	position: absolute;
	font-size: 2.5vw;
    top:5%;
    right:0;
    height:5%;
    width:5%;
    font-weight: normal;
    -webkit-text-stroke: 0.05rem white;
    text-stroke: 0.05rem white;
}


.bubble-container{
	position:absolute;
	left:0;
	top:0;
	height:100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-left:1vw;
}
.bubbles{
    mix-blend-mode: overlay;
}
.bubbles, .enlarged-bubbles{
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	height: fit-content;
	width:fit-content;
	z-index:10;
}
.enlarged-bubbles{
	margin-left:0;
	width: 5dvw;
    position: absolute;
    left:0;
    bottom:0;
    height:100vh;
    z-index:2500;
}

.bubble-container.hidden, .enlarged-bubbles.hidden{
	display:none;
}

.bubble, .enlarged-bubble{
	height:0.5rem;
	width:0.5rem;
	border-radius:50%;
	background-color:transparent;
	margin-bottom:0.25rem;
	margin-top:0.25rem;
	transition: 1s;
    border: black 0.1rem solid;
    cursor: pointer;
}
.bubble{
    background-color: rgb(0, 0, 0);
    mix-blend-mode: color-dodge;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.enlarged-bubble{

	height:3dvw;
	width: 3dvw;
	max-width: 1rem;
	max-height:1rem;
}
.bubble.active{
	background-color: rgb(255, 255, 255);
}
.enlarged-bubble.active{
    background-color: black;
}

.arrows{
	display:none;
}



@media screen and (orientation: portrait) {
	.bubble-container{
		position:relative;
		margin-top: 0.5rem;
		margin-left:2vh;
		margin-right: 2vh;
		flex-direction:row;
		width:calc(100% - 4vh);
		justify-content: space-between;;
		height:fit-content;
		align-items:center;
	}
	.bubbles{
		flex-direction:row;
		width:fit-content;
		height: fit-content;
	}
	.bubble{
        border: black 0.1rem solid;
        background-color:white;
		margin-left:0.25rem;
        margin-right:0.25rem;
		margin-bottom:0;
		margin-top:0;
        mix-blend-mode: normal;
        -webkit-filter: none;
        filter: none;
	}
    .bubble.active{
        background-color:black;
    }
    	.arrows{
		display:flex;
		flex-direction: row;
		width: fit-content;
		height:2rem;
		align-items:center;
	}
	.arrows .arrow{
		height: 0.8rem;
		width: 0.8rem;
		min-width: 0.8rem;
		border-top:black 0.1rem solid;
		border-right: black 0.1rem solid;
		border-bottom:transparent 0.1rem solid;
                border-left: transparent 0.1rem solid;
		cursor:pointer;
	}
	.arrows .arrow.left{
		margin-right:1rem;
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}
	.arrows .arrow.right{
                transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
        }


        .galeries-landscape{
            display: none;
        }
        .galeries-portrait{
            display: flex;
        }
        .content-producte {
            flex-direction: column;
            max-height:fit-content;
            height: fit-content;
            width: 100%;
            max-width:100%;
            overflow-x: hidden

        }

        #main-details{
            width: calc(100% - 4vh);
            max-width: calc(100% - 4vh);
            padding-left:2vh;
            padding-right:2vh;
            left:0;
            height: fit-content;
            min-height: fit-content;
            height:fit-content;

        }

        #producte-images{
            width: 100%;
            max-width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: scroll;
        }

        .main-foto{
            height:100dvw;
            max-height:100dvw;
            width:100dvw;
            min-width:100dvw;
        }

        #main-details{
            background-color:white;
        }

    	#titol_producte{
        	font-size: 1.25rem;
        	margin-bottom: 1rem;
    	}

    	.info{
        	padding-top: 2vh;
    	}

    	#product-description{
        	margin-top: 0;
    	}

    	#initial-price{
        	margin-bottom: 2rem;
    	}

    	.options{
        	width:fit-content;
    	}

    	.color-selector{
        	width:fit-content;
        	min-width: 100%;
        	justify-content: space-evenly;
    	}

    	.colour-label[style*="background-color:white"] {
    		background-color:lightgray !important;
    	}

    	.subtitol-galeria{
    		margin-top: 8vh;
    	}

    	.content-galeria{
            margin-bottom: 0;
	    margin-top:0;
    	}
	.galeria{
		margin-bottom:0;
	}
	.producte{
		margin-top:0 !important;
	}

    
        .enlarged-slideshow{
            min-height:60%;
            height:60%;

        }

    	.enlarged-img.zoomed{
        	background-size: 200%;
    	}
	
    	.close-enlarged-container{
        	font-size: 2.5vh;
        	top:15%;
        	right:5%;
        	height:5%;
        	width:5%;;
    	}
        .popup-info {
            padding:2vh;
        }
    .missatge-enviament{

    width: 100%;

}
}

