.titol-projecte{
    display: flex;
    font-size: var(--font-size-extra-large);
    text-align: center;
    width: 100dvw;
    height: 100dvh;
    align-content: center;
    align-items: center;
    justify-content: center;

}
