
.slide-content{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}


.slideshow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1 ;
    max-width: 100dvw;
    overflow: hidden;

}
.slide-content {
    z-index: -10;
    transition: 2s ease-in;
    background-color:white;
}

.slide-content:first-of-type{
	display: block;
}
.slide {
    width: 100%;
    height: 100%;

}
img {
  vertical-align: middle;
  horiz-align: center;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}






