
.content-success, .content-cancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;

}




#checkout {
    margin-top: 10vh;
    width: 100dvw;
    min-height: calc(100dvh - 10vh);
}