
.content-success, .content-cancel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
    margin-top: 7vh;
    width: 50%;
    padding-bottom: 7vh;
}
.content-success > * {
        width:100%
}
.success-titol, .success-home{
    font-size: var(--font-size-large);
    text-align: center;
    font-weight: bold;
}

.checkout-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-height: calc(100dvh - 10vh);
    width: 100%;
}


#checkout {
    margin-top: 10vh;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#change_email{
    position: relative;
    flex-direction: column;
    margin-top: var(--padding);
    padding-left: var(--padding);
    padding-right: var(--padding);
    min-height: 2rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: var(--padding);
    border: 1px solid black;
}


@media only screen and (max-width: 1025px) {
    .content-success, .content-cancel{
        width: var(--padded-width);
        font-size: var(--font-size-small);
    }
    .success-titol, .success-home{
        font-size: var(--font-size-small);

    }
}