
.content-success, .content-cancel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;


}




#checkout {
    margin-top: 10vh;
    width: 100%;
    min-height: calc(100dvh - 10vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#change_email{
    position: fixed;
    flex-direction: column;
    bottom:var(--padding);
    padding-left: var(--padding);
    padding-right: var(--padding);
    min-height: 2rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: var(--padding);
    border: 1px solid black;
}