
.tic-content{
	height:fit-content;
	min-height: calc(90vh - 3rem);
	
	width: var(--padded-width);
	display: flex;
	flex-direction: column;
	padding: var(--padding);
	padding-top: 3vh;
	padding-bottom: 3vh;
}
.tic-title{
	font-size:1.5rem;
	min-height:3rem;
	max-height:3rem;
	margin-top: 10vh;
	width: var(--padded-width);
}

.tic-page{
	margin-bottom:3vh;
}
.tic-subtitle{
	margin-bottom:1vh;
	font-size: 1.2rem;
}

.tic-info{
	margin-bottom: 1vh;
	white-space: pre-line;
}


.cookie-selector{
	width:100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
}

.cookie-span{
	width:100%;
	height: fit-content;
	display:flex;
	flex-direction: row;
	margin-bottom: 1vh;
}
.cookie-label{
	width: fit-content;

}

.update-cookies{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	padding: var(--padding);
	min-height: fit-content;
}

