
{% extends "admin-base.html" %}


{% block content %}
<link href='/style/admin-loc.css' rel='stylesheet'>
<div id=localisation class="admin-content">
	{% set all_data = loc.get_all_values_by_page(get_hidden=True) %}
	{% for category in ["common", "page", "dynamic", "config", "options", "other"] %}
	<div class="loc-category">
		<div class="loc-category-title loc" loc="{{"categories_"+category}}">{{ loc["categories_"+category] }}</div>
	{% for page, data in all_data.items() if data.get("_category", "other") == category%}
    		<div class="page-block">
        		<div class="page-name" onclick="this.nextElementSibling.classList.toggle('hidden')">{{ data["_name"] }}</div>
                <div class="page-data hidden">
        		{% for key, value in data.items() if key[0] != "_" %}
                    <div class="loc-block">
                        <div class="loc-key"><em>{{ page }} - </em>{{ key }}</div>
                        {% for lan in ["cat", "en", "es"] %}
                                <div class="lan-block">
                                    <label class="lan-name">{{ lan }}:</label>
                                    <textarea page="{{ page }}" key="{{ key }}" lan="{{ lan }}" oninput="resizeArea(this)" style="{{ 'background-color: orange' if value[lan] == "$empty$"}} {{ 'background-color: salmon' if not value[lan] }}"  rows="1" class="lan-value">{{ value[lan] }}</textarea>
                                    <button onclick="updateField(this.previousElementSibling)">&#10003;</button>
                                </div>
                        {% endfor %}
			{% if data.get("_allow_remove", True) %}
				<button onclick="deleteField(this)" page="{{page}}" key="{{key}}" style="background-color:red; margin-left:10%;">&#10008;</button>
			{% endif %}
                    </div>
        		{% endfor %}
			{% if data.get("_allow_add", False) %}
				<button type=button>+</button>
			{% endif %}
                </div>
    		</div>
	{% endfor %}
	</div>
	{% endfor %}
	
</div>
{% endblock %}

