<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico">
    <title>PANSON: Admin</title>
    <link href='/static/navigation.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>
    <link href='/static/admin.css' rel='stylesheet'>
</head>




<div class="content">
    <h1>Admin</h1>
    Usuari: {{ user }}
    <div class="productes">
        {% for producte in productes %}
            <form action="/admin/update/{{ producte.id }}" method="post" class="producte">
                <div class="producte-titol">{{ producte.nom }}</div>
                <div class="producte-id" >{{ producte.id }}</div>
                Tipus:<select name="text:tipus" id="tipus" value="{{ producte.tipus }}">
                    {% for tipus in loc.tipus %}
                        <option value="{{ tipus }}" {{ "selected=selected" if tipus == producte.tipus }}>{{ tipus }}</option>
                    {% endfor %}
                    </select>
                Nom:<input type="text" name="text:nom" id="nom" value="{{ producte.nom }}" >
                Colleccio:<select name="text:collecio" id="collecio" value="{{ producte.collecio }}">
                    <option value="None" {{ "selected=selected" if "collecio" not in producte.__dict__ }}>Cap</option>
                    {% for collecio in productes.collecions %}
                        <option value="{{ collecio.lower() }}" {{ "selected=selected" if collecio.lower() == producte.collecio }}>{{ collecio }}</option>
                    {% endfor %}
                    </select>
                Unica:<input type="checkbox" name="bool:unica" id="unica" {{ "checked=\"checked\"" if producte.unica }} >


                Subtitol:<input type="text" name="text:subtitol" id="subtitol" value="{{ producte.subtitol }}" >
                Descripcio:<textarea  name="text:descripcio" id="descripcio" >{{ producte.descripcio }}</textarea>
                Fotos:
                <div class="fotos">
                    {% for imatge in producte.imatges %}
                        <div class="foto_producte" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ imatge }}?alt=media')">

                        </div>
                    {% endfor %}
                </div>
                <input type="submit" value="Actualitzar" name="update" class="button">


            </form>
        {% endfor %}

    </div>
</div>