<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico">
    <title>PANSON: Admin</title>
    <link href='/static/navigation.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>

    <link href='/static/admin.css' rel='stylesheet'>
</head>



<h2>Admin login</h2>
<form method=post action=/admin/>
    Usuari:<input type=text name=user id=usuari value="" >
    Contrasenya:<input type=password name=password value="" id=contrasenya autocomplete=password>
    <input type=submit name=save value=Accedir id=accedir>
</form>
