<!doctype html>
<html lang="{{ loc.lan }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PANSON: Admin</title>
    <link href='/style/navigation.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>
    <script defer type="text/javascript" src="/static/scripts/admin.js"></script>

    <link href='/style/admin.css' rel='stylesheet'>
</head>




<div class="content">
    <h1>{{ loc.adm_admin }}</h1>
    <button onclick="window.location.href='/admin/main/'">Productes</button>
    <br>


{% for page, data in loc.get_all_values_by_page().items() %}
    <div class="page-block">
        <div class="page-name">{{ page }}</div>
        {% for key, value in data.items() %}
            <div class="loc-block">
                <div class="loc-key"><em>{{ page }} - </em>{{ key }}</div>
                {% for lan in ["cat", "en"] %}
                    <div class="lan-block">
                        <label class="lan-name">{{ lan }}:</label>
                        <textarea page="{{ page }}" key="{{ key }}" lan="{{ lan }}" oninput="resizeArea(this)" style="{{ 'background-color: orange' if value[lan] == "$empty$"}} {{ 'background-color: salmon' if not value[lan] }}"  rows="1" class="lan-value">{{ value[lan] }}</textarea>
                        <button onclick="updateField(this.previousElementSibling)">&#10003</button>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}



</div>



</html>