{% extends "admin-base.html" %}



{% block content %}


<div id="bespoke" class="admin-content">

	{% for product in productes.bespoke %}
		<div class="bespoke-product">
			<div class="product-element bespoke-id">{{product._id}}</div>
			<div class="product-element bespoke-name">Nom: <input product="{{product._id}}" field="nom" class="bespoke-name-input" value="{{product.nom}}"><button class="bespoke-update" onclick="bespokeUpdate(this.previousElementSibling)">&#10004;</button></div>
			<div class="product-element bespoke-for">Per a: <input product="{{product._id}}" field="per_a"  class="bespoke-for-input" value="{{product.per_a}}"><button class="bespoke-update" onclick="bespokeUpdate(this.previousElementSibling)">&#10004;</button></div>
            <div class="product-element bespoke-description">Descripcio: <textarea product="{{product._id}}" field="descripcio"  class="bespoke-descripcio-input" >{{product.descripcio}}</textarea><button class="bespoke-update" onclick="bespokeUpdate(this.previousElementSibling)">&#10004;</button></div>

			<div class="bespoke-images">
                {% for image in product.imatges %}
                    <div class="bespoke-image" style="background-image: url('{{ utils.img_url("bespoke", image) }}')">
                        <button type=button class=bespoke-image-left onclick="bespokeImageMove(this.parentElement)">&larr;</button>
                        <button type=button class=bespoke-image-right onclick="bespokeImageMove(this.parentElement)">&rarr;</button>
                        <button type=button class=bespoke-image-delete onclick="bespokeImageDelete(this.parentElement)">&#10008;</button>
                    </div>
                {% endfor %}

				<button class="bespoke-image-add" onclick="triggerInput(this.firstElementChild)">&#10133;<input type="file" accept="image/*|video/*" name="file" multiple class="bespoke-image-input" oninput="bespokeAddImage(this)" field="imatges" product="{{product._id}}" ></button>
			</div>
		</div>
	{%endfor%}

</div>
{% endblock %}
