

{% extends "base.html" %}
{% block head %}
    <title>PANSON: ADMIN</title>
{% endblock %}

{% block imports %}
    <link href='/style/admin-loc.css' as='style' rel='preload'>
    <link href='/style/admin.css' as='style' rel='preload'>
    <link href='/scripts/admin.js' as='script' rel='preload'>

    <script defer type="text/javascript" src="/scripts/admin.js"></script>
    <link href='/style/admin.css' rel='stylesheet'>
    <link href='/style/admin-loc.css' rel='stylesheet'>
{% endblock %}


{% block body %}

	<body>
		<div id="admin-common">
			<div id="admin-header">ADMIN</div>
			<div id=admin-menu>
				<button onclick="window.location.href='/admin/productes/'">Productes</button>
				<button onclick="window.location.href='/admin/bespoke/'">Bespoke</button>
				<button onclick="window.location.href='/admin/localisation/'">Localitzacio</button>
				<button onclick="window.location.href='/admin/collecions/'">Collecions</button>
				{% if user.username == "iain" %}
					<button onclick="window.location.href='/admin/misc/'">Misc</button>
				{% endif %}
			</div>
		</div>
		<div id=admin-page>
			{% block content %}{% endblock %}
		</div>

	</body>

{% endblock %}
