<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PANSON: Admin</title>
    <link href='/static/navigation.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>
    <script defer type="text/javascript" src="/static/scripts/admin.js"></script>

    <link href='/static/admin.css' rel='stylesheet'>
</head>




<div class="content">
    <h1>Admin</h1>
    <button onclick="window.location.href='/admin/loc/'">Localitzacio</button>
<br>
    <div class="productes">
        {% for producte in productes.get_all() + [productes.new()] %}
            <form action="/admin/update/{{ producte._id }}" method="post" class="producte" enctype="multipart/form-data">

                {% if producte.new %}
                    <div class="producte-titol clickable under-hover" id="{{ producte._id }}" onclick="showData(this)">{{ "(Nou producte)"}}</div>
                    <span> ID:<input type="text" name="text:_id" id="id" value="{{ producte._id }}" >No es podra cambiar mes tard!</span>
                {% else %}
                    <div class="producte-titol clickable under-hover" id="{{ producte._id }}" onclick="showData(this)">{{ producte.nom }} {{ "(Amagat)" if producte.amagat }}</div>
                    <div class="producte-id" >{{ producte._id }}</div>
                    <span><button type="button" class="delete" onclick="location.href='/admin/delete/{{ producte._id }}'">Esborrar</button>
                        {% if producte.amagat %}
                            <button type="button" class="unhide_product" onclick="location.href='/admin/unhide/{{ producte._id }}'">Mostrar</button>
                        {% else %}
                            <button type="button" class="hide_product" onclick="location.href='/admin/hide/{{ producte._id }}'">Amagar</button>
                        {% endif %}
                            </span>
                {% endif %}
                <div class="data hide">
                    <h4>Tipus</h4><select name="text:tipus" id="tipus" value="{{ producte.tipus }}">
                        {% for tipus in loc.misc["types"] %}
                            <option value="{{ tipus }}" {{ "selected=selected" if tipus == producte.tipus }}>{{ tipus }}</option>
                        {% endfor %}
                        </select>
                    <h4>Nom</h4><input type="text" name="text:nom" id="nom" value="{{ producte.nom }}" >
                    <h4>Collecio</h4><select name="text:collecio" id="collecio" value="{{ producte.collecio }}">
                        <option value="None" {{ "selected=selected" if "collecio" not in producte.__dict__ }}>Cap</option>
                        {% for collecio in productes.col_names %}
                            <option value="{{ collecio.lower() }}" {{ "selected=selected" if collecio.lower() == producte.collecio }}>{{ collecio }}</option>
                        {% endfor %}
                        </select>
                    <span><h4>Unica<input type="checkbox" name="bool:unica" id="unica" {{ "checked=\"checked\"" if producte.unica }} ></h4></span>


                    <h4>Subtitol</h4><input type="text" name="text:subtitol" id="subtitol" value="{{ producte.subtitol }}" >
                    <h4>Descripcio</h4><textarea  name="text:descripcio" id="descripcio" >{{ producte.descripcio }}</textarea>
                    Opcions: <br>

                    <br><br><br>
                    <h3>Materials</h3>
                    <ul id="material_list">
                    {% if producte.opcions["materials"] %}
                        {% for n, (material, info) in utils.enumerate(producte.opcions["materials"].items()) %}
                            <li><span><input type="text" name="dict:op:materials#{{ n }}" class="material" value="{{ material }}"> Preu <input type="number" name="number:op:materials#{{ n }}:preu" id="material" value="{{ info["preu"] }}"><button class="remove" type="button" onclick="this.parentElement.parentElement.remove()">x</button></span></li>
                        {% endfor %}
                    {% endif %}
                    <li><button id="new_material" type="button" onclick="addMaterial(this)">+</button></li>
                    </ul>

                    <h3>Colors</h3>
                    <span>Numero de colors a triar: <input type="number" name="number:op:n_colors" id="n_colors" value="{{ producte.opcions["n_colors"] }}"></span>
                    <span id="extra_list">Extras:<br>
                        {% for n, extra in utils.enumerate(producte.opcions["extra_colors"]) %}
                            <span><input type="text" name="list:op:extra_colors#{{ n }}" class="extra_colors" value="{{ extra }}"><button class="remove" type="button" onclick="this.parentElement.remove()">x</button></span>
                        {% endfor %}
                        <button id="new_extra" type="button" onclick="addExtra(this)">+</button>
                    </span>
                    <ul id="colour_list">
                    {% if producte.opcions["colors"] %}
                        {% for n, (color, info) in utils.enumerate(producte.opcions["colors"].items()) %}
                            <li><span><input type="text" name="dict:op:colors#{{ n }}" class="color" value="{{ color }}"> Preu <input type="number" name="number:op:colors#{{ n }}:preu" class="color_preu" value="{{ info["preu"] }}"><button class="remove" type="button" onclick="this.parentElement.parentElement.remove()">x</button></span></li>
                        {% endfor %}
                    {% endif %}
                    <button id="new_colour" type="button" onclick="addColour(this)">+</button>
                    </ul>

                    <h3>Talles</h3>
                    <span>Totes les talles: <input type="checkbox" name="bool:totes_talles" id="totes_talles" {{ "checked=\"checked\"" if producte["totes_talles"]}} ></span>
                    <ul id="size_list">
                    {% if producte.opcions["talles"] %}
                        {% for n, (talla, info) in utils.enumerate(producte.opcions["talles"].items()) if talla != "totes" %}
                            <li><span><input type="text" name="dict:op:talles#{{ n }}" class="talla" value="{{ talla }}"><input type="number" name="number:op:talles#{{ n }}:qty" class="talla_quantitat" value="{{ info["qty"] }}"><button class="remove" type="button" onclick="this.parentElement.remove()">x</button></span></li>
                        {% endfor %}
                    {% endif %}
                    <button id="new_size" type="button" onclick="addSize(this)">+</button>
                    </ul>

                    <h3>Variacions</h3>
                    <ul id="variation_list">
                    {% if producte.opcions["variacions"] %}
                        {% for n, (variacio, info) in utils.enumerate(producte.opcions["variacions"].items()) %}
                            <li><span><input type="text" name="dict:variacions#{{ n }}" class="variacio" value="{{ variacio }}"> Preu <input type="number" name="number:variacions#{{ n }}:preu" class="variacio_preu" value="{{ info["preu"] }}"><button class="remove" type="button" onclick="this.parentElement.parentElement.remove()">x</button></span></li>
                        {% endfor %}
                    {% endif %}
                    <li><button id="new_variation" type="button" onclick="addVariation(this)">+</button></li>
                    </ul>




                    <br>
                    <h3>Fotos</h3>
                    <div class="fotos">
			    {{ producte.imatges }}
                        {% for n, imatge in utils.enumerate(producte.imatges) %}
                            <div class="foto_producte" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ imatge }}?alt=media')">
				    <button type=button class=prio-up onclick="prioUp(this.parentElement)">&larr;</button>
				    <label>delete<input type=checkbox name="bool:imatges#{{ n }}:delete" class=del-img></label>
				    <input type=hidden name="number:imatges#{{ n }}:order" class="order-img-input" value="{{n}}">
				    <div class=order-img-text>{{ n }}</div>
				    <button type=button class=prio-up onclick="prioDown(this.parentElement)">&rarr;</button>
				    <input type=hidden class="name-img" name="text:imatges#{{n}}:name" value="{{imatge}}">
				    <div class="name-img">{{imatge}}</div>

                            </div>
                        {% endfor %}
                    </div>
                    <input type="button" id="upload_button" value="Afegir fotos" onclick="this.nextElementSibling.click();" />
                    <input type="file" style="display:none;" id="image_upload" name="file" accept="image/*|video/*" multiple/>
                    <input type="submit" value="Actualitzar" class="button">
                </div>

            </form>
        {% endfor %}

    </div>
</div>
