

{% block head %}
    <title>PANSON: ADMIN</title>
{% endblock %}

{% block imports %}
    <link href='/style/admin.css' as='style' rel='preload'>
    <link href='/style/admin-img.css' as='style' rel='preload'>
    <link href='/style/admin-trello.css' as='style' rel='preload'>
    <link href='/scripts/admin.js' as='script' rel='preload'>
    <link href='/scripts/admin-trello.js' as='script' rel='preload'>

    <script defer type="text/javascript" src="/scripts/admin.js"></script>
    <script defer type="text/javascript" src="/scripts/admin-trello.js"></script>
    <link href='/style/admin.css' rel='stylesheet'>
    <link href='/style/admin-img.css' rel='stylesheet'>
    <link href='/style/admin-trello.css' rel='stylesheet'>

{% endblock %}

{% import 'admin-macros.html' as admin_macros with context%}



{% block body %}
<div id="nav-color" navColor="opaque"></div>
	<body>
		<div id="admin-common">
			<div id="admin-header"></div>
			<div id=admin-menu>
                <button onclick="window.location.href='/admin/productes'" class="loc" loc="admin-menu-productes">{{ loc.admin_menu_productes }}</button>
				<button onclick="window.location.href='/admin/bespoke'" class="loc" loc="admin-menu-bespoke">{{ loc.admin_menu_bespoke }}</button>
				<button onclick="window.location.href='/admin/collecions'" class="loc" loc="admin-menu-collecions">{{ loc.admin_menu_collecions }}</button>
				<button onclick="window.location.href='/admin/localisation'" class="loc" loc="admin-menu-localisation">{{ loc.admin_menu_localisation }}</button>
                <button onclick="window.location.href='/admin/imatges'"  class="loc" loc="admin-menu-imatges">{{ loc.admin_menu_imatges }}</button>
                <button onclick="window.location.href='/admin/uploads'"  class="loc" loc="admin-menu-uploads">{{ loc.admin_menu_uploads }}</button>
                <button onclick="window.location.href='/admin/trello'" class="loc" loc="admin-menu-trello">{{ loc.admin_menu_trello }}</button>
                <button onclick="window.location.href='/admin/newsletter'" class="loc" loc="admin-menu-newsletter">{{ loc.admin_menu_newsletter }}</button>
                <button onclick="window.location.href='/admin/misc'" class="loc" loc="admin-menu-avancat">{{ loc.admin_menu_avancat }}</button>
                {% if user.super %}
                {% endif %}
			</div>
		</div>
		<div id=admin-page>
			{% block content %}{% endblock %}
		</div>
        	{{ admin_macros.image_selector() }}

	</body>

{% endblock %}

{% block tag %}
{% endblock %}
{% block pixel %}
{% endblock %}
{% block session %}
{% endblock %}













