<!doctype html>
<html lang="{{ loc.lan }}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PANSON: ADMIN</title>
		<link href='/style/navigation.css' rel='stylesheet'>
		<script defer type="text/javascript" src="/scripts/navigation.js"></script>
		<script defer type="text/javascript" src="/scripts/admin.js"></script>
		<link href='/style/admin.css' rel='stylesheet'>
	</head>



	<body>
		<div id="admin-common">
			<h1>Admin</h1>
			<div id=admin-menu>

				<button onclick="window.location.href='/admin/bespoke/'">Bespoke</button>
				<button onclick="window.location.href='/admin/localisation/'">Localitzacio</button>
				{% if user.username == "iain" %}
                    <button onclick="window.location.href='/admin/products/'">Productes</button>
					<button onclick="window.location.href='/admin/misc/'">Misc</button>
				{% endif %}
			</div>
		</div>
		<div id=admin-page>
			{% block content %}{% endblock %}
		</div>

	</body>

</html>
