<!DOCTYPE html>
<html lang="{{ loc.lan }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% block head %}
    <title>PANSON</title>
{% endblock %}
    <link href='/style/navigation.css' as='style' rel='preload'>
    <link href='/style/footer.css' as='style' rel='preload'>
    <link href='/style/carret.css' as='style' rel='preload'>
    <link href='/scripts/navigation.js' as='script' rel='preload'>
    <link href='/scripts/cart.js' as='script' rel='preload'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='/style/navigation.css' rel='stylesheet'>
    <link href='/style/footer.css' rel='stylesheet'>
    <link href='/style/carret.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/scripts/navigation.js"></script>
    <script defer type="text/javascript" src="/scripts/cart.js"></script>
{% block imports %}

{% endblock %}
</head>


<body>
{% include "navigation.html" %}

{% block body %}

{% endblock %}

{% include "footer.html" %}
<div id=hidden-images class=hidden style="display:none; z-index:-999; overflow:hidden; max-height:0; max-width:0;"></div>
</body>
</html>
