<!DOCTYPE html>
<html lang="{{ loc.lan }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% block head %}
    <title>PANSON</title>
{% endblock %}
    <link href='/style/navigation.css' as='style' rel='preload'>
    <link href='/style/footer.css' as='style' rel='preload'>
    <link href='/style/carret.css' as='style' rel='preload'>
    <link href='/scripts/navigation.js' as='script' rel='preload'>
    <link href='/scripts/cart.js' as='script' rel='preload'>

    <link href='/style/navigation.css' rel='stylesheet'>
    <link href='/style/footer.css' rel='stylesheet'>
    <link href='/style/carret.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/scripts/navigation.js"></script>
    <script defer type="text/javascript" src="/scripts/cart.js"></script>

    {% if user.is_admin %}
        <link href='/style/localisation.css' as='style' rel='preload'>
        <link href='/style/localisation.css' rel='stylesheet'>
        <script defer src="/scripts/localisation.js"></script>
    {% endif %}

{% block imports %}

{% endblock %}
</head>

{% block tag %}
<script>
// Define dataLayer and the gtag function.
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}

// Set default consent to 'denied' as a placeholder
// Determine actual values based on your own requirements
gtag('consent', 'default', {
  'ad_storage': 'denied',
  'ad_user_data': 'denied',
  'ad_personalization': 'denied',
  'analytics_storage': 'denied'
});
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-91MFMYEZNH">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());
  gtag('config', 'G-91MFMYEZNH');
</script>

<script>
  function consentAnalytics() {
    gtag('consent', 'update', {
      'analytics_storage': 'granted'
    });
  }
</script>
{% endblock %}

<body>
	{% import 'cart.html' as cart_macros with context %}
{% include "navigation.html" %}

{% block body %}

{% endblock %}
{% include "footer.html" %}
<div id=hidden-images class=hidden style="display:none; z-index:-999; overflow:hidden; max-height:0; max-width:0;"></div>
</body>
</html>
