<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico">
    <title>PANSON: {{ loc.con_contacte }}</title>
    <link href='/static/navigation.css' rel='stylesheet'>
    <link href='/static/carret.css' rel='stylesheet'>
</head>



<div class="content-carret">
    <div class="title-carret">CARRET</div>
    <div class="llista-carret">
        {% for item in carret.carret %}
            <div class="producte-carret">
                <div class="producte-carret-nom">NOM: {{ item.producte.nom }}</div>
                <div class="producte-carret-id">ID: {{ item.producte.id }}</div>
                <div class="producte-carret-quantitat">QUANTITAT: {{ item.quantitat }}</div>
                <div class="producte-carret-material">MATERIAL: {{ item.material}}</div>
                <div class="producte-carret-variacio">VARIACIO: {{ item.variacio}}</div>
                <div class="producte-carret-color">COLOR: {{ item.color }}</div>
                <div class="producte-carret-preu">PREU: {{ item.preu }}</div>



            </div>
        {% endfor %}
    </div>
</div>