{% extends "base.html" %}
{% block head %}
    <title>PANSON: {{ loc.col_collecions }}</title>
{% endblock %}

{% block imports %}
    <link href='/style/galeria.css' as='style' rel='preload'>
    <link href='/scripts/galeria.js' as='script' rel='preload'>
    <link href='/style/collecio.css' as='style' rel='preload'>

    <link href='/style/galeria.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/scripts/galeria.js"></script>
    <link href='/style/collecio.css' rel='stylesheet'>

{% endblock %}


{% import 'galeria.html' as galeria with context%}
{{ galeria.galeria("productes", filtres=True, max_prods=4) }}


{% block body %}

{% if col.fons_blanc %}
    <div id="nav-color" color="white"></div>
{% endif %}
{% if imgs.get_brightness("collecions", col.imatges[0]) <127 %}
    <div id="nav-color" color="white"></div>
{% endif %}
    <div class="collecio">
        <div class="imatge-collecio fast-image" background='{{ imgs.get_url("collecions", col.imatges[0]) }}'>

            {% if col["nom"] %}
                <div class = "titol-collecio">
                        <span class="loc" loc="col_subtitol">{{ loc.col_subtitol }}</span> {{ col.nom }}<br>&or;
                </div>
            {% endif %}
        </div>
	<div class=galeria-landscape>
    {{ galeria.galeria("productes", filtres=False, filterKey="collecio", filterValue=col._id, min_row=1, min_prods=4, inline=True) }}
	</div>
	<div class=galeria-portrait>
    {{ galeria.galeria("productes", filtres=False, filterKey="collecio", filterValue=col._id, min_row=1, min_prods=2, inline=True) }}
        </div>
    </div>


{% endblock %}
