
{% extends "base.html" %}
{% block head %}
    <title>PANSON: {{ loc.col_collecions }}</title>
{% endblock %}

{% block imports %}
    <link href='/style/galeria.css' as='style' rel='preload'>
    <link href='/scripts/galeria.js' as='script' rel='preload'>
    <link href='/style/collecio.css' as='style' rel='preload'>

    <link href='/style/galeria.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/scripts/galeria.js"></script>
    <link href='/style/collecio.css' rel='stylesheet'>

{% endblock %}


{% import 'galeria.html' as galeria with context%}
{{ galeria.galeria("productes", filtres=True, max_prods=8) }}


{% block body %}
<div id="collecions">
{% for id, col in cols.items() %}
    <div class="collecio" id="{{id}}">
        <div class="imatge-collecio" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/collecions%2F{{ id }}.jpg?alt=media')"></div>

        {% if col["nom"] %}
            <div class = "titol-collecio"  onclick="location.href='/{{ loc.lan }}/productes?collecio={{ id }}'">
                    {{ col["nom"] }}
            </div>
        {% endif %}

    {{ galeria.galeria("productes", filtres=False, max_prods=2) }}
    </div>

{% endfor %}
</div>
{% endblock %}