<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PANSON: {{ loc.col_collecions }}</title>
    <link href='/static/navigation.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>
    <link href='/static/collecio.css' rel='stylesheet'>
</head>


{% for id, col in cols.items() %}
    <div class="content" >
    <div class="fons_collecio" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/collecions%2F{{ id }}.jpg?alt=media')">
        {% if col["nom"] %}
            <div class = "titol-collecio" id="{{ id }}" onclick="location.href='/{{ loc.lan }}/collecions/{{ id }}'">
                {{ col["nom"] }}
            </div>
        {% endif %}
        <div class = "descripcio">
            {{ loc.col_subtitiol }}
        </div>

    </div>
    </div>
{% endfor %}