<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico">
    <title>PANSON: {{ loc.col_collecions }}</title>
    <link href='/static/navigation.css' rel='stylesheet'>
    <link href='/static/index.css' rel='stylesheet'>
    <link href='/static/collecio.css' rel='stylesheet'>
</head>

{{ data }}
{% for id, name, description in data %}
    <div class="content" >
    <div class="fons_collecio" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/collecions%2F{{ id }}.jpg?alt=media')">
        {% if name %}
            <div class = "titol-collecio" onclick="location.href='/{{ loc.lan }}/collecions/{{ id }}'">
                {{ name }}
            </div>
        {% endif %}
        {% if description %}
            <div class = "descripcio">
                {{ description }}
            </div>
        {% endif %}
    </div>
    </div>
{% endfor %}