<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PANSON: {{ loc.con_contacte }}</title>
    <link href='/static/navigation.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>
    <link href='/static/contacte.css' rel='stylesheet'>
</head>


<div id=content-contacte>
	<div id="columnes-contacte">
		<div id=contacte-left>
			<div id=title-contact>{{ loc.con_contacte }}</div>
			<div class="contacte-emails">{{ loc.foo_email_general }} // <a href="mailto:{{ loc.email_general }}">{{ loc.email_general }}</a></div>
			<div class="contacte-emails">{{ loc.foo_email_bespoke }} // <a href="mailto:{{ loc.email_bespoke }}">{{ loc.email_bespoke }}</a></div>
		</div>
		<div id=contacte-right>
			<form id=email-form method=POST action="/{{ loc.lan }}/send_email/contacte/">
				<div id=sender-details>
					<label for=sender-name class=email-label>NOM
						<input type=name autocomplete=name class="email-input" id=sender-name name="sender-name"></label>
					<label for=sender-email class=email-label>EMAIL
						<input type=email autocomplete=email class="email-input" id=sender-email name="sender-email"></label>
				</div>
				<div id=long-inputs>
					<label for=sender-phone class=email-label>PHONE
						<input type=tel autocomplete=tel class=email-input id=sender-tel name=sender-tel></label>
					<label for=subject class=email-label>SUBJECT
						<input type=text autocomplete=subject class=mail-input id=subjext name=subject></label>
				</div>
			</form>
		</div>
	</div>


</div>



