
{% extends "base.html" %}
{% block head %}
    <title>PANSON: {{ loc.con_contacte }}</title>
{% endblock %}

{% block imports %}
    <link href='/style/contacte.css' as='style' rel='preload'>

    <link href='/style/contacte.css' rel='stylesheet'>
{% endblock %}

{% block body %}


<div id=content-contacte>
	<div id="columnes-contacte">
		<div id=contacte-left>
			<div id=title-contact>{{ loc.con_contacte }}</div>
			<div class="contacte-emails">{{ loc.foo_email_general }} <a href="mailto:{{ loc.email_general }}">{{ loc.email_general }}</a></div>
			<div class="contacte-emails">{{ loc.foo_email_bespoke }} <a href="mailto:{{ loc.email_bespoke }}">{{ loc.email_bespoke }}</a></div>
		</div>
		<div id=contacte-right>
			{{ contact_form() }}
		</div>
	</div>
</div>
{% endblock %}


{% macro contact_form() %}
			<form id=email-form method=POST action="/{{ loc.lan }}/send_email/contacte/">
				<div id=sender-details>
					<label for=sender-name class=email-label>NOM
						<input required type=text autocomplete=name class="email-input bottom-border-input" id=sender-name name="sender-name"></label>
					<label for=sender-email class=email-label>EMAIL
						<input required type=email autocomplete=email class="email-input bottom-border-input" id=sender-email name="sender-email"></label>
				</div>
				<div id=long-inputs>
                    <div id="phone-input">
                        <label for=sender-phone-prefix class="email-label phone-prefix-label">PREFIX
                            <span class="phone-prefix">+<input type=number autocomplete=tel-country-code class="phone-prefix-input email-input bottom-border-input" id=sender-tel-prefix name=sender-tel-prefix placeholder="34"></span></label>
                        <label for=sender-phone class="email-label">PHONE
                            <input required type=tel autocomplete=tel-national class="email-input bottom-border-input" id=sender-tel name=sender-tel></label>
					</div>
                    <label for=subject class=email-label>SUBJECT
						<input required type=text autocomplete=subject class="email-input bottom-border-input" id=subject name=subject></label>
                    <label for=message class=email-label>MESSAGE
                        <textarea required type=text autocomplete=message class="email-input square-border-input" id=message name=message></textarea></label>
				</div>
                <button type=submit class="button black-button" id=submit>SEND</button>
			</form>
		</div>
	</div>


</div>


{% endmacro %}

