<!DOCTYPE html>

            

            

            

            

            

            

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="color-scheme" content="light">
<meta name="supported-color-schemes" content="light">

<style>
    span{
        white-space: pre-line;
    }

</style>
<div class="email-body" style="background-color: #ffffff; display: block; width: 100%; color-scheme: only light">
    <div class="email-content" style="display: block; width: 90%; margin:auto; padding-top: 2rem; padding-bottom: 2rem;">
        <div style="background-image: url(https://pansonjoieria.com/media/logo/gran); width:100%; height:3rem; background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
        <div class="hline" style="width: 100%; height: 1px; background-color: black; margin-top: 1rem"></div>
        <br><br>
        <span class="">Hola </span><span class="non-editable">%recipient_fname%</span><span class="">,<br><br></span><br>
        <span class="">Text 1222<br><br></span><br>
        <span class="">Text 2</span><br>
        <span class="">Text 3</span><br>
        <span class="">Soc una newsletter</span><br>
        <span class=""></span><br>
        <span class=""></span><br>
        <span class=""></span><br>
        <span class="">Una abraçada,</span><br>
        <span class=""></span><br>
        <span class="">L'equip de Panson</span><br>
        <span class=""></span><br>
        <span class=""></span><br>
        <span class=""></span><br>
        <div class="hline" style="width: 100%; height: 1px; background-color: black; margin-top: 1rem"></div>
        <br>
        <span class="">Aquest correu ha sigut enviat de forma automatica a </span><span class="non-editable">%recipient_email%</span><span class="">&nbsp;perque estas subsrict a la newsletter de PANSON</span><br>
        <span class="">Pots cancel·lar la subscripció prement el seguent link: </span><a href="file://wsl.localhost/Debian/home/iain/panson/templates/%mailing_list_unsubscribe_url%" style="text-decoration: underline;" class="non-editable">unsubscribe</a><br>

    </div>
</div>


        

        

        

        

        

        

        