<!DOCTYPE html>
<meta name="color-scheme" content="light">
<meta name="supported-color-schemes" content="light">
<div class="email-body" style="background-color: #ffffff; display: block; width: 100%; color-scheme: only light" >
    <div class="email-content" style="display: block; width: 90%; margin:auto; padding-top: 2rem; padding-bottom: 2rem;">
        <div style="background-image: url(https://pansonjoieria.com/media/logo/gran); width:100%; height:3rem; background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
        <div class="hline" style="width: 100%; height: 1px; background-color: black; margin-top: 1rem"></div>
        <br><br>
        Hola {{ name }},<br>
        <br>
        Moltes gràcies per haver confiat en Panson. Ja hem rebut la teva comanda i ens posem mans a l’obra al taller.<br>
        <br>
        Informació important sobre la teva joia:<br>
        <br>
        <span>&bull; Fabricació artesana: Com que creem cada peça una a una, el temps d'elaboració és d'uns <b>21 dies laborables</b>.</span><br>
        <br>
        &bull; Entrega: T'avisarem per correu quan la joia estigui a punt, ja sigui per a l'enviament a {{ address }} o per a la recollida al taller (Carrer de Sèrbia 17, 3r 2n).<br>
        <br>
        Si veus algun error en les dades, respon a aquest mail com més aviat millor. Rebràs el rebut a part en breu.<br>
        <br>
        Gràcies per valorar el temps i el detall de l'artesania.<br>
        <br>
        <br>
        Una abraçada,<br>
        <br>
        L'equip de Panson<br>

    </div>
</div>
