{% extends "base.html" %}
{% block head %}
    <title>PANSON: {{ loc.nav_fetamida }}</title>
{% endblock %}

{% block imports %}
    <link href='/style/fetamida-intro.css' rel='stylesheet'>

{% endblock %}


{% block body %}
<div id="nav-color" color="white"></div>
<div id=fetamida-intro>



	<div class="intro-half" onclick="location.href='/{{ loc.lan }}/fetamida/?page=0'"
		style="background-image: url('/static/media/Fetamida-Taller.jpg')">
		<div class="intro-title">{{ loc.fam_intro_left }}</div>
	</div>
	<div class="intro-half" onclick="location.href='/{{ loc.lan }}/fetamida/?page=1'"
		style="background-image: url('/static/media/Fetamida-Exemple.jpg')">
		<div class="intro-title">{{ loc.fam_intro_right }}</div>
	</div>


</div>

{% endblock %}
