
{% macro fetamida_crea() %}

    <div class="fetamida-crea">
        <div id="crea-gracies" class="fetamida-crea-page">
            <div class="crea-main-image">
                <div class="crea-main-text"><span class="crea-title">{{ loc.crea_text_gran }}</span>{{ loc.crea_text_principal }}</div>
            </div>
        </div>
        <div id="crea-proces" class="fetamida-crea-page">

        </div>
        <div id="crea-encarrec" class="fetamida-crea-page">

        </div>


    </div>



{% endmacro %}