<!doctype html>
<html lang="{{ loc.lan }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PANSON: {{ loc.nav_fetamida }}</title>
    <link href='/style/navigation.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/scripts/navigation.js"></script>
    <link href='/style/contacte.css' rel='stylesheet'>
    <link href='/style/fetamida2.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/scripts/fetamida2.js"></script>
</head>


<div id="scroll-left" class="scroller" onclick="prevSection()"></div>
<div id="scroll-right" class="scroller" onclick="nextSection()"></div>
<div id="content-fetamida">
    <div id="section-menu">
            <div id="to-first" class="to-section" onclick="toSection(0)">{{ loc.fam_boto_1 }}</div>
            <div id="to-second" class="to-section" onclick="toSection(1)">{{ loc.fam_boto_2 }}</div>
            <div id="to-third" class="to-section" onclick="toSection(2)">{{ loc.fam_boto_3 }}</div>
    </div>
    <div id="sections-fetamida">
        <div id="fetamida-left" class="fetamida-section">
            <div class="section-text">{{ loc.fam_1_header |safe}}</div>
        </div>

        <div id="fetamida-centre" class="fetamida-section">
            <div id="fetamida-slideshow" class="flex-wrap-anim">
                {% for producte in productes.bespoke%}
                <div class="product">
                    <div class="product-image"><img src='https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ producte.imatges[0] }}?alt=media'></div>
		    <div class="product-for">{{loc.fam_per_a}} (Nom persona)</div>
                </div>
                {% endfor %}
                {% for n in range(utils.mod(utils.len(productes_filtrats)*2, 4)) %}
                    <div class="product empty"></div>
                {% endfor %}
            </div>

        </div>
        <div id="fetamida-right" class="fetamida-section">
            <form id=email-form method="POST" action="/{{ loc.lan }}/send_email/bespoke/">
                    <div id=sender-details>
                        <label for=sender-name class=email-label>NOM
                            <input required type=text autocomplete=name class="email-input bottom-border-input" id=sender-name name="sender-name"></label>
                        <label for=sender-email class=email-label>EMAIL
                            <input required type=email autocomplete=email class="email-input bottom-border-input" id=sender-email name="sender-email"></label>
                    </div>
                    <div id=long-inputs>
                        <div id="phone-input">
                            <label for=sender-phone-prefix class="email-label phone-prefix-label">PREFIX
                                <span class="phone-prefix">+<input type=number autocomplete=tel-country-code class="phone-prefix-input email-input bottom-border-input" id=sender-tel-prefix name=sender-tel-prefix placeholder="34"></span></label>
                            <label for=sender-phone class="email-label">PHONE
                                <input required type=tel autocomplete=tel-national class="email-input bottom-border-input" id=sender-tel name=sender-tel></label>
                        </div>
                        <label for=subject class=email-label>SUBJECT
                            <input required type=text autocomplete=subject class="email-input bottom-border-input" id=subject name=subject></label>
                        <label for=message class=email-label>MESSAGE
                            <textarea required type=text autocomplete=message class="email-input square-border-input" id=message name=message></textarea></label>
                    </div>
                    <button type=submit class="button black-button" id=submit>SEND</button>
                </form>
        </div>
    </div>
</div>
