<!doctype html>
<html lang="{{ loc.lan }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PANSON: {{ loc.con_contacte }}</title>
    <link href='/static/navigation.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>
    <link href='/static/fetamida.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/fetamida.js"></script>
</head>

<div id="content-fetamida">
    <div id="scroll-left" class="scroller" onclick="prevSection()"></div>
    <div id="scroll-right" class="scroller" onclick="nextSection()"></div>
    <div id="section-menu">
        <div id="to-first" class="to-section" onclick="toSection(0)">{{ loc.fam_boto_1 }}</div>
        <div id="to-second" class="to-section" onclick="toSection(1)">{{ loc.fam_boto_2 }}</div>
        <div id="to-third" class="to-section" onclick="toSection(2)">{{ loc.fam_boto_3 }}</div>
    </div>
    <div id="fetamida-left" class="fetamida-section">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div id="fetamida-centre" class="fetamida-section">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div id="fetamida-right" class="fetamida-section">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</div>