
{% macro fetamida_crea() %}

    <div id="fetamida-crea">
        <div id="crea-gracies" class="fetamida-crea-page">
            <div class="crea-main-image">
                <div class="crea-main-text"><span class="crea-title">{{ loc.crea_text_gran }}</span>{{ loc.crea_text_principal }}</div>
            </div>
        </div>
        <div id="crea-proces" class="fetamida-crea-page">
            <div class="crea-proces-title">{{ loc.crea_proces_titol }}</div>
            <div class="crea-steps">
                <div id="step-1" class="crea-step">
                    <span><span class="step-number">1.</span><b>{{ loc.crea_pas_1_titol }}</b></span>
                    <div class="crea-step-text">{{ loc.crea_pas_1 }}</div>
                </div>
                <div id="step-1" class="crea-step">
                    <span><span class="step-number">2.</span><b>{{ loc.crea_pas_2_titol }}</b></span>
                    <div class="crea-step-text">{{ loc.crea_pas_2 }}</div>
                </div>
                <div id="step-1" class="crea-step">
                    <span><span class="step-number">3.</span><b>{{ loc.crea_pas_3_titol }}</b></span>
                    <div class="crea-step-text">{{ loc.crea_pas_3 }}</div>
                </div>
            </div>
        </div>
        <div id="crea-encarrec" class="fetamida-crea-page">

        </div>


    </div>



{% endmacro %}