


<div id="footer">
    <div class="footer-columns">
        <div class="footer-col">
            <div class="footer-title">{{ loc.foo_title_contacte }}</div>
            <div class="footer-element footer-email">{{ loc.foo_email_general }} // <a href="mailto:{{ loc.email_general }}">{{ loc.email_general }}</a></div>
            <div class="footer-element footer-email">{{ loc.foo_email_bespoke }} // <a href="mailto:{{ loc.email_bespoke }}">{{ loc.email_bespoke }}</a></div>
        </div>
        <div class="footer-col">
            <div class="footer-title">{{ loc.foo_title_empresa }}</div>
            <a class="footer-element footer-button">{{ loc.foo_sobre_panson }}</a>
            <a class="footer-element footer-button">{{ loc.foo_sobre_tic }}</a>
        </div>
        <div class="footer-col">
            <div class="footer-title">{{ loc.foo_title_customer }}</div>
            <a class="footer-element footer-button">{{ loc.foo_boto_contacte }}</a>
            <a class="footer-element footer-button">{{ loc.foo_guia_talles }}</a>
            <a class="footer-element footer-button">{{ loc.foo_boto_bespoke}}</a>
            <a class="footer-element footer-button">{{ loc.foo_enviaments }}</a>
        </div>
        <div class="footer-col">
            <div class="footer-title">{{ loc.foo_title_social }}</div>
            <div class="footer-element footer-button">{{ loc.foo_instagram}}</div>
            <div class="footer-element footer-button">{{ loc.foo_email }}</div>

        </div>

    </div>



</div>