


<div id="footer">
    <div class="footer-columns">
        <div class="footer-col">
            <div class="footer-title loc" loc="foo_title_contacte">{{ loc.foo_title_contacte }}</div>
            <div class="footer-element footer-email loc" loc="foo_email_general">{{ loc.foo_email_general }} <a href="mailto:{{ loc.email_general }}">{{ loc.email_general }}</a></div>
            <div class="footer-element footer-email loc" loc="foo_email_bespoke">{{ loc.foo_email_bespoke }} <a href="mailto:{{ loc.email_bespoke }}">{{ loc.email_bespoke }}</a></div>
        </div>
        <div class="footer-col">
            <div class="footer-title loc" loc="foo_title_empresa">{{ loc.foo_title_empresa }}</div>
            <a class="footer-element footer-button loc" onclick="location.href='/{{ loc.lan }}/projecte/'" loc="foo_sobre_panson">{{ loc.foo_sobre_panson }}</a>
            <a class="footer-element footer-button loc" onclick="location.href='/{{ loc.lan }}/tic/tic'" loc="foo_sobre_tic">{{ loc.foo_sobre_tic }}</a>
	    <a class="footer-element footer-button loc" onclick="location.href='/{{ loc.lan }}/tic/privacy'" loc="foo_privacitat">{{ loc.foo_privacitat }}</a>
	    <a class="footer-element footer-button loc" onclick="location.href='/{{ loc.lan }}/tic/cookies'" loc="foo_cookies">{{ loc.foo_cookies }}</a>
        </div>
        <div class="footer-col">
            <div class="footer-title loc" loc="foo_title_customer">{{ loc.foo_title_customer }}</div>
            <a class="footer-element footer-button loc" onclick="location.href='/{{ loc.lan }}/contacte/'" loc="foo_boto_contacte">{{ loc.foo_boto_contacte }}</a>
	    <a class="footer-element footer-button loc" onclick="location.href='/{{ loc.lan }}/info-talles'" loc="foo_guia_talles">{{ loc.foo_guia_talles }}</a>
            <a class="footer-element footer-button loc" onclick="location.href='/{{ loc.lan }}/fetamida/intro'" loc="foo_boto_bespoke">{{ loc.foo_boto_bespoke}}</a>
	    <a class="footer-element footer-button loc" onclick="location.href='/{{ loc.lan }}/tic/enviaments'" loc="foo_enviaments">{{ loc.foo_enviaments }}</a>
        </div>
        <div class="footer-col">
            <div class="footer-title loc" loc="foo_title_social">{{ loc.foo_title_social }}</div>
            <div class="footer-element footer-button loc" onclick="window.open('https://www.instagram.com/panson.joieria/', '_blank')" loc="foo_instagram">{{ loc.foo_instagram}}</div>
            <div class="footer-element footer-button loc"> <a href="mailto:{{ loc.email_general }}" loc="foo_email">{{ loc.foo_email }}</a></div>
        </div>
    </div>
    <div id="credits">
        <div id="credits-left">
            <div id="copyright" class="loc" loc="foo_copyright">{{ loc.foo_copyright | safe}}</div>
            <div id="engineer">Engineered by <a href="https://iainvisa.com">Iain Visa</a></div>

        </div>
        <div id="credits-right">
		<div class="language-dropdown portrait">
                	<div class="language current" onclick="toggleLanguages(this.parentElement)"><span class="loc" loc="{{'lans_'+loc.lan}}">{{ loc["lans_"+loc.lan] }}</span><img class="main-arrow page-arrow up" src="/static/media/arrow.svg"></div>
                	{% for lang in loc.all_langs %}
                            {% if lang != loc.lan %}
                        	<div class="language not-current clickable under-hover loc" loc="{{'lans_'+lang}}" onclick="location.href='/{{ lang }}/'">{{ loc["lans_"+lang] }}</div>
                	    {% endif %}
                	{% endfor %}
        </div>
            <div class="currency-swap" id="footer-currency">
                <select class="currency-select">
                    <option value="EUR" selected="selected">EUR</option>
                </select>
            </div>
        </div>
    </div>



</div>
