


{% macro galeria(bucket, double=False, filtres=False, max_prods=None, filterKey=None, filterValue=None, min_row=4, min_prods=4, exclude=None, filter_mode="&", pages=False, inline=False) %}


{% set productes = productes.__getattribute__(bucket) %}


{% set prods = utils.filter_by_attr(productes, filterKey, filterValue, mode=filter_mode) %}
{% set prods = utils.filter_by_attr(prods, "_id", exclude, mode="!&") %}

{% if max_prods == None %}
	{% set max_prods = utils.len(prods) %}
{% endif %}

<div class="content-galeria" page=0>
<div class="hidden-product-list">
	<div class="gallery-info" double="{{ doble_galeria }}" maxProds="{{ max_prods }}" bucket="{{ bucket }}" filterKey="None" filterValue="None"></div>
    {% for n, producte in utils.enumerate(prods) %}
    <div class="hidden-info-producte" 
	    id="{{ producte._id }}" 
	    nom="{{ producte.nom }}" 
	    preu="{{ producte.calcular_preu_minim() }}&#8364;" 
	    col="{{ producte.collecio }}" 
	    tipus="{{ producte.tipus }}" 
	    unica="{{ producte.unica }}" 
	    novetat="{{ producte.novetat }}"
	    popular="{{ producte.popular }}"
	    material="{{ utils.join("&", producte.opcions["materials"].keys()) if producte.opcions['materials'] != None}}"
	    img1="{{ producte.imatges[0] }}" 
	    img2="{{ producte.imatges[1] }}"
	    {% if bucket == "bespoke" %}
	    per_a="{{ loc.fam_per_a }} {{ producte.per_a }}"
	    {% endif %}
	    ></div>
    {% endfor %}
</div>

        {% if filtres %}
            <div class="filtre-buttons">
                <div class="filtre-buttons-gradient"></div>
                {% for n, filtre in utils.enumerate(loc.filtres) %}
                    <div class="filtre {{ "first" if n==0 }} {{ "last" if n+1 == utils.len(loc.filtres) }}" filterKey="{{ filtre["field"] }}" filterValue="{{ filtre["value"] }}" onclick="filterGaleria(this)">{{ loc[filtre["nom"]] }}</div>
                {% endfor %}
            </div>

        {% endif %}
    <div class="galeria-scroll scroll-left {{ 'inline' if inline }}" >
	    <div class="galeria-scroll-button scroll-left-button disabled" onclick="scrollGallery(this.parentElement.nextElementSibling.nextElementSibling, 'left', '1u')"><img class="main-arrow left" src="/static/media/arrow.svg"></div>
    </div>
    <div class="galeria-scroll scroll-right {{ 'inline' if inline }}" >
	    <div class="galeria-scroll-button scroll-right-button {{ "disabled" if utils.len(prods) <= min_row }}" onclick="scrollGallery(this.parentElement.nextElementSibling, 'right', '1u')"><img class="main-arrow right" src="/static/media/arrow.svg"></div>
    </div>
    <div class="galeria {{ 'inline' if inline }}">
        {% for n in range(max_prods) %}
            {% if (double and n % 2 == 0) %}
               <div class="producte-doble">
            {% endif %}
            <div class="producte empty enabled {{ 'last' if n==max_prods-1 }} {{ 'inline' if inline }}" onmouseover="highlightProduct(this)" onmouseout="reverseProduct(this)">
               <div class="imatge primera normal-image" onmouseover="//highlightProduct(this)"></div>
               <div class="imatge segona slow-image preload" onmouseout="//reverseProduct(this)"></div>
               <div class="detalls-galeria">
                    <div class="detalls-principals">
                        {% if bucket == "bespoke" %}
                            <div class="per-a"></div>
                        {% else %}
                            <div class="nom"></div>
                            <div class="preu-inline"></div>
                           {# <div style="width:fit-content; display: flex;" class="preu-inline-slash portrait">&nbsp;/&nbsp;<div class="preu-inline"></div></div>#}
                        {% endif %}
                    </div>
                </div>
           </div>
           {% if (double and n % 2 == 1) %}
               </div>
           {% endif %}
        {% endfor %}
        {% for n in range(utils.mod(max_prods, min_row)+min_prods-utils.min(max_prods, min_prods)) %}
            {% if (double and (n+max_prods) % 2 == 0) %}
                <div class="producte-doble">
            {% endif %}
            <div class="producte empty disabled"></div>
            {% if (double and (n+max_prods) % 2 == 1) %}
                </div>
            {% endif %}
        {% endfor %}
	{% if (double and (max_prods+range(utils.mod(max_prods, min_row))) % 2 == 1) %}
		</div>
	{% endif %}
    </div>

    <div class="galeria-navigation" show="{{ pages }}">
	    <img class="main-arrow page-arrow left" src="/static/media/arrow.svg" onclick="galeriaPrev(this.parentElement.parentElement)">
	    <div class="galeria-counter"></div>
	    <img class="main-arrow page-arrow right" src="/static/media/arrow.svg" onclick="galeriaNext(this.parentElement.parentElement)">
    </div>
</div>
{% endmacro %}
