
{% if not no_head %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PANSON: {{ titol }}</title>
        <link href='/static/navigation.css' rel='stylesheet'>
        <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>
        <link href='/static/galeria.css' rel='stylesheet'>
    </head>
{% endif %}

<div class="content-galeria">
    <div class="capcal">
        <div class="titol-galeria">{{ loc[titol_galeria] }}</div>
        <div class="subtitle">{{ "/"+subtitol if subtitol }}</div>
        {% if not hide_filtres %}
        <div class="filtres">
            <button class="boto-filtres">Filtrar</button>
            <div class="desplegable-filtres">
                <form method="GET" action="/{{ loc.lan }}/productes/">
                    {{ filters.keys() }}
                    {{ filters}}
                    <div id="titol-filtres">Filtres</div>
                <div class="filtre">
                    <div class="titol-filtre" id="filtre-colleccio">Colleccio</div>
                    {% for n, col in utils.enumerate(productes.col_names) %}
                    <label><input type="checkbox" name="collecio#{{ n }}" id="collecio-{{ col }}" value="{{ col }}" {{ "checked" if "collecio" not in filters.keys() or utils.lower(col) in filters["collecio"]  }}/>{{ col }}</label><br>
                    {% endfor %}
                    <label><input type="checkbox" name="unica" id="collecio-unica" value="true" {{ "checked" if utils.len(filters) == 0 or filters["unica"] == "true"  }}/>Uniques</label><br>

                </div>
                <br>
                <div class="filtre">
                    <div class="titol-filtre" id="filtre-tipus">Tipus de peca</div>
                    {% for n, tipus in utils.enumerate(productes.tipus) %}
                    <label><input type="checkbox" name="tipus#{{ n }}" id="tipus-{{ tipus }}" value="{{ tipus }}" {{ "checked" if "tipus" not in filters.keys() or utils.lower(tipus) in filters["tipus"]}}/>{{ tipus }}</label><br>
                    {% endfor %}
                </div>

                <button type="submit" value="Filtrar">Filtrar</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="spacer"></div>
    <div class="galeria">
        {% for producte in productes_filtrats[:max_gallery] %}
           <div class="producte" onclick="location.href='/{{ loc.lan }}/productes/{{ producte._id }}'">
               <div class="imatge"><img src='https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ producte.imatges[0] }}?alt=media'></div>
                <div class="detalls-galeria">
                    <div class="nom">{{ producte.nom }}&nbsp;/&nbsp;{{ producte.calcular_preu_minim() }}&#8364;</div>
                    <div class="subtiol">{{ producte.subtitol }}&nbsp;</div>
                    {% if producte.opcions["colors"] %}
                        <div class="colors">
                        {% for col in producte.opcions["colors"] %}
                            <span class="cercle"  onclick="event.stopPropagation(location.href='/{{ loc.lan }}/productes/{{ producte._id }}/?color={{ col }}" style="background-color: {{ loc.colours[col] }}"></span>
                        {% endfor %}
                        </div>
                    {% endif %}
                        <div class="descripcio">{{ producte.descripcio }}</div>
                </div>
           </div>
        {% endfor %}
    {% if max_gallery < utils.len(productes_filtrats)  %}
        <button class="view-more" onclick="location.href='/{{ loc.lan }}/productes/'"> Veure mes</button>
    {% endif %}
    </div>


</div>