<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.png">
    <title>PANSON: {{ titol }}</title>
    <link href='/static/styles/navigation.css' rel='stylesheet'>
    <link href='/static/styles/index.css' rel='stylesheet'>
    <link href='/static/styles/galeria.css' rel='stylesheet'>
</head>


<div class="content">
    <div class="capcal">
        <div class="titol-galeria">{{ titol }}</div>
        <div class="subtitle">/ {{ subtitol }}</div>
    </div>
    <div class="spacer"></div>
    <div class="galeria">
        {% for data in all_data %}
           <div class="producte" onclick="location.href='/{{ loc.lan }}/productes/{{ data["id"] }}'">
                {% if data["imatges"] %}
                    <div class="imatge"><img src='https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ data["imatges"][0] }}?alt=media'></div>
                {% else %}
                    <div class="imatge"></div>
                {% endif %}
                <div class="detalls">
                    <div class="nom">{{ data["nom"] }}&nbsp;</div>
                    <div class="subtiol">{{ data["subtitol"] }}&nbsp;</div>

                    {% if data["mats"] %}
                        <div class="colors">
                        {% for mat in data["mats"] %}
                            <span class="cercle" style="background-color: {{ loc.colors[mat] }}"></span>
                        {% endfor %}
                        </div>
                    {% endif %}
                    {% if data["preu"] %}
                        <div class="preu">
                            {% if data["desde"] %}
                                <div class="desde">{{ loc.gal_desde }}</div>
                            {% else %}
                                <div class="desde">&nbsp;</div>
                            {% endif %}
                            {{ data["preu"] }} &#8364; </div>
                    {% else %}
                        <div class="preu">&nbsp;</div>
                    {% endif %}
                    {% autoescape false %}
                        <div class="descripcio">{{ data["descripcio"] }}</div>
                    {% endautoescape %}
                </div>
           </div>
        {% endfor %}
    </div>

</div>