
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico">
    <title>PANSON</title>
    <script src="/static/scripts/jquery.js"></script>
    <link href='/static/navigation.css' rel='stylesheet'>
    <link href='/static/slideshow.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/slideshow.js"></script>
    <link href='/static/galeria.css' rel='stylesheet'>
    <link href='/static/index.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/main.js"></script>


</head>

<body>
    <div class="content-index">
        <div class = "slideshow">
            <div class="slide-content">
                <div class="first_slide"></div>
            </div>
            {% for slide_name, slide_url in slides %}
                <div class="slide-content">
                    <div class="slide" style="background-image: url('{{ slide_url }}')"></div>
                </div>
            {% endfor %}
        </div>
        <div class = "title" id="title" onclick="scrollToTop()">

        </div>
    </div>

</body>


</html>

