{% extends "base.html" %}
{% block head %}
    <title>PANSON</title>
{% endblock %}

{% block imports %}
    <link href='/style/galeria.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/scripts/galeria.js"></script>
    <link href='/style/index.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/scripts/index.js"></script>
    <link href='/style/slideshow.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/scripts/slideshow.js"></script>

{% endblock %}

{% import 'galeria.html' as galeria with context%}

{% block body %}
    <div class="content-index">
        <div class = "slideshow">
            {% for slide_name, slide_url in slides %}
                <div class="slide-content">
                    <div class="slide" style="background-image: url('{{ slide_url }}')"></div>
                </div>
            {% endfor %}
        </div>
        <div id="title-logo" onclick="scrollToTop()">
        </div>
    </div>

<div id="index-subtitle">{{ loc.ind_subtitol }}</div>
    {{ galeria.galeria("productes") }}
{% endblock %}

















</html>

