
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico">
    <title>PANSON</title>
    <link href='/static/navigation.css' rel='stylesheet'>
    <link href='/static/index.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/main.js"></script>
    <link href='/static/slideshow.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/slideshow.js"></script>

</head>

<body>
    <div class="content">
        <div class = "slideshow">
            <div class="slide">
                <div class="first_slide"></div>
            </div>
            {% for slide in slides %}
                <div class="slide">
                    <img class="slide" src="{{ slide["url"] }}" alt="{{ slide["alt"] }}">
                </div>
            {% endfor %}
        </div>
        <div class = "title">

        </div>
    </div>

</body>


</html>

