{% extends "base.html" %}
{% block head %}
    <title>PANSON: Log In</title>
{% endblock %}

{% block imports %}
    <link href='/style/login.css' as='style' rel='preload'>

    <link href='/style/admin.css' rel='stylesheet'>
{% endblock %}

{% block body %}


<h2 style="margin-top: 20%;">Admin login</h2>

<form method=post action=/login>
    Usuari:<input type=text name=username id=usuari value="" >
    Contrasenya:<input type=password name=password value="" id=contrasenya autocomplete=password>
    <input type=submit name=save value=Accedir id=accedir>
</form>
{% endblock %}