


{% macro render_menu() %}

<div class="menu closed" id="menu">
	<div class="menu-element menu-content under-hover clickable loc" loc="nav_novetats"  onclick="location.href='/{{ loc.lan }}/productes/?filterKey=novetat&filterValue=True'">{{ loc.nav_novetats}}</div>
	<div class="menu-element menu-content under-hover clickable loc" loc="nav_peces" onclick="location.href='/{{ loc.lan }}/productes'">{{ loc.nav_peces}}</div>

        <div class="menu-subtitol menu-content loc" loc="nav_collecions">{{ loc.nav_collecions }}</div>
        {% if productes %}
            {% for col in productes.cols %}
                <div class="menu-element menu-content under-hover clickable"  onclick="location.href='/{{ loc.lan }}/collecio/{{ col._id }}'">{{ col.nom_menu }}</div>
            {% endfor %}
        {% endif %}
   

        <div class="menu-subtitol menu-content loc" loc="nav_categories">{{ loc.nav_categories }}</div>
        {% if productes %}
            {% for tipus in productes.tipus %}
                <div class="menu-element menu-content under-hover clickable"  onclick="location.href='/{{ loc.lan }}/productes/?filterKey=tipus&filterValue={{ tipus }}'">{{ loc["tip-"+tipus+"-plural"]}}</div>
            {% endfor %}
        {% endif %}

        <div class="menu-subtitol menu-content portrait loc" loc="nav_general">{{ loc.nav_general }}</div>
    	<div class="menu-element menu-content under-hover clickable portrait loc" id="fetamida-menu" onclick="location.href='/{{ loc.lan }}/fetamida'" loc="nav_fetamida_mobil">{{ loc.nav_fetamida_mobil }}</div>
        <div class="menu-element menu-content under-hover clickable portrait loc" id="projecte-menu" onclick="location.href='/{{ loc.lan }}/projecte/'" loc="nav_projecte_mobil">{{ loc.nav_projecte_mobil }}</div>
        <div class="menu-element menu-content under-hover clickable portrait loc" id="contacte-menu" onclick="location.href='/{{ loc.lan }}/contacte/'" loc="nav_contacte_mobil">{{ loc.nav_contacte_mobil }}</div>

    {% if user.is_admin %}
    <div class="menu-element menu-content under-hover clickable" id="admin-menu" onclick="location.href='/admin/'">{{ loc.nav_admin }}</div>
    <div class="memu-element menu-content under-hover clickable" id="logout-menu" onclick="location.href='/admin/logout'">{{ loc.nav_tancar_sessio }}</div>
    {% endif %}


</div>



{% endmacro %}
