


{% if not user.accepted_cookies %}
	    <link href='/style/tic.css' rel='stylesheet'>
        <div id=cookies class="request-cookies">
            <span class="info"><span class="loc" loc="nav_cookie_banner">{{ loc.nav_cookie_banner }}</span><a href="/{{ loc.lan }}/tic/privacy" class="loc" loc="cookie_link">{{ loc.nav_cookie_link }}</a></span>
            <div class="inputs">

                <div class="preferences-button clickable underlined loc" onclick="showPopup(this.nextElementSibling)" loc="nav_cookies_preferencies">{{ loc.nav_cookies_preferencies }}</div>
                <div class="popup-info cookies-popup">
                    <div class="tic-subtitle loc" loc="tic_cookies_titol">{{ loc.tic_cookies_titol }}</div>
                    <div class="tic-info loc" loc="tic_cookies_info">{{ loc.tic_cookies_info | safe }}</div>
                    <div class="cookie-selector">
                        <span class="cookie-span"><input type=checkbox checked  value=on class="analytic"><div class="cookie-label loc" loc="tic_cookie_analitica">{{ loc.tic_cookie_analitica }}</div></span>
                        <span class="cookie-span"><input type=checkbox checked value=on class="essential"><div class="cookie-label loc" loc="tic_cookie_essencial">{{ loc.tic_cookie_essencial }}</div></span>
                    </div>
                </div>
                <button class="accept-cookies black-button" onclick="updateCookiesTic(this.previousElementSibling);document.getElementById('cookies').remove();">{{ loc.nav_cookie_button }}</button>
            </div>
        </div>
    {% endif %}

{% if hide_title %}
{% else %}
    <div id="title" class="fast-image" background="{{ imgs.get_url("imatges", imgs.get_fixed("logos").imatges[0]) }}" onclick="location.href='/{{ loc.lan }}/'"></div>
{% endif %}
<div class = "navigation">
    <div class = "navigation-left" id="nav-left">
        <button class="dropbtn" id="menu-button" onmouseover="openMenu()">{{ loc.nav_botiga }}</button>
        <button class="menu-simple" id="menu-button-simple" onclick="switchMenu()"><img class="icon-menu-simple" src="/static/media/menu-black.svg" alt="cart"><br> </button>
	<div class="menu-closer" id=menu-closer-landscape onmouseover="event.stopPropagation(closeMenu())"></div>
	<div class="menu-closer" id=menu-closer-portrait onclick="event.stopPropagation(closeMenu())"></div>
        {{ menu.render_menu() }}
	<button class="dropbtn hidden" id="projecte" onclick="location.href='/{{ loc.lan }}/projecte/'"> {{ loc.nav_projecte}}</button>
        <button class="dropbtn last" id="fetamida" onclick="location.href='/{{ loc.lan }}/fetamida'"> {{ loc.nav_fetamida }}</button>
    </div>

    <div class = "navigation-right">
    	{% if user.is_admin %}
    		<div class="language admin" onclick="location.href='/admin'" oncontextmenu="window.open('/admin/', '_blank')">{{ loc.nav_admin }}</div>
    		<div class="language admin" onclick="location.href='/admin/logout'">{{ loc.nav_tancar_sessio }}</div>
    	{% endif %}

	<div class="language-dropdown landscape">
		<div class="language current" onclick="toggleLanguages(this.parentElement)"><span class="loc" loc="{{'lans_'+loc.lan}}">{{ loc["lans_"+loc.lan] }}</span><img class="main-arrow page-arrow down" src="/static/media/arrow.svg"></div>
        	{% for lang in loc.all_langs %}
            		{% if lang != loc.lan %}
			<div class="language not-current clickable under-hover loc" loc="{{'lans_'+lang}}" onclick="location.href='/{{ lang }}/'+ location.pathname.split('/').slice(2).join('/')">{{ loc["lans_"+lang] }}</div>
            		{% endif %}
        	{% endfor %}
	</div>

    <div class = "cart" id="cart-button" onclick="openCart()">
        <img class="shopping-cart" src="/static/media/bag-black.svg" alt="cart">
        <div class="cercle-carret cart-counter">{{ user._n_cart if user._n_cart > 0 }}</div>

        </div>
    </div>
</div>

<div class="cart-closer"></div>
<div class="content-carret is-carret" id="carret"  >
    <div class="title-carret is-carret">{{ loc.car_carret }}</div>
    <div class="is-carret" id="close-carret" onclick="closeCart()">{{ loc.car_tancar }}</div>
    <div class="is-carret cart-info"><div class="cart-counter is-carret"></div>&nbsp;
        <div class="cart-counter-text is-carret plural loc" loc="car_info_quantitat">{{loc.car_info_quantitat }}</div>
        <div class="cart-counter-text is-carret singular loc" loc="car_info_quantitat_singular">{{loc.car_info_quantitat_singular }}</div></div>
    <div class="is-carret no-cart-info">{{loc.car_info_buit |safe}}<a class="is-carret" href="/{{lan}}/productes">{{loc.car_info_buit_boto}}</a></div>
    <div class="llista-carret is-carret" onscroll="event.stopPropagation()" onwheel="event.stopPropagation()" >
        {% for n, item in utils.enumerate(cart.values()) if item.producte != None%}
		{{ cart_macros.cart_item(item, n) }}
        {% endfor %}
    </div>

    <div class="footer-carret is-carret">
        
	<div class="total-cart is-carret"><div class="total-cart-title is-carret">{{ loc.car_total }}</div><div class="total-cart-value is-carret">{{ user.total_carret }}&#8364</div></div>
        <button class="checkout-button is-carret black-button loc" loc="car_checkout"  onclick="location.href='/{{ loc.lan }}/checkout/stripe'">{{ loc.car_checkout |safe }}</button>
        <div class="detalls_pagament is-carret loc" loc="car_detalls_pagament">{{ loc.car_detalls_pagament }}</div>

    </div>
</div>


