<!DOCTYPE html>



<div id=loader style="
	display:flex;
	background-color:white;
	position:fixed;
	top:0;
	left:0;
	height: 100dvh;
	width: 100dvw;
	z-index: 9998;
	align-items: center;
	justify-content: center;
	">
	<img id=loader-icon style="
		display:flex;
		height: 5dvh;
		width: 5dvh;
		color: black;
		z-index:9999;
		-webkit-animation:spin 4s linear infinite;
    	-moz-animation:spin 4s linear infinite;
    	animation:spin 4s linear infinite;
		" src="/static/media/favicon.ico">

</div>

{% if origin and False%}
    {% if origin != "hide" %}
        <button class="back" onclick="location.href='/{{ loc.lan }}/{{ origin }}'"> &lt; {{ loc.nav_enrere }}</button>
    {% endif %}
{% elif False %}
    <button class="back" onclick="history.back()"><img class="back-arrow" src="/static/media/arrow.svg" alt="{{ loc.nav_enrere }}"> </button>
{% endif %}

{% if not user.accepted_cookies %}
        <div id=cookies class="request-cookies">{{ loc.nav_cookie_banner }}<button class="accept-cookies" onclick="acceptCookies()">{{ loc.nav_cookie_button }}</button></div>
    {% endif %}
<div class = "navigation">
    <div class = "navigation-left" id="nav-left">
        <button class="dropbtn" id="menu-button" onmouseover="openMenu()" onclick="switchMenu()"> {{ loc.nav_botiga }} </button>
        <button class="menu-simple" id="menu-button-simple" onclick="switchMenu()"><img class="icon-menu-simple" src="/static/media/menu-black.svg" alt="cart"><br> </button>
	<div class=menu-closer" id=menu-closer  onmouseover="event.stopPropagation(closeMenu())"></div>
        <div class="menu" id="menu" >

            <div class="submenu menu-content menutop " id="collecions-menu" onclick="showDropdown(this)" >
                <div class="titol-submenu menu-content no-line">{{ loc.nav_collecions }}
                <span><img class="plus menu-content" src="/static/media/plus.svg"><img class="minus menu-content" src="/static/media/minus.svg"></span></div>
                {% if productes %}
                    {% for col in productes.col_names %}
                        <div class="item-submenu menu-content"  onclick="location.href='/{{ loc.lan }}/collecions/#{{ utils.lower(col) }}'">{{ col }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="submenu menu-content" id="peces-menu" onclick="showDropdown(this)">
                <div class="titol-submenu menu-content">{{ loc.nav_peces_uniques }}<span><img class="plus menu-content" src="/static/media/plus.svg"><img class="minus menu-content" src="/static/media/minus.svg"></span></div>
                {% for prod in productes.uniques()[:-1] %}
                        <div class="item-submenu menu-content"  onclick="location.href='/{{ loc.lan }}/peces_uniques#{{ prod._id }}'">{{ prod.nom }}</div>
                    {% endfor %}
                <div class="item-submenu menu-content last-submenu"  onclick="location.href='/{{ loc.lan }}/peces_uniques#{{ productes.uniques()[-1]._id }}'">{{ productes.uniques()[-1].nom }}</div>
            </div>
            <div class="submenu menu-content" id="peces-menu" onclick="showDropdown(this)">
                <div class="titol-submenu menu-content" onclick="location.href='/{{ loc.lan }}/productes/'">{{ loc.nav_peces }}</div>
                {% if productes %}
                    {% for tipus in productes.tipus %}
                        <div class="titol-submenu menu-content no-line less-padding"  onclick="location.href='/{{ loc.lan }}/productes/?tipus={{ tipus }}'">{{ loc["tip-"+tipus+"-plural"]}}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="titol-submenu menu-content" id="projecte-menu" onclick="location.href='/{{ loc.lan }}/projecte/'">{{ loc.nav_projecte_mobil }}</div>
            <div class="titol-submenu menu-content" id="contacte-menu" onclick="location.href='/{{ loc.lan }}/fetamida/'">{{ loc.nav_contacte_mobil }}</div>
        </div>

        <button class="dropbtn" id="projecte" onclick="location.href='/{{ loc.lan }}/projecte/'"> {{ loc.nav_projecte }}</button>
        <button class="dropbtn" id="contacte" onclick="location.href='/{{ loc.lan }}/fetamida/'">{{ loc.nav_contacte }}</button>
    </div>
    {% if hide_title %}
    {% else %}
        <div class = "title" id="title" onclick="location.href='/{{ loc.lan }}/'"></div>
    {% endif %}
    <div class = "navigation-right">
    {% if user.is_admin %}
    <div class="language" onclick="location.href='/admin/'">{{ loc.nav_admin }}</div>
    {% endif %}
    {% if user.is_admin %}
    <div class="language" onclick="location.href='/admin/logout'">{{ loc.nav_tancar_sessio }}</div>
    {% endif %}
        {% for lang in loc.all_langs %}
            {% if lang == loc.lan %}
                <div class="language" id="current" onclick="location.href='/{{ lang }}/'">
                    {{ utils.upper(lang) }}
                </div>
            {% else %}
                <div class="language" onclick="location.href='/{{ lang }}/'">
                    {{ utils.upper(lang) }}
                </div>
            {% endif %}
        {% endfor %}
    <div class = "cart" id="cart-button" onclick="openCart()">
        <img class="shopping-cart" src="/static/media/bag-black.svg" alt="cart">
        <div class="cercle-carret" id="cart-counter">{{ user.n_carret if user.n_carret > 0 }}</div>

        </div>
    </div>
</div>
<div class="content-carret is-carret" id="carret">

    <div class="title-carret is-carret">{{ loc.car_carret }}</div>
<div class="is-carret" id="close-carret" onclick="closeCart()">{{ loc.car_tancar }}</div>
    <div class="llista-carret is-carret">
        {% for n, item in utils.enumerate(cart.values()) if item.producte != None%}
            <div class="producte-carret is-carret">
            {% if utils.len(item.producte.imatges) > 0 %}
                <div class="producte-foto is-carret" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ item.producte.imatges[0] }}?alt=media')"></div>
            {% endif %}
                <div class="detalls-carret is-carret">
                    <div class="producte-carret-delete is-carret" onclick="deleteItem(this.parentElement.parentElement, {{ n }})">X</div>

                    <div class="producte-carret-nom is-carret">{{ item.producte.nom }}</div>
                    <div class="producte-carret-id is-carret hide">ID: {{ item.id2 }}</div>
                    {% if item["talla"] %}
                        <div class="producte-carret-talla is-carret {{ "hide" if item.talla == "null" }}">TALLA: {{ item.talla }}</div>
                    {% endif %}
                    {% if item["material"] %}
                        <div class="producte-carret-material is-carret hide">{{ loc.car_talla }}: {{ item.material}}</div>
                    {% endif %}
                    {% if item["variacio"] %}
                        <div class="producte-carret-variacio is-carret {{ "hide" if item.variacio == "null" }}">{{ loc.car_variacio }}: {{ item.variacio}}</div>
                    {% endif %}
                    {% if item["color"] %}
                        <div class="producte-carret-color is-carret {{ "hide" if item.color == "null" }}">

                            <div class="producte-carret-color is-carret">
                            {% for n, col in utils.enumerate(item["color"]) %}
                                <span class="producte-carret-cercle is-carret {{ item.producte.opcions.get("extra_colors", [])[n] }}" style="background-color: {{ loc["colours-"+col] }}"></span>
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="producte-carret-preu is-carret">{{ item.preu[0]*item.quantity }}&#8364;</div>
                    <div class="quantitats-carret is-carret">
                        <img class="carret-minus add-item is-carret" src="/static/media/minus.svg" onclick="modifyItem(this.nextElementSibling, {{ n }}, 'decrease')" alt="decrease">
                        <div class="producte-carret-quantitat is-carret" price="{{ item.preu[0] }}">{{ item.quantity }}</div>
			            <img class="carret-plus delete-item is-carret" src="/static/media/plus.svg" onclick="modifyItem(this.previousElementSibling,{{ n }}, 'increase')" alt="increase">
                    </div>
                </div>


            </div>
        {% endfor %}
    </div>

    <div class="footer-carret is-carret">

        <div class="total-cart is-carret" id="total-cart">{{ loc.car_total }}: {{ user.total_carret }}&#8364</div>
        <button class="checkout-button is-carret"  onclick="location.href='/{{ loc.lan }}/checkout/'">{{ loc.car_checkout }}</button>

    </div>
</div>


