<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>PANSON: {{ producte.nom }}</title>
    <link href='/static/navigation.css' rel='stylesheet'>
    <script src="/static/scripts/jquery.js"></script>

    <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>
    <script defer type="text/javascript" src="/static/scripts/producte3.js"></script>
    <link href='/static/galeria.css' rel='stylesheet'>
    <link href='/static/producte3.css' rel='stylesheet'>

</head>
<body>

<div class="content-producte">
    <div id="producte-images">
    {% for n, imatge in utils.enumerate(producte._imatges2) %}
            <div class="main-foto " style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ imatge }}?alt=media')"></div>
    {% endfor %}
    </div>
    <div class="main-foto {{ "clickable" if utils.len(producte.imatges) >1  }}"  onclick="{{ 'showPopup(this, this.nextElementSibling, cross=false)' if utils.len(producte.imatges) >1 }}" style=" display:none;background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ producte.imatges[0] }}?alt=media')">
	    {% if utils.len(producte.imatges) >1%}
	    {% endif %}
    </div>
    <div class="popup-info no-border no-arrows" id="slideshow-producte" onclick="event.stopPropagation()">
	    <div id="fotos-producte">
        	{% for n, imatge in utils.enumerate(producte._imatges2) %}
            	    <div class="foto_producte {{ "current" if n==0 }}" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ imatge }}?alt=media')"></div>
        	{% endfor %}
            {% if utils.len(producte.imatges) == 0 %}
                <div class="foto_producte current" style="top:50%;left:45%">Sense foto</div>
            {% endif %}
        </div>
            {%if utils.len(producte.imatges) >1%}
                <div class="slideshow-left slideshow-button" onclick="slideshowPrev('producte')"><</div>
                <div class="slideshow-right slideshow-button" onclick="slideshowNext('producte')">></div>
                <div class="slideshow-progress"></div>
            {% endif %}
    </div>
    <div id="main-details">
        <div id="titol_producte">{{ producte.nom }}</div>
        <div id="initial-price"> <span class="preu-producte"></span> &#8364;</div>
        <div id="product-description" >{{ producte.descripcio }}</div>
        <button id="buy" class="under-hover clickable black-button" onclick="displayBuyOptions(this, false)">Comprar</button>




        <form action="/{{ lan }}/carret/add" method="post" enctype="multipart/form-data" id="form">
            <input value="{{ producte._id }}" name="id" style="display: none">
            <button id="close-options" type="button" class="popup-cross" onclick="hideBuyOptions()">X</button>
            <div id="buy-options">

            {% if "materials" in producte.opcions %}
                <fieldset  name="text:material" class="materials-producte {{ "hide" if utils.len(producte.opcions["materials"].keys()) == 1 }}" >
                    <legend>Seleciona un material</legend>
                    {% for n, (material, info) in utils.enumerate(producte.opcions["materials"].items()) %}
                        <div>
                            <input type="radio" name="material" price="{{ info.get("preu", 0) }}" class="material-input" value="{{ material }}" {{ "checked" if n==0 }}  onchange="updatePrice()"/>
                            <label>{{ material }}</label>
                        </div>
                    {% endfor %}
                </fieldset>
            {% endif %}


            {% if producte.opcions.get("n_colors", 0) >0 %}
                <div class="colors-producte option-field">
                    {% if producte.opcions.get("n_colors", 1) >1 %}
                        <legend>{{ loc.pro_color_plural }}</legend>
                    {% else %}
                        <legend>{{ loc.pro_color_singular}}</legend>
                    {% endif %}
                    <div class="options">
                        {% for n in range(producte.opcions.get("n_colors", 1)) %}
                            <fieldset name="color#{{ n }}" class="color-selector" onchange="updatePrice()">
                                {% for color, info in producte.opcions["colors"].items() %}
                                    <label title="{{ loc["color-"+color] }}" class="colour-label {{ producte.opcions.get("extra_colors", []*n)[n] }}" style="background-color:{{ loc["colours_"+color] }};" onclick="selectColour(this)">
                                    <input type="radio" name="color#{{ n }}" class="hidden-input color-input" price="{{ info.get("preu", 0) }}" value="{{ color }}">
                                    </label>
                                {% endfor %}
                            </fieldset >
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if "variacions" in producte.opcions %}
                <fieldset name="text:variacio" class="option-field variacions-producte {{ "hide" if utils.len(producte.opcions["variacions"].keys()) == 1 }}" >
                    <legend>loc.pro_variacio</legend>
                    <div class="options variations">
                    {% for n, (variacio, info) in utils.enumerate(utils.sort_by_keys(producte.opcions["variacions"], ["preu", "ordre"]).items()) %}
                        <div class="option variation">
                            <label class="text-label">
                                <input type="radio" name="variacio" price="{{ info.get("preu", 0) }}" class="hidden-input variation-input" value="{{ variacio }}" {{ "checked" if n == 0 }}  onchange="updatePrice()"/>
                            {{ variacio }}
                            </label>
                        </div>
                    {% endfor %}
                    </div>
                </fieldset>
            {% endif %}



            {% if producte.opcions["talles"] or producte["totes_talles"] %}
                <fieldset class="talles-producte option-field" name="text:talla">
                <legend>{{ loc.pro_talla }}</legend>
                    <div class="options talles">

                    {% if producte.opcions["talles"] %}
                            {% for n, (talla, info) in utils.enumerate(utils.sort_by_keys(producte.opcions["talles"], ["preu","ordre"]).items()) %}
                                <div class="option size">
                                    <label class="text-label">
                                        <input  type="radio" name="talla" price="{{ info.get("preu", 0) }}" class="hidden-input size-input" value="{{ talla }}" {{ "checked" if n == 0 }} onchange="updatePrice()">
                                    {{ talla }}
                                    </label>
                                </div>
                            {% endfor %}
                    {% else %}
                        {% for talla in ["XS", "S", "M", "L", "XL"] %}
                            <div class="option size">
                                <label class="text-label">
                                    <input  type="radio" name="talla" preu="0" class="hidden-input size-input" value="{{ talla }}" {{ "checked" if n == 0 }} onchange="selectSize(this);updatePrice();">
                                {{ talla }}
                                </label>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if producte["totes_talles"] %}
                            <div class="show-size-selector option size" onclick="this.nextElementSibling.style.display='flex'; this.style.display='none';">{{ loc.pro_personalitza_talla }}</div>
			    <span style="display: none;"><input type="number" name="talla-multi" class="talla talla-unica size-input multiple-input" oninput="selectSize(this); updatePrice();" placeholder="{{ loc.pro_talla }}"
                                       min="0"
                                       max="99"
                                       step="1"
                                       list="defaultSizes"
                                       maxlength="2"
                                       {{"value={}".format(opcions["talla"]) if opcions["talla"] != "None" }}>
                            </span>
                    {% endif %}
                    </div>
                    <div id="info-talles" class="clickable under-hover" onclick="showPopup(this, this.nextElementSibling)">{{ loc.pro_graella_talles }}</div>
                        <div class="popup-info" id="popup-talles" onclick="event.stopPropagation()">
                            <h3>Graella de talles internacional</h3>
                            <p>És molt fàcil! A continuació t’expliquem pas a pas què has de fer:</p>
                            <ol>
                                <li><strong>Agafa un anell que et vagi bé</strong> i assegura’t que tant aquest com el que vols comprar siguin per al mateix dit i la mateixa mà (cada dit pot tenir una mida diferent). Millor si és fi i regular, com una aliança. L’important és que quedi ben recolzat sobre el paper.</li>
                                <li><strong>Dibuixa la circumferència interior</strong> de l’anell sobre el paper i mesura el diàmetre. Recorda tenir en compte el gruix del llapis quan facis la marca.</li>
                                <li><strong>Consulta la taula de talle</strong> que tens a continuació i busca la que correspongui al teu diàmetre.</li>
                                <li><strong>Quan compris un anell a la botiga online</strong>, només caldrà que introdueixis aquest número.</li>
                                <li><strong>Si reps l’anell i no et va bé</strong>, no et preocupis: te’l posaré a mida.</li>
                            </ol>
                        </div>

                </fieldset>

            {% endif %}
















            </div>
             <div id="final-price"> <span class="preu-producte"></span> &#8364;</div>
            <input class="add-to-cart black-button" type="button" value="AFEGIR AL CARRET" onclick="submitToCart(this)">
            <div id="missatge-lent" class="missatge-enviament">{{ loc.pro_enviament_lent }}</div>
            <div id="missatge-rapid" class="missatge-enviament" style="display: none">{{ loc.pro_enviament_rapid }}</div>
            <div id="missing-info" class="popup-info"><p>Siusplau introdueix tots els detalls</p></div>
        </form>
    <div class="info">
            <div class="desplegable">
                <div class="titol-desplegable" onclick="showInfoDropdown(this, this.nextElementSibling, this.lastElementChild)"><div class="clickable under-hover">Informació del producte</div><div class="arrow">+</div></div>
                <div class="info-desplegable">
                    <ul>
                        <li>Material: Plata de llei 925</li>
                        <li>Pedra:</li>
                        <li>Xapat d’or de 3 micras</li>
                    </ul>
                    <p>Aquestes joies estan fetes artesanalment, per això poden presentar subtils variacions que les fan úniques i especials.</p>
                </div>
            </div>
            <div class="desplegable">
                <div class="titol-desplegable" onclick="showInfoDropdown(this, this.nextElementSibling, this.lastElementChild)"><div class="clickable under-hover">Cura de la peça</div><div class="arrow">+</div></div>
                <div class="info-desplegable">
                    <p>Per preservar-ne l’aspecte original, recomanem evitar el contacte amb líquids, com perfums, cremes o aigua. Si la peça de plata s’ennegreix amb l’ús, es pot netejar suaument amb bicarbonat per recuperar-ne la brillantor inicial.</p>
                    <div class="subtitol-desplegable"> Nota sobre el xapat en or</div>
                    <p>Si la peça està xapada en or, és important tenir en compte que amb el pas del temps i l’ús habitual, el xapat pot desgastar-se. En cas que això succeeixi, oferim la possibilitat de tornar-la a xapar per un cost de 20€. Si és necessari enviar la peça, les despeses d’enviament aniran a càrrec del client. Per més informació <a href="mailto:infopanson@gmail.com">infopanson@gmail.com</a></p>
                </div>
            </div>
            <div class="desplegable">
                <div class="titol-desplegable" onclick="showInfoDropdown(this, this.nextElementSibling, this.lastElementChild)"><div class="clickable under-hover">Enviament</div><div class="arrow">+</div></div>
                <div class="info-desplegable">
                    <p>Cada peça es fabrica artesanalment al nostre taller especialment per a tu, per això el temps de preparació és d’entre 15 i 21 dies laborables.<br>
                    El termini d’enviament pot variar en funció del país de destinació. Rebràs un correu electrònic amb el número de seguiment tan bon punt s’hagi enviat el paquet.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="subtitol-galeria">{{ loc.pro_tiol_galeria }}</div>


