<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.png">
    {% if len == 1 %}
        <title>PANSON: {{ all_data[0]["nom"] }}</title>
    {% else %}
        <title>PANSON: {{ loc.pro_productes }}</title>
    {% endif %}
    <link href='/static/navigation.css' rel='stylesheet'>
    <link href='/static/index.css' rel='stylesheet'>
    <link href='/static/productes.css' rel='stylesheet'>
</head>

{% for data in all_data %}
    <div class="content">
        {% if data["imatges"] %}
            <div class="foto_producte" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ data["imatges"][0] }}?alt=media')"></div>
        {%  else %}
            <div class="foto_producte"></div>
        {%  endif %}
        <div class="detalls">
        {% if "nom" in data %}
            <div class = "titol_producte">
                {{ data["nom"] }}
            </div>
        {% endif %}
        {% if data["descripcio"] %}
            {% autoescape false %}
            <div class = "descripcio_producte">
                {{ data["descripcio"]}}
            </div>
            {% endautoescape %}
        {% endif %}

        <div class = "detalls_generals">
            {{ loc["pro-missatge"] }}<br><br>
            <img class="small-icon" src="/static/media/shield.svg" alt="garantia">&nbsp;{{ loc["pro-garantia"] }} <br>
            <img class="small-icon" src="/static/media/reload.svg" alt="devolucions">&nbsp;{{ loc["pro-devolucio"] }}<br>
            </div>
        </div>
    </div>
{% endfor %}