<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if len == 1 %}
        <title>PANSON: {{ producte.nom }}</title>
    {% else %}
        <title>PANSON: {{ loc.pro_productes }}</title>
    {% endif %}
    <link href='/static/navigation.css' rel='stylesheet'>
    <script src="/static/scripts/jquery.js"></script>

    <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>
    <script defer type="text/javascript" src="/static/scripts/producte2.js"></script>
    <link href='/static/galeria.css' rel='stylesheet'>
    <link href='/static/producte2.css' rel='stylesheet'>

</head>
<body>

<div class="content-producte">
    <div class="main-foto {{ "clickable" if utils.len(producte.imatges) >1  }}"  onclick="{{ 'showPopup(this, this.nextElementSibling, cross=false)' if utils.len(producte.imatges) >1 }}" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ producte.imatges[0] }}?alt=media')">
	    {% if utils.len(producte.imatges) >1%}
	    <div class=more-images>+{{utils.len(producte.imatges)-1}} imatges</div>
	    {% endif %}
    </div>
    <div class="popup-info" id="slideshow-producte" onclick="event.stopPropagation()">
	    <div id="fotos-producte">
        	{% for n, imatge in utils.enumerate(producte._imatges2) %}
            	    <div class="foto_producte {{ "current" if n==0 }}" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ imatge }}?alt=media')"></div>
        	{% endfor %}
            {% if utils.len(producte.imatges) == 0 %}
                <div class="foto_producte current" style="top:50%;left:45%">Sense foto</div>
            {% endif %}
        </div>
            {%if utils.len(producte.imatges) >1%}
                <div class="slideshow-left slideshow-button" onclick="slideshowPrev('producte')"><</div>
                <div class="slideshow-right slideshow-button" onclick="slideshowNext('producte')">></div>
                <div class="slideshow-progress"></div>
            {% endif %}

    </div>
</div>
<div id="main-details">
	<div id="main-left">
    	    <div id="titol_producte" onclick="scrollToDetails()">{{ producte.nom }}</div>
        <div id="more-details" class="under-hover clickable" onclick="displayAllDetails(this)">Més detalls</div>

	</div>
    <div id="all-details" style="display: none">
        <div id="product-description" >{{ producte.descripcio }}</div>
        <div class="info">
            <div class="desplegable">
                <div class="titol-desplegable" onclick="showInfoDropdown(this, this.nextElementSibling, this.lastElementChild)"><h3 class="clickable under-hover">Informació del producte</h3><div class="arrow">+</div></div>
                <div class="info-desplegable">
                    <ul>
                        <li>Material: Plata de llei 925</li>
                        <li>Pedra:</li>
                        <li>Xapat d’or de 3 micras</li>
                    </ul>
                    <p>Aquestes joies estan fetes artesanalment, per això poden presentar subtils variacions que les fan úniques i especials.</p>
                </div>
            </div>
            <div class="desplegable">
                <div class="titol-desplegable" onclick="showInfoDropdown(this, this.nextElementSibling, this.lastElementChild)"><h3 class="clickable under-hover">Cura de la peça</h3><div class="arrow">+</div></div>
                <div class="info-desplegable">
                    <p>Per preservar-ne l’aspecte original, recomanem evitar el contacte amb líquids, com perfums, cremes o aigua. Si la peça de plata s’ennegreix amb l’ús, es pot netejar suaument amb bicarbonat per recuperar-ne la brillantor inicial.</p>
                    <h4> Nota sobre el xapat en or</h4>
                    <p>Si la peça està xapada en or, és important tenir en compte que amb el pas del temps i l’ús habitual, el xapat pot desgastar-se. En cas que això succeeixi, oferim la possibilitat de tornar-la a xapar per un cost de 20€. Si és necessari enviar la peça, les despeses d’enviament aniran a càrrec del client. Per més informació <a href="mailto:infopanson@gmail.com">infopanson@gmail.com</a></p>
                </div>
            </div>
            <div class="desplegable">
                <div class="titol-desplegable" onclick="showInfoDropdown(this, this.nextElementSibling, this.lastElementChild)"><h3 class="clickable under-hover">Enviament</h3><div class="arrow">+</div></div>
                <div class="info-desplegable">
                    <p>Cada peça es fabrica artesanalment al nostre taller especialment per a tu, per això el temps de preparació és d’entre 15 i 21 dies laborables.<br>
                    El termini d’enviament pot variar en funció del país de destinació. Rebràs un correu electrònic amb el número de seguiment tan bon punt s’hagi enviat el paquet.</p>
                </div>
            </div>
        </div>
    </div>

	<div id="main-right">
		<button id="buy" class="under-hover clickable black-button" onclick="displayBuyOptions(this)">Comprar</button>
	</div>
</div>

<form action="/{{ lan }}/carret/add" method="post" enctype="multipart/form-data" id="form">
    <input value="{{ producte._id }}" name="id" style="display: none">
    <button id="close-options" type="button" class="popup-cross" onclick="hideBuyOptions()">X</button>
    <div id="buy-options">

	{% if "materials" in producte.opcions %}
		<fieldset  name="text:material" class="materials {{ "hide" if utils.len(producte.opcions["materials"].keys()) == 1 }}" >
			<legend>Seleciona un material</legend>
			{% for n, (material, info) in utils.enumerate(producte.opcions["materials"].items()) %}
				<div>
					<input type="radio" name="material" price="{{ info["preu"] }}" class="material" value="{{ material }}" {{ "checked" if n==0 }}  onchange="updatePrice()"/>
					<label>{{ material }}</label>
				</div>
			{% endfor %}
		</fieldset>
	{% endif %}


        {% if "variacions" in producte.opcions %}
            <fieldset  name="text:variacio" class="option-field variacions {{ "hide" if utils.len(producte.opcions["variacions"].keys()) == 1 }}" >
                <legend>Seleciona una variacio</legend>
                {% for n, (variacio, info) in utils.enumerate(producte.opcions["variacions"].items()) %}
                    <div>
                        <input type="radio" name="variacio" price="{{ info["preu"] }}" class="variation variacio" value="{{ variacio }}" {{ "checked" if n == 0 }}  onchange="updatePrice()"/>
                        <label>{{ variacio }}</label>
                    </div>
                {% endfor %}
            </fieldset>
        {% endif %}


        {% if producte.opcions.get("n_colors", 0) >0 %}
            <fieldset class="colors_producte option-field">
                {% if producte.opcions.get("n_colors", 1) >1 %}
                    <legend>Colors</legend>
                {% else %}
                    <legend>Color</legend>
                {% endif %}
                {% for n in range(producte.opcions.get("n_colors", 1)) %}
		<span>
                    {% if producte.opcions.get("extra_colors", None) %}
                        {{ loc[producte.opcions["extra_colors"][n]] }}:
                    {% else %}
                        {{ n+1 }}:
                    {% endif %}
                    <select name="color" price="0" class="color-selector" onchange="updatePrice()">
                        <option class="color-option" value="" {{ "selected=\"selected\"" if opcions["color"] == "None" }} ></option>
                        {% for color, info in producte.opcions["colors"].items() %}
                        <option class="color-option" price="{{ info["preu"]}}" value="{{ color }}" {{ "selected=\"selected\"" if color == opcions["color"][n] }}> {{ color }}</option>
                        {% endfor %}
                    </select>
		</span>
                    <br>
                {% endfor %}
            </fieldset>
        {% endif %}

        {% if producte["totes_talles"] or "totes" in producte.opcions.get("talles", {}) %}
            <fieldset class="talles_producte option-field">
                <legend>Talla</legend>
                <span><input type="number" name="talla" class="talla talla-unica " required
                           min="0"
                           max="99"
                           step="1"
                           list="defaultSizes"
                           maxlength="2"
                           {{"value={}".format(opcions["talla"]) if opcions["talla"] != "None" }}>
			<br>
                    <em id="info-talles" class="clickable under-hover" onclick="showPopup(this, this.nextElementSibling)">Descobreix la teva talla</em>
                    <div class="popup-info" id="popup-talles" onclick="event.stopPropagation()">
                    <h3>Graella de talles internacional</h3>
                        <p>És molt fàcil! A continuació t’expliquem pas a pas què has de fer:</p>
                        <ol>
                            <li><strong>Agafa un anell que et vagi bé</strong> i assegura’t que tant aquest com el que vols comprar siguin per al mateix dit i la mateixa mà (cada dit pot tenir una mida diferent). Millor si és fi i regular, com una aliança. L’important és que quedi ben recolzat sobre el paper.</li>
                            <li><strong>Dibuixa la circumferència interior</strong> de l’anell sobre el paper i mesura el diàmetre. Recorda tenir en compte el gruix del llapis quan facis la marca.</li>
                            <li><strong>Consulta la taula de talle</strong> que tens a continuació i busca la que correspongui al teu diàmetre.</li>
                            <li><strong>Quan compris un anell a la botiga online</strong>, només caldrà que introdueixis aquest número.</li>
                            <li><strong>Si reps l’anell i no et va bé</strong>, no et preocupis: te’l posaré a mida.</li>
                        </ol>
                    </div>
                </span>
            </fieldset>
        {% elif producte.opcions["talles"] %}
            <fieldset class="talles_producte option-field">
                <legend>Talles disponibles</legend>
                {% for talla, info in producte.opcions["talles"].items() %}
                    {% if opcions["talla"] %}
                        {% if  opcions["talla"].strip() == utils.str(talla) %}
                            <label class="talla-label"><input name="talla" type="radio" class="talla-radio" id="selected-talla" value="{{ talla }} ">{{ talla }}</label>
                        {%  else %}
                            <label class="talla-label"><input name="talla" type="radio" class="talla-radio" value="{{ talla }}" checked="checked">{{ talla }}</label>
                        {%  endif %}
                    {%  else %}
                            <label class="talla-label"><input name="talla" type="radio" class="talla-radio" value="{{ talla }}">{{ talla }}</label>
                    {%  endif %}
                {% endfor %}
            </fieldset>
        {% endif %}

    </div>
     <div class="preu-final"> <span id="final_price"></span> &#8364;</div>
	<input class="add-to-cart black-button" type="button" value="AFEGIR AL CARRET" onclick="submitToCart(this)">
	<div id="missing-info" class="popup-info"><p>Siusplau introdueix tots els detalls</p></div>

</form>

