<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico">
    {% if len == 1 %}
        <title>PANSON: {{ producte.nom }}</title>
    {% else %}
        <title>PANSON: {{ loc.pro_productes }}</title>
    {% endif %}
    <link href='/static/navigation.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>
    <link href='/static/galeria.css' rel='stylesheet'>
    <link href='/static/producte.css' rel='stylesheet'>

</head>


<div class="content-producte">
    <div class="fotos">
        {% for imatge in producte.imatges %}
            <div class="foto_producte" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ imatge }}?alt=media')"></div>
        {% endfor %}
    </div>
        <div class="detalls">
            <div class = "titol_producte">
                {{ producte.nom }}
            </div>
            <div class = "tipus_producte">
                {{ loc["tip-"+ producte.tipus] }}
                {% if producte.subtitol != "" %}
                    <div class="punt-subtitol-producte">/</div>
                    <div class="subtitol-producte"> {{ producte.subtitol }}</div>
                {% endif %}
            </div>
            {% autoescape false %}
                <div class = "descripcio_producte">
                    {{ producte.descripcio}}
                </div>
            {% endautoescape %}
            <form class="opcions" action="{{ opcions }}/afegir_al_carret" method="POST">

            {% if producte.opcions %}
                {{ opcions }}
                {{ producte.opcions.__dict__ }}
                <br>
                <span>
                    {% if producte.opcions.totes_les_talles or loc.len(producte.opcions.talles) == 0%}
                        Talla:
                        <input type="number" name="number:talla" class="talla-unica"
                                   min="0"
                                   max="99"
                                   step="1"
                                   list="defaultSizes"
                                   maxlength="2"
                                   {{"value={}".format(opcions.talla) if opcions.talla != "None" }}
                            >
                        {% else %}
                        Talles disponibles:
                        {% for talla in producte.opcions.talles %}
                            {% if  opcions["talla"] == talla %}
                                <button type="button" class="talla" id="selected-talla" >{{ talla }}</button>
                            {%  else %}
                                <button type="button" class="talla" onclick="location.href='{{ "/"+loc.lan+"/productes/"+producte.id+"?material={}&variacio={}&talla={}&color={}".format(opcions["material"], opcions["variacio"], talla, opcions["color"]) }}'">{{ talla }} </button>
                            {%  endif %}
                        {% endfor %}
                            <br>
                        {% endif %}
                    <input class="afegir_carret" type="submit" value="AFEGIR AL CARRET"></span>

            {% endif %}
                {% if producte.material %}
                    <div class = "materials">
                        {% for mat in producte.mats %}
                            {% if  opcions["material"] == mat %}
                                <input class="material-boto" id="selected-material" name="int:talla" style="background-color: {{ loc.colors[mat] }};" onclick="location.href='{{ "/"+loc.lan+"/productes/"+producte.id+"?material={}&variacio={}&talla={}&color={}".format(mat, opcions["variacio"], opcions["talla"], opcions["color"]) }}'"></input>
                            {%  else %}
                                <button class="material-boto" style="background-color: {{ loc.colors[mat] }};" onclick="location.href='{{ "/"+loc.lan+"/productes/"+producte.id+"?material={}&variacio={}&talla={}&color={}".format(mat, opcions["variacio"], opcions["talla"], opcions["color"]) }}'"></button>
                            {%  endif %}
                        {% endfor %}
                    </div>


                    {% if producte.vars %}
                        <div class="titol-variacions">{{ loc.pro_variacions_disponibles }}</div>
                        <div class="variacions">
                            {% for var, info in producte.vars %}
                                {% if  var == opcions["variacio"] %}
                                    <div class="variacio"  onclick="location.href='{{ "/"+loc.lan+"/productes/"+data.id+"/"+material+"/"+var}}'"><span class="variacio-cercle" id="selected-var-cercle" ></span><div class="variacio-text" id="selected-var-text"> {{ loc["var-"+var] }} </div>
                                {% else %}
                                    <div class="variacio" onclick="location.href='{{ "/"+loc.lan+"/productes/"+data.id+"/"+material+"/"+var}}'"><span class="variacio-cercle" ></span><div class="variacio-text"> {{ loc["var-"+var] }} </div>
                                {% endif %}
                                {% if "preu" in info %}
                                    <div class="variacio-preu">{{ info.preu }} &#8364; </div>
                                {% endif %}
                                    </div>
                            {% endfor %}
                        </div>
                        </div>
                        {% endif %}
                {% endif %}

            </form>

            <div class = "detalls_generals">
                {{ loc.pro_missatge }}<br><br>
                <img class="small-icon" src="/static/media/shield.svg" alt="garantia">{{ loc.pro_garantia }} <br>
                <img class="small-icon" src="/static/media/reload.svg" alt="devolucions">{{ loc.pro_devolucio }}<br>
            </div>

    </div>
</div>


<datalist id="defaultSizes">
  <option value="10"></option>
  <option value="12"></option>
  <option value="14"></option>
  <option value="16"></option>
  <option value="18"></option>
</datalist>

