{% extends "base.html" %}


{% block imports %}
    <link href='/style/stripe.css' as='style' rel='preload'>
    <link href='/style/stripe.css' rel='stylesheet'>
    <script src="https://js.stripe.com/basil/stripe.js"></script>
    <script src="/scripts/stripe.js" defer></script>

{% endblock %}
{% block tag %}
{% endblock %}

{% block body %}
    <div id="nav-color" navColor="opaque"></div>

<div id="checkout">
        <!-- Checkout will insert the payment form here -->
</div>
    <a style="display: none" id=change_email href="/checkout/checkout/stripe/force_new">Use another Email</a>

{% endblock %}