
{% extends "base.html" %}
{% block head %}
    <title>PANSON: Pagaments</title>
{% endblock %}

{% block imports %}
    <link href='/style/stripe.css' as='style' rel='preload'>
    <link href='/scripts/success.js' as='script' rel='preload'>

    <link href='/style/stripe.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/scripts/success.js"></script>
{% endblock %}

{% block body %}
<script>
window.onload = function(){
    showInvoice("{{ invoice['hosted_invoice_url'] }}");
}
</script>
    <div id="nav-color" navColor="opaque"></div>
  <div class="content-success">
      <span class="success-titol loc" loc="conf_titol">{{ loc.conf_titol | safe}}</span>
      <span class="selectable"><span class="loc" loc="conf_id_pagament">{{ loc.conf_id_pagament | safe}}</span> <a class="selectable under-hover underlined" target="_blank" href="{{ invoice['hosted_invoice_url'] }}">{{ invoice["number"] }} </a><span class="loc" loc="conf_id_pagament_2">{{ loc.conf_id_pagament_2 | safe}}</span></span>
      <span><span class="loc" loc="conf_text_email">{{ loc.conf_text_email | safe}}</span> <span class="underlined"> {{ session["customer_details"]["email"] }}</span> <span class="loc" loc="conf_text_email_2">{{ loc.conf_text_email_2 | safe}}</span></span>
      <span><span class="loc" loc="conf_text_1">{{ loc.conf_text_1 | safe}}</span><a class="selectable underlined" href="mailto:{{ loc.email_sales }}">{{ loc.email_sales }}</a><span class="loc" loc="conf_text_2">{{ loc.conf_text_2 | safe}}</span></span>

      <div class="underlined success-home"><a href="/{{ loc.lan }}/productes/"><span class="loc" loc="conf_tornar">{{ loc.conf_tornar |safe }}</span></a></div>

  </div>


{% endblock %}
