<!doctype html>
<html lang="{{ loc.lan }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PANSON: Pagaments</title>
    <link href='/style/navigation.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/static/scripts/navigation.js"></script>
    <link href='/style/stripe.css' rel='stylesheet'>
</head>

<body>
  <div class="content-success">
      Compra realitzada amb exit! Qualsevol dubte contacti amb:
      <a href="mailto:panson.joieria@gmail.com">panson.joieria@gmail.com</a>.
      <a href="/{{ loc.lan }}/productes/">Tornar a la botiga</a>.
      {{ cs }}
  </div>
</body>
</html>