
{% extends "base.html" %}
{% block head %}
    <title>PANSON: Pagaments</title>
{% endblock %}

{% block imports %}
    <link href='/style/stripe.css' as='style' rel='preload'>
    <link href='/scripts/success.js' as='script' rel='preload'>

    <link href='/style/stripe.css' rel='stylesheet'>
    <script defer type="text/javascript" src="/scripts/success.js"></script>
{% endblock %}

{% block body %}
<script>
window.onload = function(){
    showInvoice("{{ invoice['hosted_invoice_url'] }}");
}
</script>
  <div class="content-success">
      <h4>Compra realitzada amb exit!</h4>
      <p>En breus rebras la confirmacio de pagament a: {{ session["customer_details"]["email"] }}</p>
      <p>Qualsevol dubte contacti amb:</p>
      <a class="selectable under-hover" href="mailto:{{ loc.email_sales }}">{{ loc.email_sales }}</a>
      <br><br>
      <b><a href="/{{ loc.lan }}/productes/">Tornar a la botiga</a></b>
      <br><br>
      <span class="selectable">ID de pagament: <a class="selectable under-hover" target="_blank" href="{{ invoice['hosted_invoice_url'] }}">{{ invoice["number"] }}</a></span>
  <br><br> <br><br> <br><br>
      <p>Recarregar aquesta pagina re-enviara el correu i re-mostrara el rebut.</p>
  </div>

{% endblock %}