{% macro info_talles() %}
                                <h3>{{loc.pro_popup_talles_titol}}</h3>
                                <p>{{loc.pro_popup_talles_p1 | safe}}</p>
                            <ol>
                                    <li><strong>{{loc.pro_talles_t1}}</strong>{{loc.pro_talles_c1 | safe}}</li>
                                    <li><strong>{{loc.pro_talles_t2}}</strong>{{loc.pro_talles_c2 | safe}}</li>
                                    <li><strong>{{loc.pro_talles_t3}}</strong>{{loc.pro_talles_c3 | safe}}</li>
                                    <li><strong>{{loc.pro_talles_t4}}</strong>{{loc.pro_talles_c4 | safe}}</li>
                                    <li><strong>{{loc.pro_talles_t5}}</strong>{{loc.pro_talles_c5 | safe}}</li>
                            </ol>
                            <div class="table-container">
                                {{ utils.table("static/MIDES_PANSON.xlsx", onclick_cell='selectSizeTable(this);', skip_rows=[0])|safe }}
                            </div>




{% endmacro %}

{% extends "base.html" %}
{% block imports %}
<link href='/style/talles.css' as='style' rel='preload'>                                                                                                <link href='/style/talles.css' rel='stylesheet'>

{% endblock %}


{% block body %}
    <div id="nav-color" navColor="opaque"></div>

<div class="content-talles">
	{{ info_talles() }}
</div>



{% endblock %}


