<!doctype html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype="multipart/form-data" action="/cat/test/">
      <input type=file name=file multiple accept="image/*">
      <input type=submit value=Upload>
    </form>

{{ request.form }}




        <div class="filtres">
            <button class="boto-filtres">Filtrar</button>
            <div class="desplegable-filtres">
                <form method="GET" action="/{{ loc.lan }}/productes/">
                    <div id="titol-filtres"><h3>Filtres</h3></div>
                <div class="filtre">
                    <div class="titol-filtre" id="filtre-colleccio">Colleccio</div>
                    {% for n, col in utils.enumerate(productes.col_names) %}
                    <label><input type="checkbox" name="collecio#{{ n }}" id="collecio-{{ col }}" value="{{ col }}" {{ "checked" if filters["collecio"] == "totes" or utils.lower(col) in filters["collecio"]  }}/>{{ col }}</label><br>
                    {% endfor %}
                    <label><input type="checkbox" name="unica" id="collecio-unica" value="true" {{ "checked" if filters["unica"] == "totes" or filters["unica"] == "true"  }}/>Uniques</label><br>

                </div>
                <br>
                <div class="filtre">
                    <div class="titol-filtre" id="filtre-tipus">Tipus de peca</div>
                    {% for n, tipus in utils.enumerate(productes.tipus) %}
                    <label><input type="checkbox" name="tipus#{{ n }}" id="tipus-{{ tipus }}" value="{{ tipus }}" {{ "checked" if filters["tipus"] == "totes" or utils.lower(tipus) in filters["tipus"]}}/>{{ tipus }}</label><br>
                    {% endfor %}
                </div>

                <button type="submit" value="Filtrar">Filtrar</button>
                </form>
            </div>
        </div>