{% extends "base.html" %}
{% block head %}
    <title>PANSON: {{ loc.uni_titol_curt }}</title>
{% endblock %}

{% block imports %}
    <link href='/style/collecio.css' rel='stylesheet'>
    <link href='/style/uniques.css' rel='stylesheet'>

{% endblock %}

{% block body %}


{% for producte in productes_filtrats %}
    <div class="content" >
	<div class="producte-gran" id="{{ producte._id }}">
            {% if producte.imatges %}
	    	<div class="fons_collecio" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/panson.firebasestorage.app/o/productes%2F{{ producte.imatges[0] }}?alt=media')">
	    	</div>
            {%  endif %}
            <div class = "titol-collecio" onclick="location.href='/{{ loc.lan }}/productes/{{ producte._id }}'">
		    {{ producte.nom }}
	    
            <div class = "descripcio">
		    {{ producte.subtitol }}
	    </div>
	    </div>
	</div>
    </div>
{% endfor %}
{% endblock %}
