/* Add styles here */

@font-face {
  font-family: myFont;
  src: url('/static/fonts/AlteHaasGroteskRegular.ttf');
}

* {
    font-family: myFont;
}

body {
    padding: 0 0;
    margin: 0 0;
}
/* Estils generals per als enllaços */
.content {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    align-content: center;


}


.first_slide{
    background-image: url('/static/media/first_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


.title{
    background-image: url('/static/media/logo-complet.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10dvh;
    font-weight: bold;
    color: rgba(240, 248, 255, 0.9);
    height: 20dvh;
    user-select: none;
    margin: 5dvh;
}
.title:hover{
    cursor: default;
}

@media screen and (orientation: portrait) {
    .title{
        font-size: 5dvw;
    }
}

